/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/* Top hook CSS */
#ptsstaticontent_top {
  margin-bottom: 0; }
  #ptsstaticontent_top .image-banner {
    margin-top: 10px;
    margin-bottom: 10px; }
    @media (max-width: 1199px) {
      #ptsstaticontent_top .image-banner {
        margin-top: 20px;
        margin-bottom: 20px; } }

/* Left hook CSS */
#ptsstaticontent_left .nopadding {
  padding: 0; }

/* Right hook CSS */
#ptsstaticontent_left .nopadding {
  padding: 0; }

/*bottom hook css*/
#ptsstaticontent_bottom {
  background-color: #FFFFFF;
  padding: 20px; }

/* Footer hook CSS */
#ptsstaticontent_footertop .staticontent-item {
  padding: 0; }
  #ptsstaticontent_footertop .staticontent-item .image-banner {
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 20px; }
    .rtl #ptsstaticontent_footertop .staticontent-item .image-banner {
      padding-left: 20px;
      padding-right: inherit; }
    .rtl #ptsstaticontent_footertop .staticontent-item .image-banner {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      border-right: inherit; }
    .rtl #ptsstaticontent_footertop .staticontent-item .image-banner {
      margin-left: 20px;
      margin-right: inherit; }
  #ptsstaticontent_footertop .staticontent-item .item-html {
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
    display: inline-flex; }
    .rtl #ptsstaticontent_footertop .staticontent-item .item-html {
      float: right; }
  #ptsstaticontent_footertop .staticontent-item p {
    margin-bottom: 0;
    padding: 10px 0; }
