/* block top links */
ul#header_links {
	list-style-type: none;
	float: left;
}
#header_links li {
	float: left;
	padding: 15px 5px 15px 0px;
	border-left: 1px solid #fff !important;
}
#header_links a {
	text-align: center;
}
#header_links a:hover {
	color: #BA2B31;
	text-decoration: none;
}
#header_links .separator{
	position: relative;
	top: -1px;
	}