/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
#pts-top-menu {
  padding: 0; }

@media (max-width: 768px) {
  .navbar-header .navbar-toggle {
    display: block;
    float: right;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 0px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color:#D8262E;
    padding: 14px;
    border: none;
    color: #fff; }
    .navbar-header .navbar-toggle:active {
      background-color: #D8262E; }
      .navbar-header .navbar-toggle:hover .icon-bar {
        background-color: #FFFFFF; }
    .navbar-header .navbar-toggle .icon-bar {
      background-color: #FFFFFF;
      width: 16px; }

  #pts-top-menu {
    padding: 0; }

  .pts-megamenu .navbar-nav {
    margin: 0;
    width: 100%; }
    .pts-megamenu .navbar-nav > li {
      position: relative;
      background-color: #D8262E;
      border-bottom: 1px solid #fff;
      margin: 0 0 1px;
      width: 100% }
      .pts-megamenu .navbar-nav > li > a {
        padding: 15px;
        color: #fff; }
      .pts-megamenu .navbar-nav > li.destacado a {
          color: #fff !important;
      }
      .pts-megamenu .navbar-nav > li.destacado{
          background-color: #A51D23;
      }
        .pts-megamenu .navbar-nav > li > a:before {
          width: 100%;
          height: 2px; }
      .pts-megamenu .navbar-nav > li > .dropdown-menu {
        width: 96% !important;
        margin: 0 10px;
        top: 0;
        position: relative;
        background-color: #fff; }
  .pts-megamenu .dropdown-menu .dropdown-submenu:hover .dropdown-menu {
    left: 0;
    top: 25px; }
    .rtl .pts-megamenu .dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      right: 0;
      left: auto; }
  .pts-megamenu .mega-col {
    width: 100%;
    display: inline-block; } }
@media (max-width: 480px) {
  .pts-megamenu .product-block .product-container.w-product {
    width: 100%; } }

@media(max-width: 390px){
  .pts-megamenu .navbar-nav > li > .dropdown-menu{
    margin: 0 5px;
  }
}

.megamenu span.product-price {
    display: block;
    line-height: 1;
    margin-top: 10px;
    font-size: 16px;
}

.megamenu .content_price_percent.sale-percent-box {
    color: #fff;
    background-color: #D8262E;
    font-size: 15px;
    font-weight: 600;
    padding: 0px 10px;
}

.pts-megamenu .navbar-nav > li.destacado a {
    color: #D8262E;

}

