<div>

  <p>Su transacci&oacute;n no ha podido ser procesada, por favor vuelva a   intentarlo , y si el problema persiste comun&iacute;quese con su banco emisor<br />

      <br />

    Si desea confirmar su compra porfavor cont&aacute;ctese con

       <a href="mailto:ventas@santavictoria.cl ">ventas@santavictoria.cl </a></p>

</div>