<p class="payment_module">
	<a href="javascript:$('#webpay_form').submit();" title="{l s='Pago con WebPay pesos chilenos' mod='webpay'}" style="padding-left: 0;">
		<img src="{$module_template_dir}/web-pay-adq.gif" alt="{l s='Pago con WebPay pesos chilenos' mod='webpay'}" />
		{l s='Pago con WebPay pesos chilenos' mod='webpay'}
	</a>
</p>
		
<form action="{$url_enviar}" method="post" id="webpay_form" class="hidden">
	<input type="hidden" name="id" value="{$id_cart}">
	<input type="hidden" name="monto" value="{$total}">
	<input type="hidden" name="token" value="{$token}">
</form>