/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
#header_user_info {
  padding-right: 10px; }
  .rtl #header_user_info {
    padding-left: 10px;
    padding-right: inherit; }

.header_user_info ul li {
  line-height: 25px; }
  .header_user_info ul li i {
    margin-right: 6px; }
    .rtl .header_user_info ul li i {
      margin-left: 6px;
      margin-right: inherit; }
  .header_user_info ul li a:hover {
    font-weight: bold; }
