<li><a href="{$link->getModuleLink('giftcertificate', 'gifts')}" title="{l s='Check gifts that you bought' mod='giftcertificate'}"><i class="icon-gift"></i><span>{l s='Gifts that I bought' mod='giftcertificate'}</span></a></li>