@import "compass";
@import "theme_variables";
.ptsutilproductcarousel{
	 .product-gallery .thumbs-wrap {
	 	 display: none;
	}
}
.ptsutilproductcarousel{
	 .product-block {
		margin: 5px 0;
	 }
}