@import "compass";
@import "theme_variables";
/*UtilCarousel Base Style*/
.util-carousel {
	display: none;
	-ms-touch-action: pan-y;
}
.util-carousel .util-wrapper-holder {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.util-carousel .util-wrapper {
	*zoom: 1;
	position: relative;
	display: none;
}
.util-carousel .util-wrapper:before, .util-carousel .util-wrapper:after {
	display: table;
	content: "";
	line-height: 0;
}
.util-carousel .util-wrapper:after {
	clear: both;
}
.util-carousel .util-item {
	float: left;
}
.dragging, .dragging * {
	cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move;
}
/**/
.util-carousel  .util-wrapper,
.util-carousel  .util-item{
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
  	-webkit-transform: translate3d(0,0,0);
}
/*UtilCarousel Defualt Theme*/
.util-theme-default .util-pagination {
	text-align: center;
	margin-top: 10px;
}
.util-theme-default .util-page span {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #bbb;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin: 5px;
}
.util-theme-default .util-page {
	display: inline-block;
	cursor: pointer;
	zoom: 1;
	*display: inline;
}
.util-theme-default  .util-page.active-page span {
	background-color: #555555;
}
.util-theme-default  .util-page:hover span {
	background-color: #888;
}
.util-theme-default .util-disable, .util-theme-default .util-disable:hover {
	background-color: #fefefe;
	opacity: 0.4;
	cursor: default;
}


.util-theme-default .util-navigation{  
    position: absolute;
     @include rtl-right(0px);
    top: -35px;
    z-index: 1;
    height: 16px;
    width: 34px;
    line-height: 11px;
    .util-prev, .util-next{
        @include size (16px ,16px);
        background: none;
        text-shadow: none;
        opacity: 1;
        color: $black;
        font-family: sans-serif;
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 10px;
        display: inline-block;
        border: 1px solid #afafaf;
        padding: 0;
		text-align: center;
        margin: 0;
        position: absolute;
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        &:hover{
            background: transparent;
            color: $theme-color;
        
        }
    }
    .util-prev{
    	@include rtl-left(0);
    }
    .util-next {
		@include rtl-right(0);
    }
}