$helveticaneue-font-path:        "../font/HelveticaNeue";
$helveticaneuebold-font-path:    "../font/HelveticaNeue-Bold";
$helveticaneuelight-font-path:   "../font/HelveticaNeue-Light";

//---------Font helvetica neue -----------------------
@font-face {
    font-family: 'HelveticaNeue';
    src: url('#{$helveticaneue-font-path}/HelveticaNeue.eot?') format('eot'), 
         url('#{$helveticaneue-font-path}/HelveticaNeue.otf')  format('opentype'),
         url('#{$helveticaneue-font-path}/HelveticaNeue.woff') format('woff'), 
         url('#{$helveticaneue-font-path}/HelveticaNeue.ttf')  format('truetype'),
         url('#{$helveticaneue-font-path}/HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('#{$helveticaneuebold-font-path}/HelveticaNeue-Medium.eot?') format('eot'), 
         url('#{$helveticaneuebold-font-path}/HelveticaNeue-Medium.otf')  format('opentype'),
         url('#{$helveticaneuebold-font-path}/HelveticaNeue-Medium.woff') format('woff'), 
         url('#{$helveticaneuebold-font-path}/HelveticaNeue-Medium.ttf')  format('truetype'),
         url('#{$helveticaneuebold-font-path}/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('#{$helveticaneuelight-font-path}/HelveticaNeue-UltraLight.eot?') format('eot'), 
         url('#{$helveticaneuelight-font-path}/HelveticaNeue-UltraLight.otf')  format('opentype'),
         url('#{$helveticaneuelight-font-path}/HelveticaNeue-UltraLight.woff') format('woff'), 
         url('#{$helveticaneuelight-font-path}/HelveticaNeue-UltraLight.ttf')  format('truetype'),
         url('#{$helveticaneuelight-font-path}/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
}

