
/***/

#social_block {
  ul {
    width: 100%;
    margin-top: 0px;
    @include rtl-text-align-right();
    li {
      @include rtl-margin-left(10px);
      text-align: center;
      padding: 5px 0 0;
      display:  inline-block;
      a {
        @include size(30px, 30px);
        line-height: 30px;
        display: inline-block;
        font-size: $font-size-base + 3 !important;
        @include border-radius(2px);
        position: relative;
        z-index: 1;
        color: $white;
        text-indent: -9999em;
       
        &:before {
          font-family: $font-icon;
         @include border-radius(2px);
          position: absolute;
          width: 100%;
          content: "";
          height: 100%;
          left: 0;
          font-weight: 300;
          text-indent:initial;
        @include transition (all 0.3s ease 0s);
        }
        &:hover {
          &:before {
          }
        }
      }
      &.facebook {
        a {
          &:before {
            content: "\f09a";
              background-color:$brand-primary; 
          }
          &:hover {
            &:before {
              background-color: darken($brand-primary,10%); 
            }
          }
        }
      }
      &.twitter {
        a {
          &:before {
            content: "\f099";
              background-color: $brand-info; 
          } 
          &:hover {
            &:before {
              background-color: darken($brand-info,10%);
            }
          }
        }
      }
      &.rss {
        a {
          &:before {
            content: "\f09e";
            background-color: $brand-danger;
          }
          &:hover {
            &:before {
              background-color: darken($brand-danger,10%);
            }
          }
        }
      }
      &.youtube {
        a {
          &:before {
            content: "\f167";
            background-color: $brand-primary;
          }
          &:hover {
            &:before {
              background-color: darken($brand-primary,10%);
            }
          }
        }
      }
      &.google-plus {
        a {
          &:before {
            content: "\f0d5";
            background-color: $brand-success;
          }
          &:hover {
            &:before {
              background-color: darken($brand-success,10%);
            }
          }
        }
      }
      &.pinterest {
        a {
          &:before {
            content: "\f0d2";
            background-color: $brand-warning;
          }
          &:hover {
            &:before {
              background-color: darken($brand-warning,10%);
            }
          }
        }
      }
    }
  }
}


.bottom-footer {
  position: absolute;
  bottom: 0;
  @include rtl-left( 0);
  text-align: center;
}

.block.pts-categoryproducts {
	.tab-nav {
		width: 100%;
		.nav {
			display: inline-block;
			width: auto;
		}	
	}
}
//CSS Modules
//IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.

//Block ADVERTISING
.advertising_block {
  width: 191px;
  margin-bottom: 1em;
  text-align: center;
}

//footer
.blockcategories_footer ul ul {
  display: none !important;
}

// custom-footer
#htmlcontent_footer {
  .htmlcontent-home {
    border-top: $main_border;
  }
}

//Form validate
.form-group {
  &.form-error {
    input, textarea {
      border: 1px solid #f13340;
      color: #f13340;
      background-image: url('#{$image-theme-path}form-error.png');
      background-repeat: no-repeat;
      background-color: #fff1f2;
      @include rtl-background-position-percent(5px,98%);
    }
  }
  &.form-ok {
    input, textarea {
      border: 1px solid #46a74e;
      color: #35b33f;
      background: url('#{$image-theme-path}form-ok.png');
      background-repeat: no-repeat;
      background-color: #ddf9e1;
      @include rtl-background-position-percent(5px,98%);
    }
  }
  &.form-error, &.form-ok {
    .form-control {
      @include rtl-padding-right(30px);
    }
  }
}

//uniform
.radio-inline, .checkbox {
  @include rtl-padding-left(0);
  .checker {
    @include rtl-float-left();
    span {
      top: 0px;
    }
  }
  div.radio {
    display: inline-block;
    span {
      @include rtl-float-left();
      top: 0px;
    }
  }
}

.fancybox-skin {
  background: $light-background !important;
}

.fancybox-skin .fancybox-close {
  top:0px;
  @include rtl-right(0px);
  width: 18px;
  height: 18px;
  background: none;
  font-size: 18px;
  line-height: 18px;
  color: $base-text-color;
  text-align: center;
  &:hover {
    color: $link-hover-color;
  }
  &:after {
    content: "\f057";
    font-family: $font-icon;
  }
}

//Homepage pre-footer

#cmsinfo_block {
  em {
    @include rtl-float-left();
    width: 60px;
    height: 60px;
    margin: 3px 10px 0 0;
    font-size: 30px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: lighten($base-heading-color, 10%);
    @include border-radius(100px);
    // max 991px
    @media (max-width: $screen-sm-max) {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 20px;
    }
  }
  .type-text {
    overflow: hidden;
  }
  .cmsinfo_content {
    @include rtl-float-left();
    width: 100%;
  }
  h3 {
    margin: 0 ;
  }
  ul {
    li {
      padding-bottom: 22px;
      // max 1199px
      @media (max-width: $screen-md-max) {
        padding-bottom: 10px;
      }
      // max 991px
      @media (max-width: $screen-sm-max) {
        padding-bottom: 0;
      }
    }
  }
  p {
  em {
    background: none;
    @include border-radius(0);
    margin: 0;
    font-size: 13px;
    color: $text-color;
    float: none;
    height: inherit;
    line-height: inherit;
    @include rtl-text-align-left();
    font-style: italic;
  }
   }
}
.facebook-fanbox {
  overflow: hidden;
}
.ie8 {
  #facebook_block,
  #cmsinfo_block {
    height: 344px;
  }
}


//Social Sharing

.btn-facebook {
  i {
    color: #435f9f;
  }
  &:hover {
    color: white;
    background-color: #435f9f;
    border-color: darken(#435f9f, 15%);
    i {
      color: white;
    }
  }
}

.btn-twitter {
  i {
    color: #00aaf0;
  }
  &:hover {
    color: white;
    background-color: #00aaf0;
    border-color: darken(#00aaf0, 15%);
    i {
      color: white;
    }
  }
}

.btn-google-plus {
  i {
    color: #e04b34;
  }
  &:hover {
    color: white;
    background-color: #e04b34;
    border-color: darken(#e04b34, 15%);
    i {
      color: white;
    }
  }
}

.btn-pinterest {
  i {
    color: #ce1f21;
  }
  &:hover {
    color: white;
    background-color: #ce1f21;
    border-color: darken(#ce1f21, 15%);
    i {
      color: white;
    }
  }
}
/** apply general product block **/
.sidebar{
	 .product-block{
		@include clearfix();
		@include rtl-text-align-left();  
    background-color: transparent; 
    border:  none;   	
    margin: 0;
    padding: 15px 0;
    @include box-shadow(none);
    @include border-bottom-radius(0);
    @include border-top-radius(0);
	 	.products-block-image {
      @include rtl-margin-right(10px);
    }
    .price {
        margin: 0;
        @include rtl-text-align-left();
           .product-price {
                background-color: $nocolor;
                color: $black;
                padding: 0;
                display: inline-block;
                font-weight: bold;
            }
        }
	}
	 .product-label {
	 	display: none;
	 }
   h3.name {
     padding-bottom: 0;
     margin-bottom: 5px;
     a {
      height: auto;
      overflow: visible;
     }
     &:after{
      width: 0;
     }
   }
}

