// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  line-height: 1.2;
}

/*  PAGINATION STYLE */
#pagination_bottom {
   display:  block;
}
.pagination{ 
    @include border-radius(0);
    margin: 0;          
    background-color: $nocolor;
    ul {
      > li {
        > a, > span {
          border: none;
          margin: 0 2px;
        }
      }
    }
    .product-count {
      line-height:  30px;
    }
}

/* tab style */
.htabs{  
    ul{
      border: none;
        > li{
            margin-left: 5px;
            float: left;
            display: block;
            a {
                border: 1px solid $border-color;
                font-size: $htab-nav-font-size;
                text-transform: uppercase;
                padding: $htab-nav-padding;
                margin-right: 0;
                &.selected {
                    color: $htab-nav-selected-color;
                    background-color: $htab-bg-selected;
                    border-color: $htab-bg-selected;
                    display: block;
                    &:hover {
                        box-shadow: none;
                    }
                }
                &:hover{   
                  border-color: $htab-bg-selected;  
                  color: $htab-nav-selected-color;               
                  background-color: $htab-bg-selected;
                }
            }
        }
    }      
}
 
table.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    & > * {
        & > * {
            & > td {
                color: #000000;
            }
        }
    }
    td {
        padding: 4px;
    }
    tr {
        td:first-child {
            width: 170px;
        }
    }
}
table.radio {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    display: table;
    td {
        padding: 5px;
        label {
            display: block;
        }
        input[type="radio"]{
            margin: 0;
        }
    }
    tr {
        td:first-child {
            width: 1px;
            input {
                margin-top: 1px;
            }
        }
    }
    tr.highlight:hover {
        td {
            background: lighten($border-color, 5%);
            cursor: pointer;
        }
    }
}


//
// Color box
// --------------------------------------------------
#colorbox{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
} 
.no-padding { padding: 0; }


.required {
  color: #FF0000;
  font-weight: normal;
  font-size: $font-size-base - 1;
}

.success, .warning, .attention, .information {
  padding: 10px 10px 10px 33px;  
  margin: $line-height-computed 0;
  color: #555555;
  @include border-radius( 5px );
}
.success .close, .warning .close, .attention .close, .information .close {
  float: right;
  padding-top: 4px;
  padding-right: 4px;
  cursor: pointer;
}
.attention {
  background: #FFF5CC url('#{$image-theme-path}attention.png') 10px center no-repeat;
  border: 1px solid #F2DD8C;
  @include border-radius( 5px );
}
.warning {  
  background: #FFD1D1 url('#{$image-theme-path}warning.png') 10px center no-repeat;
  border: 1px solid #F8ACAC;
  @include border-radius( 5px );
}
.success {
  background: #EAF7D9 url('#{$image-theme-path}success.png') 10px center no-repeat;
  border: 1px solid #BBDF8D;
  @include border-radius( 5px );
}
.help {
  color: #999;
  font-size: 10px;
  font-weight: normal;  
  display: block;
}
.error {
  display: block;
  color: #FF0000;  
  margin-top: $padding-small-vertical;
}

.welcome {
  color: #636E75;  
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: $font-size-base + 7;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}