@import "compass";
@import "theme_variables";

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */

h3.page-product-heading {
  @include sub-heading;
  &:before {
    @include sub-heading-before;
  }
}

h1#cart_title {
  margin-top: 0;
  font-size: 24px;
}

.content_scene_cat {
	line-height: 20px;
	margin: 0 0 15px 0;
	clear: both;
	.content_scene_cat_bg {
		@media  (max-width: $screen-md-max) { // max 1199px
			@include rtl-padding(10px, 10px, 10px, 15px);
		}
	}
	.cat_desc {
		margin-top: 10px;
	}
	span.category-name {
		font: 600 42px/51px $font-custom;
		color: $light-text-color;	
		margin-bottom: 12px;
		@media  (max-width: $screen-md-max) { // max 1199px
			font-size: 25px;
			line-height: 30px;
		}
	}
	p {
		margin-bottom: 0;
	}
	a {
		color: $light-text-color;
		&:hover {
			text-decoration: underline;
		}
	}
	.content_scene {
		color: $base-body-color;
		.cat_desc {
			padding-top: 20px;
			a {
				color: $link-color;
				&:hover {
					color: $link-hover-color;	
				}
			}
		}
	}
}

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */

#subcategories {
	margin-bottom: 30px;
	.subcategory-heading {	
		display: inline-block;
		color: $base-heading-color;
	   text-transform: uppercase;
	   @include rtl-margin(0, 15px, 0, 0);
	   font-size: $font-size-base + 1;
	   font-weight:  700;
	}
}