 // Make sure the charset is set appropriately
@charset "UTF-8";

* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}


	@import "compass";
	@import "vars/bootstrap";
	@import "themes/gifts/font";
	@import "themes/vars/gifts";
	@import "theme_variables";

	@import "bootstrap_rtl";
	@import "font-awesome";


	@import "app/base";
	@import "app/block";
	@import "app/layout";
	@import "app/product";
	@import "app/menu";
	@import "app/form";
	@import "app/modules";
	@import "app/animation";
	@import "app/pagebuilderwidget";

	@import "typo";
	@import "prestashop-module";
	@import "prestashop-pages";

	@import "themes/gifts/block";
	@import "themes/gifts/modules";
	@import "themes/gifts/base";
	@import "themes/gifts/layout";
	@import "themes/gifts/menu";
	@import "themes/gifts/form";
	@import "themes/gifts/pagebuilder";
	@import "themes/gifts";	