 // Make sure the charset is set appropriately
@charset "UTF-8";

* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}


	@import "compass";

	@import "vars/bootstrap";
	@import "themes/cd/font";
	@import "themes/vars/cd";
	@import "theme_variables";

	@import "bootstrap_rtl";
	@import "font-awesome";


	@import "app/base";
	@import "app/block";
	@import "app/layout";
	@import "app/product";
	@import "app/menu";
	@import "app/form";
	@import "app/modules";
	@import "app/animation";
	@import "app/pagebuilderwidget";

	@import "typo";
	@import "prestashop-module";
	@import "prestashop-pages";


	@import "themes/cd/block";
	@import "themes/cd/modules";
	@import "themes/cd/base";
	@import "themes/cd/layout";
	@import "themes/cd/menu";
	@import "themes/cd/form";
	@import "themes/cd/pagebuilder";
	@import "themes/cd";