 // Make sure the charset is set appropriately
@charset "UTF-8";

* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}


	@import "compass";

	@import "vars/bootstrap";
	@import "themes/sport/font";
	@import "themes/vars/sport";
	@import "theme_variables";

	@import "bootstrap_rtl";
	@import "font-awesome";


	@import "app/animation";
	@import "app/form";
	@import "app/product";
	@import "app/base";
	@import "app/block";
	@import "app/modules";
	@import "app/layout";
	@import "app/menu";
	@import "app/pagebuilderwidget";


	@import "typo";
	@import "prestashop-module";
	@import "prestashop-pages";
	@import "themes/sport/block";
	@import "themes/sport/modules";
	@import "themes/sport/base";
	@import "themes/sport/layout";
	@import "themes/sport/menu";
	@import "themes/sport/product";
	@import "themes/sport/form";		
	@import "themes/sport/pagebuilder";	
	@import "themes/sport";	