 // Make sure the charset is set appropriately
@charset "UTF-8";

* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}


	@import "compass";

	@import "vars/bootstrap";
	@import "themes/fashion/font";
	@import "themes/vars/fashion";
	@import "theme_variables";


	@import "bootstrap_rtl";
	@import "font-awesome";


	@import "app/base";
	@import "app/block";
	@import "app/layout";
	@import "app/product";
	@import "app/menu";
	@import "app/form";
	@import "app/modules";
	@import "app/animation";
	@import "app/pagebuilderwidget";

	@import "typo";
	@import "prestashop-module";
	@import "prestashop-pages";

	@import "themes/fashion/block";
	@import "themes/fashion/modules";
	@import "themes/fashion/base";
	@import "themes/fashion/layout";
	@import "themes/fashion/menu";
	@import "themes/fashion/form";	
	@import "themes/fashion/pagebuilder";	
	@import "themes/fashion";