@import "compass";
@import "theme_variables";
#my-account {
	.addresses-lists {
		margin-bottom: 30px;	
	}
	ul.myaccount-link-list {
		li {
			overflow: hidden;
			padding-bottom: 10px;
			a {
				display: block;
				overflow: hidden;
				font: 300 16px/20px $font-custom;
				color: #555454;
				text-shadow: 0px 1px rgba(255,255,255,1);
				text-decoration: none;
				position: relative;
				border: 1px solid;
				border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
				@include background-image(linear-gradient(rgb(247,247,247), rgb(237,237,237)));
				@include border-radius(4px);
				i {
					font-size: 25px;
					color: $base-icon-color;
					position: absolute;
					@include rtl-left(0);
					top: 0;
					width: 52px;
					height: 100%;
					padding: 10px 0 0 0;
					text-align: center;
					@include border-top-left-radius(4px);
					@include border-bottom-left-radius(4px);
				}
				span {
					display: block;
					@include rtl-padding(13px ,15px, 15px, 17px);
					overflow: hidden;
					@include rtl-border-left(1px solid #b7b7b7);
					@include rtl-margin-left(52px);
					@include border-top-right-radius(5px);
					@include border-bottom-right-radius(5px);
				}
				&:hover {
					filter: none;
					background: #e7e7e7;
					color: $link-hover-color;
					border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2;
					i {
						color: $link-hover-color;
					}
				}
			}
		}
	}
}