@import "compass";
@import "theme_variables";
.product_list {

  .product-block{
    .product-desc {
      margin-bottom: 15px;
    }
    .availability {
      display:  block;
      margin-bottom: 15px;
      
    }
    .color-list-container {
        margin-bottom: 10px;
      ul {
        li {
          display: inline-block;
          border: 1px solid #e2e2e2;
          a {
            display: block;
            width: 10px;
            height: 10px;
            margin: 1px;
          } 
        }
      }
    }
      }
    &.list{
      .product-block{
          @include rtl-text-align-left(); 
          padding: 15px;
          .product-meta{
            overflow: hidden;  
          }
          .image{
              margin:0;  
              @include rtl-margin-right(30px);
              @media (min-width: $screen-md-max) {
                @include rtl-float-left();
                width: 30%;
              }
          }   
          &:hover .product-meta{
              background:none;
          }
          .action{
             
          }
          .description{
              display: block;
          }
          .name:after {

             margin:  0;
          }
           .price {
            @include opacity(1);
            @include scale(1,1);
          }
          .action-btn {
             position: relative;
            @include opacity(1);
            @include scale(1,1);
            bottom: 0;
          }
      }

      &.style1 {
        .product-block{
          @include rtl-text-align-left(); 
          .product-meta{            
            @media (min-width: $screen-md-max) {
              @include rtl-padding-right(20%);
            }    
          }
        }
      }
      &.style2 {       
        .product-block{ 
          .product-image-container {
            margin-bottom: 0;
            border-bottom: none;
          }
          .product-meta{             
             @include rtl-text-align-left();
          }
        }
      }
      &.style3 {      
        .product-block{
            .product-image-container{
              border-bottom: none;
            }           
          .product-meta{             
             @include rtl-text-align-left();
             padding: 0;
          }
           .price{
            top: 0;
            margin-bottom: 15px;
           }
           .action-btn{
            background-color: transparent;
            margin: 0;
            border: none;
           }
          &:hover {
            .product-meta{
              &,
              .name a {
                color: #000;
              }
            }
            .product-rating {
              @include opacity (1);
              @include scale(1, 1);
              @include transition(all 0.4s ease 0s) ;
            }
          }
        }
      }
      &.style4 {      
        .product-block{
            @include rtl-text-align-left(); 
        }       
      }
       &.style5 {      
        .product-block{
            .product-image-container{
              
            }
        }
      }
   }
    &.grid{
        @media (min-width: $screen-sm-max) {
          .first-in-line{
               @include rtl-clear-left(); 
          }
        }
        @media (max-width: $screen-sm-max) {
          .first-item-of-tablet-line {
              @include rtl-clear-left();
          }
        }
    }
}



