 // Make sure the charset is set appropriately
@charset "UTF-8";

* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}

	@import "compass";

	@import "themes/default/font";
	@import "theme_variables";
	@import "vars/bootstrap";
	@import "mixins/bootstrap";

	@import "bootstrap_rtl";
	@import "font-awesome";


	@import "app/base";
	@import "app/block";
	@import "app/layout";
	@import "app/product";
	@import "app/menu";
	@import "app/form";
	@import "app/modules";
	@import "app/animation";
	@import "app/pagebuilderwidget";

	@import "typo";
	@import "prestashop-module";
	@import "prestashop-pages";

	
	@import "themes/default/font";
	@import "themes/default/base";
	@import "themes/default/layout";
	@import "themes/default/pagebuilder";
	@import "themes/default/block";
	@import "themes/default/modules";
	@import "themes/default/menu";