

/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);  
    .#{$block-heading-selector}{
        @include rtl-padding (0, 0, 0, 30px); 
        font-weight: $block-module-heading-font-weight;
        line-height:  20px;
        @include border-top-radius(0); 
        margin:0 0 15px;

        &:before{
            @include rtl-border-left(1px solid $theme-color);
            @include skew(40deg, 0deg);
            @include size(20px, 20px);
            @include element-absolute(0, inherit, 10px, left);
        }
    }

}

// Contextual variations
.#{$block-prefix}.#{$block-prefix}-primary,
.#{$block-prefix}.#{$block-prefix}-success,
.#{$block-prefix}.#{$block-prefix}-info,
.#{$block-prefix}.#{$block-prefix}-warning,
.#{$block-prefix}.#{$block-prefix}-danger,
.#{$block-prefix}.#{$block-prefix}-highlighted{
    @include border-top-radius(4px);
    .#{$block-heading-selector} {
        padding:  15px 20px;
        font-size: $block-module-heading-font-size;
        font-weight: 900;
        margin-bottom: 0;
        @include border-top-radius(4px);
    }
}

/* block inline style */
.#{$block-prefix}-inline{
    .icon{
        font-size: 35px;
    }
    .explain{
        font-size:  11px;
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;                                                             
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
             
        font-size: $block-module-heading-font-size;
    }  
    .input-group{
        width: 98%
    }   
}

 


.sidebar {
    .#{$block-prefix} {
        margin-bottom: 18px;
        .#{$block-heading-selector}{
            @include gradient-vertical(#ee6161, #e84848, 0%, 100% );
            color: $sidebar-block-module-heading-color;
             @include border-top-radius(4px);
            padding:  15px 30px;
            margin-bottom: 0;
            &:before {
                border: none;
                content: "";
            }
        }
        .#{$block-content-selector} {
            @include border-bottom-radius(4px);
            @include box-shadow(0 1px 2px #dadada);
            padding: 10px 30px 30px;
            > ul > li {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                &:first-child {
                    border: none;
                }
            }
        }

    }
    

    // Contextual variations
.#{$block-prefix}.#{$block-prefix}-primary,
.#{$block-prefix}.#{$block-prefix}-success,
.#{$block-prefix}.#{$block-prefix}-info,
.#{$block-prefix}.#{$block-prefix}-warning,
.#{$block-prefix}.#{$block-prefix}-danger,
.#{$block-prefix}.#{$block-prefix}-highlighted{
        .#{$block-content-selector} {
            padding: 20px 30px;
        }
}
    .#{$block-prefix}.#{$block-prefix}-primary {
        .#{$block-heading-selector} {
            @include gradient-vertical($primary-heading-bg-color, $primary-heading-bg-color, 0%, 100% );
        }
        .#{$block-content-selector} {
        }
    }
    .#{$block-prefix}.#{$block-prefix}-success {
        .#{$block-heading-selector} {
            @include gradient-vertical($success-heading-bg-color, $success-heading-bg-color, 0%, 100% );
        }
        .#{$block-content-selector} { 
        }
    }
    .#{$block-prefix}.#{$block-prefix}-info {
        .#{$block-heading-selector} {
            @include gradient-vertical($info-heading-bg-color, $info-heading-bg-color, 0%, 100% );
        }
        .#{$block-content-selector} {
        }
    }
    .#{$block-prefix}.#{$block-prefix}-warning {
        .#{$block-heading-selector} {
            @include gradient-vertical($warning-heading-bg-color, $warning-heading-bg-color, 0%, 100% );
        }
        .#{$block-content-selector} { 
        }
    }
    .#{$block-prefix}.#{$block-prefix}-danger {
        .#{$block-heading-selector} {
            @include gradient-vertical($danger-heading-bg-color, $danger-heading-bg-color, 0%, 100% );
        }
        .#{$block-content-selector} {
        }
    }

    .#{$block-prefix}-highlighted {   
      .#{$block-heading-selector}{
            @include gradient-vertical(#5092db, #3c6dcf, 0%, 100% );
            &:before {
                border: none;
                content: "";
            }
        }
        .#{$block-content-selector}{
            background-color: $block-module-highlighted-bg;
            @include border-bottom-radius(4px);
            ul li {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                &:first-child {
                    border: none;
                }
            }
        }  
    }
    .#{$block-prefix}.#{$block-prefix}-nopadding,
    .#{$block-prefix}.nopadding{
        .#{$block-content-selector}{
            padding:0;
            border-width: 0; 
             ul li {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    .util-navigation,
    .carousel-controls{
        @include element-absolute(17px, inherit, 15px, right);
        .util-next .util-prev,
        .carousel-control{
            color: $white;
             border: 1px solid $white;
            &:hover{
                color: $theme-color;
                border: 1px solid $theme-color;
            }
        }
    }  
}

