.btn {
    @include border-top-radius(3px);
    @include border-bottom-radius(3px);
}
.btn-highlighted{
   @include button-variant-outline(#999999, $white, #e4e4e4, $white, $red, $red);
   @include button-size(0 ,0 , 12px, 32px, 3px);
   border-width: 1px;
   width: 32px;
} 

.btn-outline{
  @include button-variant-outline( $button-addtocart-color, $button-addtocart-bg , #d6d6d6 , $white, $theme-color, $theme-color );
   font-size: $button-addtocart-font-size;
   display: inline-block;
   @include gradient-vertical(#ededed, #e7e7e7, 0%, 100%);
    border-width: 0px 0px 1px 0px;
    font-weight: 800;
    width: auto;
}