/******************************************************
 * $package Pav Opencart Theme Framework for Opencart 1.5.x
 * $version 1.1
 * $author http://www.ptsothemes.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:ptsothemes$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/

/*
* HEADER 
*/

#topbar  {
   
    .container-inner{
       > div {
        padding: 5px 0;
       }
       .btn-group {
        padding: 12px 10px;
       @media (max-width: $screen-sm-max) {
        border: none;
       }
       }
    }

    .quick-setting {
       margin-top: 0px;
       background-color: #fff;
        @include rtl-text-align-left();
    }  
    #header_user_info {
      padding: 12px 0;
      @include rtl-margin-right( 10px);
    }       
}

#header_logo {
  .logo-theme {
    a {
      background: url('#{$image-theme-base-path}/sport/logo.png') no-repeat top center;
    }
  }
}
 #header {
  margin-bottom: 0px;
  .header{
    font-size: 11px;
    color: #999;
  }
}
#index{
     #header {
          padding-bottom: 30px;
        position: relative;
      }
      #pts-mainnav {
        bottom: -25px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        z-index: 999;
    }
}
/*breadcrumb*/
#breadcrumb{
    position: relative;
    margin-bottom: 40px;
    &:before {
        background-color: rgba(0, 0, 0, 0.1);
        content: "";
        @include size(100%, 130%);
        margin-top: -25px;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .page-heading-title {
        margin: 25px 0;
        span.heading-counter {
            font: normal 12px / 22px $font-custom;
            text-transform: none;
            font-style:  italic;
            display:  inline-block;
        }
    }
    .breadcrumb {
        line-height: 40px;
        padding: 25px 0;
        @include rtl-text-align-right();
    }
}
