//
// Navs
// --------------------------------------------------
##{$app-brand-prefix}-mainnav {
      .container-inner{
      	@include border-left-radius(3px);
      	@include border-right-radius(5px);
      	@include gradient-vertical(#5092db, #3c6dcf, 0%, 100% );
      }
}
.#{$app-brand-prefix}-megamenu {
    @include rtl-margin-left(10px);
    @include rtl-border-left (1px solid $megamenu-border-color);
    @include rtl-float-left();
	/* menu level 1 */
	.navbar-nav{
		> li {
			margin: 0;
   			padding: 0 18px;
			@include rtl-border-right (1px solid $megamenu-border-color);
			&:hover {
				@include rtl-border-right (1px solid $nocolor);
			}
		} 		
	}
}

@media (max-width: $screen-sm-max) {
	.pts-megamenu{ 
		float: none;
		margin: 0;
		.navbar-header .navbar-toggle{
			margin: 4px 15px;
			}
		#pts-top-menu {
			 background-color: $theme-color;
			 .navbar-nav > li > a {
			 	 color: #fff;
			 	 &:hover, &:focus{
			 	 	color: #fff;
			 	 }
			 }
		}
	}
}
