
@import "theme_variables";
/*module search*/
#search_block_top {
  @include rtl-float-right();
  @media (max-width: $screen-sm-max) {
    width: 100%;
    text-align: center;
    form#searchbox {
       display:  inline-block;
    }
  }
}
form#searchbox {
    .navbar-form {      
        input {
            width: 245px;
            @include border-top-right-radius(0);
            @include border-bottom-right-radius(0);
        }

    }
    .btn.button-search {
        @include border-top-left-radius(0);
        @include border-bottom-left-radius(0);
    }
}

/***newsletter***/

.pts-newsletter{
}


/* mini basket */
@media (max-width: $screen-sm-max) {
  .header-cart {
    @include element-absolute(0, inherit, 0, right);
  }
}
#cart {
    .heading  {
        .mini-cart {
            @include rtl-border-radius-topright(4px);
            @include rtl-border-radius-bottomright(4px);            
        }
        a {            
            min-height: 50px;
            color: #fff;
            padding: 15px 20px;
            position: relative;
        }
    }
    .cart_block {
         padding-top: 0;
    }
}
@media (max-width: $screen-xs-max) {
  #header .cart_block {
    left: inherit;
  }
}
#cart .title-cart {
  position: relative;
}
/** social block **/

#social_block {
  ul {
    li {
      a {
        color: $white;
        span {
          display: none;
        }
        &:hover {
            color: $white !important;
          &:before {
          }
        }
      }
      &.facebook {
        a {
          &:before {
              background-color: transparent; 
          }
        }
      }
      &.twitter {
        a {
          &:before {
              background-color: transparent; 
          }
        }
      }
      &.rss {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
      &.youtube {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
      &.google-plus {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
      &.pinterest {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
    }
  }
}

//verticalmenu
#pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li{ 
  @include gradient-vertical(#ffffff, #f6f6f6, 0%, 100% );
  &:hover {
    background: #fff;
  }
  > a {
    border-bottom: none!important;
  }
}