.pagebuilder {
  .sidebar .widget-products,
  .#{$block-selector} {

    .#{$block-content-selector} {
        @include border-bottom-radius(4px);
        @include box-shadow(0 1px 2px #dadada);
    }
  }
  .widget-products {
    .#{$block-content-selector} {
        @include border-bottom-radius(0);
        @include box-shadow(none);
    }
  }

}

//footerbuilder
.footerbuilder {
  .pts-footer-top{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
//widget-images
.widget-images {

  .image-item {
    img {
      @include border-top-radius(4px);
      @include border-bottom-radius(4px);
    }
  }
}

//widget newslleter
.style2.pts-newsletter {
  input {
    margin-bottom: 10px;
    @include border-top-radius(3px);    
    @include border-bottom-radius(3px);
  }
   button {
    width: 100%;
    @include gradient-vertical(#5092db, #3c6dcf, 0%, 100% );
    border: none;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
  }
}
