/*products sidebar */

.products .product-item {
    padding-top:  15px;
    .product-block {
        @include box-shadow(none);
    }
}

.sidebar .block_content .layered_filter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    ul li {
         border-top: none;
    }
}


.sidebar {
    .product-block {
        h3.name a {
            font-weight: 600;
            text-transform: none;
            &:hover {
                color: $theme-color;
            }
        }
        .price .product-price {
            color: $theme-color;
            font-weight: 400;
        }
    }
}

/*products category*/
.product-block {  
    .name a {
         text-transform: uppercase;
    }
    &:hover{ 
        .btn-outline {
            @include gradient-vertical(#5092db, #3c6dcf, 0%, 100% );
                color: $white;
                border-bottom: 1px solid #3c6dcf;
                &:hover {
                    @include gradient-vertical(#ee6161, #e84848, 0%, 100% );
                    border-bottom: 1px solid #e84848;
            }
        }
    }
}
.product-block,
.content_sortPagiBar {
    @include box-shadow(0 1px 2px #dadada);
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
}
.content_sortPagiBar {

}

//productinfo

.product-info {
     background-color: $nocolor;
     padding: 0 0 18px;
}

#usefull_link_block {
    li {
        &.print, &.sendtofriend{
            a{
                @include border-top-radius(4px);
                @include border-bottom-radius(4px);
            }
        }
    }
}


.style3  {
    .product-block:hover {
         .product-meta .bottom:before {
            background-color: #e1e1e1;
         }
    }


}