@import "compass";
@import "theme_variables";

#currencies-block-top {							
	ul {
		li {
			color: $light-text-color;
			line-height: 25px;
			font-size: 13px;
			a {
				 color: #000;
			}
			&.selected a, &:hover a {
				color: $theme-color;
				font-weight: bold;
			}

		}
	}
}