$app-brand-prefix        : pts ;
/**
 *   Blocks Layout Selectors 
 */
$block-prefix 			 : block;
$block-selector          : block ;
$block-heading-selector  : title_block ;
$block-content-selector  : block_content ;

/**
 * Product Item Selectors
 */
$products-container-selector : products_block ;
$products-row-selector 		 : products-row ;
$products-col-selector 		 : product-col ;

/***********************************************************************/
// some basic colors

$blue:                              #7dd5c9;
$black:                             #000;
$white:                             #fff;
$red:                               #eb5454;

//------- Themes colors 
$red-light:            				#ff9999;
$yellow-light:           			#f8c255;
$nocolor:							transparent;


// Variables paths 
// ========================================================================

$font-family-base      :             'Ubuntu', sans-serif;

$font-family           :			 'Ubuntu', sans-serif;
$font-family-secondary :             $font-family ;
$font-icon-family 	   : 			 'FontAwesome' ;



$font-body-family	   :  'Ubuntu', sans-serif;
$headings-font-family  :  'Ubuntu', sans-serif;
$font-menu-family      :  'Ubuntu', sans-serif;
$font-highlighted-family: 'Ubuntu', sans-serif;
$font-custom:             'Ubuntu', sans-serif;


//////////////////// Variables defined for Themes + Skins ////////////////
$rtl-left : left;
$rtl-right : right;

$body-bg:                           #ffffff ;
$theme-color:  				        $blue;

$text-highlight:                     $theme-color;


$theme-color-default : 			    $theme-color ;
$theme-color-primary :				#696969 ;
$theme-color-secondary:             #434a54 ;
$theme-color-tertiary:              #9c9c9c ;


$theme-bg-default		  : $gray-lighter;
$theme-bg-secondary 	 : $red; // using variable  for Theme  Skin 
$theme-bg-threedary  	 : $brand-warning; // using skin product list


 
$border-color   : #e1e1e1 ;
$border-box     :#DDDDDD;

$table-bg-color	:  #ebebeb ;


// Box Modules 
// ========================================================================
$block-module-margin-bottom: 			18px ;
$block-module-padding  :				20px;
$block-module-border-color: 			rgba(0, 0, 0, 0.1);

$block-module-heading-border: 			0px ;
$block-module-heading-transform:        uppercase;
$block-module-heading-line-height:      normal;
$block-module-heading-font-family:    	$font-family;
$block-module-heading-bg:				$nocolor;
$block-module-heading-padding: 			20px 0 20px 20px;
$block-module-heading-font-size:		$font-size-base + 5;
$block-module-heading-font-weight:		700;
$block-module-heading-color:			$yellow-light;

$block-heading-icon-border:             solid 1px $theme-color ;
$block-heading-icon-bg:                 $nocolor ;
$block-heading-icon-font-size:          $font-size-base + 1 ;
$block-heading-icon-color:              $theme-color ;

$block-module-content-bg:				$nocolor ;
$block-module-content-border:			1px solid $border-color ;
$block-module-content-padding:			20px ;
$block-module-content-margin:         	1px ;
$block-module-content-radius:         	0px ;


$block-module-highlighted-bg			    : #fff ;
$block-module-highlighted-heading-bg	    : #fff ;
$block-module-highlighted-heading-font-size : $font-size-base + 1 ;
$block-module-highlighted-heading-font-weight: 700;


$block-module-footer-heading-color:  	  #FFFFFF ; 

$block-product-padding:               0 ;
$block-heading-letter-spacing:        0px ;


$heading-highlight-color:           #000	;			
$heading-highlight-border:          #353535;	

$sidebar-block-module-heading-bg:				$red ;
$sidebar-block-module-heading-color:			$white ;

/*  
 * LAYOUT VARIABLES 
 */

// Header
// ========================================================================
$header-bg:  						$white ;
$header-icon-bg:                    #fff ;
$header-border-color:               1px solid transparent ;
$header-heading-color:              $theme-color-secondary ;
$header-text-color:                 $black ;
$header-link-color: 				$header-text-color ;
$header-icon-font-size:             $font-size-base + 4 ;

// Topbar 
// ========================================================================
$topbar-bg: 						#222222 ;
$topbar-color: 						#999999  ;
$topbar-font-size: 					$font-size-base - 2 ;
$topbar-font-family:				$font-family;
$topbar-font-weight:                300 ;
$topbar-link-color: 				#cccccc ;
$topbar-link-hover-color: 			$theme-color ;
$color-icon-topbar: 				$theme-color-default ;
$topbar-padding: 					0 ;
$topbar-height:                     30px ;
$topbar-border:                     1px solid rgba(255, 255, 255, 0);

// Mass header 
$masshead-outside-bg :			$theme-color-primary ;
$masshead-bg: 			 		$theme-color-primary ;
$masshead-content-padding:		8px 0 ;
$masshead-color:				#aab2bd ;
$masshead-color-hover:			lighten($theme-color-primary,5%);	
// Main menu 


// Promotions

//Main Content

// Footer
// ========================================================================

$footer-bg: 						#222222 ;
$footer-color: 						$gray-dark ;

$footer-heading-font:               14px ;

$footer-heading-font-size: 			$font-size-base - 1;
$footer-heading-font-weight: 		600;
$footer-heading-color: 				$white ;
$footer-heading-padding:            0 ;

$footer-link-color: 				#9cadca;
$footer-link-hover-color: 			$theme-color ;
$footer-font-size:   	 			$font-size-base ;
     
$footer-content-padding:            15px ;
$footer-content-margin:             0 ;
$footer-list-padding:               10px 0 ;
$footer-margin:                     20px ;

 /////// footer top
$footer-top-outside-border:		    1px solid #505862 ;
$footer-top-outside-bg :			$theme-color-primary ;
$footer-top-bg: 			 	    #f3f3f3 ;
$footer-top-color:					#000 ;
$footer-top-content-padding:		20px 0 ;
$footer-top-content-margin:		    30px 0;
$footer-top-color-hover:			lighten($footer-top-color,5%);	
$footer-top-border:					#e2e2e2 ;

/////// footer center 
$footer-center-outside-bg :			#40464f ;
$footer-center-bg: 			 		$footer-bg ;
$footer-center-content-padding:		45px 0;
$footer-center-content-margin:		0 ;
$footer-center-color:				$footer-link-color ;
$footer-center-color-hover:			$footer-link-hover-color ;	

/////// footer bottom 
$footer-bottom-outside-bg :			$theme-color-primary ;
$footer-bottom-bg: 			 		#222222 ;
$footer-bottom-content-padding:		90px 0;
$footer-bottom-content-margin:		30px 0;
$footer-bottom-color:				$white ;
$footer-bottom-color-hover:			$footer-link-hover-color;	

// Powered By / Copyright
// ========================================================================
$power-bg:       					$footer-bg;
$power-color:                       #909cad ;
$power-link-color:                  $theme-color ;
$power-padding:                     45px 0 ;
$power-font-family  : 				$font-family-base;
$power-border-color:				#505862;

 

 // Mini basket and shopping cart
// ========================================================================
$cart-heading-color : 				$black ;
$cart-icon-bg:                      $nocolor ;
$cart-icon-color:                   $yellow-light ;
$cart-icon-font-size:               $font-size-base + 2 ;
$cart-product-font-size:			$font-size-base - 1 ;
$cart-align-right:                  0px ;
$cart-content-width: 				400px ;

// Mini basket and shopping cart
// ========================================================================

//Minicart
$minicart-module-bg:                $white ;
$minicart-module-color:             $black;
$minicart-module-font:              700 12px $font-family;
$minicart-module-list-font-family:  $font-family ;
$minicart-module-list-font-size:    14px;

 
// Button
// ========================================================================
 
 
// Search
// ========================================================================
$search-position-top: 				23px ;
$search-position-right:             0 ;
$search-text-color: 			    #666 ;
$search-border:                     rgba(0, 0, 0, 0.1) ;
$search-bg-color:                   #fafafa ;
$search-icon-color:                 $theme-color ;
$search-padding:                    0 35px 0 10px ;
$search-icon-font-size:             $font-size-base ;
$search-font-size:                  $font-size-base ;
$search-font-style:                 italic ;
$search-min-width:                  280px ;
$search-height:                     66px ;

$search-button-border:              $white ;
$search-button-bg:                  $white ;
$search-button-color:               $black ;


// Contact page
// ========================================================================
$contact-bg:                        $nocolor ;
$contact-padding:                   20px ;
$contact-border:                    0 ;
$contact-icon-color:                $white ;
$contact-icon-bg:                   lighten($gray, 30%) ;
$contact-icon-font-size:            $font-size-base + 5 ;
$contact-icon-hover-bg:             $theme-color ;
$contact-height:                    338px ;



// Htab module
// ========================================================================
$htab-border-width:					0px 1px 1px 1px ;
$htab-nav-padding: 					17px 10px ;
$htab-nav-margin:                   0 ;
$htab-nav-color: 					#909cad ;
$htab-bg: 							$black ;
$htab-bg-selected: 					$nocolor ;
$htab-nav-selected-color: 			$white ;
$htab-nav-border-color: 			transparent ;
$htab-nav-border-width:             1px 1px 0px 1px ;
$htab-nav-border-style:             solid ;
$htab-nav-border-color-hover:       $border-color ;
$htab-nav-border-color-selected:    $border-color $border-color $htab-bg-selected $border-color ;
$htab-nav-content-padding:          20px ;
$htab-nav-font-size:                $font-size-base + 1 ;


// Mega Menu Module
// ========================================================================
$megamenu-outside-bg :	            $nocolor;
$megamenu-bg: 						$nocolor ;
$megamenu-border-color:             rgba(0, 0, 0, 0.1) ;			    
$megamenu-border-bottom-color:      $black ;
$megamenu-font-family:              $font-family-base ;
$megamenu-link-color: 				#999;
$megamenu-font-weight: 				900;
$megamenu-link-hover-color:         $black;;
$megamenu-link-bg-hover-color:      #222 ;
$megamenu-color: 				    #000 ;
$megamenu-caret:                    $black ;
$megamenu-height:                   auto;
$megamenu-animation-color:          $theme-color;

$megamenu-parent-padding: 			24px 0 ;
$megamenu-parent-margin: 			0px ;
$megamenu-parent-text-transform		: uppercase;


$megamenu-sub-bg-color: 			$white ;
$megamenu-sub-radius:               0px ;
$megamenu-sub-family:               $font-family;
$megamenu-sub-text-color:           $theme-color-tertiary ;
$megamenu-sub-link-color: 			$black ;
$megamenu-sub-shadow:    			0 0 0 1px rgba(0, 0, 0, 0.1) ;
$megamenu-sub-padding:              20px ;
$megamenu-sub-min-width:  			185px ;
$megamenu-sub-border:               0 ;
$megamenu-sub-font-size:            $font-size-base ;
$megamenu-arrow-bg:                 darken($megamenu-sub-bg-color, 20%) ;
$megamenu-product-name-color:       $theme-color-secondary ;
$megamenu-text-align:               left ;
$megamenu-heading-letter:           3px ;
$megamenu-sub-caret-color:  		$megamenu-sub-text-color ;
$megamenu-name-hover-color:         $theme-color ;
$megamenu-sub-link-hover-color:     $theme-color ;
$megamenu-link-font-size:           $font-size-base - 1  ;
$megamenu-link-font-family:         $font-family-base ;
$megamenu-link-hover-border:        $white ;
$megamenu-heading-title:            $font-family ;
$megamenu-heading-color:            $white ;
$megamenu-line-border:  			1px solid #646464 ;

$megamenu-widget-title-color:		$black ;


 
// Button
// ========================================================================

$button-addtocart-bg:               $yellow-light ;
$button-addtocart-color:            $white;
$button-addtocart-hover-color:      $yellow-light ;
$button-addtocart-bg-hover:         $theme-color ;
$button-addtocart-border:           nocolor;
$button-addtocart-font-size:        $font-size-base - 2 ;
$button-addtocart-padding:          7px 8px ;
$button-addtocart-icon-bg:          $theme-color-primary ;
$button-addtocart-icon-color:       $white ;
$button-addtocart-icon-bg-hover:    $white ;
$button-addtocart-icon-border:      0 ;
$button-addtocart-height:           33px ;
$button-addtocart-icon-size:        20px ;
$button-addtocart-font-family:      $font-family-base ;
$button-bg-color: 					#f5f5f5 ;
 
//product

$product-link-color: 				$link-color !default;
$product-name-color: 				$black !default;
$product-name-hover-color:          $theme-color !default;
$product-name-line-height:          20px !default;
$product-name-font-family:          $font-family-base !default;
$product-name-font-size: 			$font-size-base + 1!default;
$product-name-font-weight: 			700!default;
$product-padding:                   0 0 $padding-small-horizontal * 2 0 !default;