/**
  * Newsletter Popup for PrestaShop by COTOKO.com
  * Version: 2.0.13 -- Apr 20 2015
  * Author: Sergio Quiñonez
  * copyright 2011-2015 COTOKO.com™
  *
  * More info: http://www.prestacheap.com/items/6/Newsletter-Popup-for-PrestaShop
  *
  **/

.ex-block { margin:0.5em 0 0; }
.auto_close_opts label { clear:both; width:auto; text-align:left; }
.language_flags { display:none; }

/* Tool bar */
.ctk-toolbar { width:100%; min-height:52px; background-color:#F8F8F8; border:1px solid #CCCCCC; border-radius:3px; margin-bottom:10px; padding:5px 0; position:relative; }
.ctk-toolbar .about { float:left; margin:2px 8px; padding:0; }
.ctk-toolbar ul.buttons { float:right; margin:0 5px 0 0; padding:0; }
.ctk-toolbar ul.buttons li { color:#666666; float:left; height:48px; list-style:none outside none; padding:1px 1px 3px 4px; text-align:center; }
.ctk-toolbar a.toolbar_btn { border:1px solid #F8F8F8; cursor:pointer; display:block; float:left; font-size:11px; min-width:50px; padding:3px 5px; text-shadow:0 1px 0 #FFFFFF; white-space:nowrap; }
.ctk-toolbar a.toolbar_btn:hover {background-color:#fff; border:1px inset #ccc; border-radius:3px;-moz-border-radius:3px; -webkit-border-radius:3px;-o-border-radius:3px; }
.ctk-toolbar .toolbar_btn span {display:block; float:none; height:32px; margin:0 auto; width:32px; }
.ctk-toolbar .icon-save {background-image:url("img/icon-save.png");}
.ctk-toolbar .icon-save::before {content:none}
.ctk-toolbar .icon-help {background-image:url("img/icon-help.png");}
.ctk-toolbar .icon-updates {background-image:url("img/icon-updates.png");}
.ctk-toolbar .icon-preview {background-image:url("img/icon-preview.png");}

/* Vertical Tabs */
.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

/* Social Footer bar */
.ctk-footerbar { width:100%; min-height:62px; background-color:#F8F8F8; border:1px solid #CCCCCC; border-radius:3px; margin-top:10px; padding:5px 0; position:relative; }
.ctk-footerbar .social-buttons { margin:0 auto; width:250px; height:65px; }
.ctk-footerbar .social-buttons div { float:left; color:#666666; height:58px; margin-right:10px; padding:1px 1px 3px 4px; }

/* Ajax load */
#layered-ajax-refresh { position:fixed; height:100%; width:100%; background:#000000; background:rgba(0, 0, 0, 0.5); z-index:9999; top:0; left:0; display:none; }