/**
  * Newsletter Popup for PrestaShop by COTOKO.com
  * Version: 2.0.13 -- Apr 20 2015
  * Author: Sergio Quiñonez
  * copyright 2011-2015 COTOKO.com™
  *
  * More info: http://www.prestacheap.com/items/6/Newsletter-Popup-for-PrestaShop
  *
  **/

@import url("ctk-np-icons.css");
@import url("animation.css");

.reveal-modal meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em; }

.reveal-modal meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

.reveal-modal meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

.reveal-modal meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

.reveal-modal meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

.reveal-modal,
.reveal-modal :before,
.reveal-modal :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.reveal-modal {
  font-size: 150%; }

.reveal-modal {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

.reveal-modal h1,
.reveal-modal h2 {
  background: none; }
  
.reveal-modal div.row {
  padding: 6px 0;
}

.reveal-modal .line-h {
  height: 2px;
  background: url(img/line-h.png) repeat-x;
}

.reveal-modal a:hover {
  cursor: pointer; }

.reveal-modal img,
.reveal-modal object,
.reveal-modal embed {
  max-width: 100%;
  height: auto; }

.reveal-modal object,
.reveal-modal embed {
  height: 100%; }

.reveal-modal img {
  -ms-interpolation-mode: bicubic; }

.reveal-modal #map_canvas img,
.reveal-modal #map_canvas embed,
.reveal-modal #map_canvas object,
.reveal-modal .map_canvas img,
.reveal-modal .map_canvas embed,
.reveal-modal .map_canvas object {
  max-width: none !important; }

.reveal-modal .left {
  float: left !important; }

.reveal-modal .right {
  float: right !important; }

.reveal-modal .clearfix {
  *zoom: 1; }
  .reveal-modal .clearfix:before, .reveal-modal .clearfix:after {
    content: " ";
    display: table; }
  .reveal-modal .clearfix:after {
    clear: both; }

.reveal-modal .text-left {
  text-align: left !important; }

.reveal-modal .text-right {
  text-align: right !important; }

.reveal-modal .text-center {
  text-align: center !important; }

.reveal-modal .text-justify {
  text-align: justify !important; }

.reveal-modal .hide {
  display: none; }

.reveal-modal .start {
  float: left !important; }

.reveal-modal .end {
  float: right !important; }

.reveal-modal .text-start {
  text-align: left !important; }

.reveal-modal .text-end {
  text-align: right !important; }

.reveal-modal .antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.reveal-modal img {
  display: inline-block;
  vertical-align: middle; }

.reveal-modal textarea {
  height: auto;
  min-height: 50px; }

.reveal-modal select {
  width: 100%; }

.reveal-modal i.loading:before {
  font-size: 18px; }

/* Modal screen background */
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
/*  background: #000000;*/
/*  background: rgba(0, 0, 0, 0.45);*/
  z-index: 9998;
  display: none;
  top: 0;
  left: 0; }

/* Modal */
.reveal-modal {
  visibility: hidden;
  display: none;
  position: absolute;
  left: 50%;
  z-index: 9999;
  height: auto;
  margin-left: -40%;
  width: 80%;
/*  background-color: white;*/
  padding: 1.25rem;
/*  border: solid 1px #666666;*/
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 1.25rem; }
  .reveal-modal .column,
  .reveal-modal .columns {
    min-width: 0; }
  .reveal-modal > :first-child {
    margin-top: 0; }
  .reveal-modal > :last-child {
    margin-bottom: 0; }
  .reveal-modal .close-reveal-modal {
    font-size: 2.375rem;
    line-height: 1;
    position: absolute;
    top: 0.5rem;
    right: 0.6875rem;
    color: #aaaaaa;
    -webkit-transition: color 0.45s;
    -moz-transition: color 0.45s;
    transition: color 0.45s;
    font-weight: bold;
    cursor: pointer;
	-webkit-transition: text-shadow 0.45s;
	-moz-transition: text-shadow 0.45s;
    transition: text-shadow 0.45s; }
  .reveal-modal .close-reveal-modal:hover {
    color: #575757;
    -webkit-transition: color 0.45s;
    -moz-transition: color 0.45s;
    transition: color 0.45s;
    text-shadow: 0 0 5px #9e9e9e;
    -webkit-transition: text-shadow 0.45s;
    -moz-transition: text-shadow 0.45s;
    transition: text-shadow 0.45s; }

/* Button */
.reveal-modal button, .reveal-modal .button {
  border-radius: 0 !important;
  background: none;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  /*margin: 0 0 1.25rem;*/
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  height: 4.3125rem;
  font-size: 1.5rem !important;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
  background-color: #2ba6cb;
  border-color: #2285a2;
  color: white !important;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 1.0625rem;
  padding-bottom: 1rem;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important; }
  .reveal-modal button:hover, .reveal-modal button:focus, .reveal-modal .button:hover, .reveal-modal .button:focus {
    background-color: #2285a2;
    color: white; }
  .reveal-modal button.disabled, .reveal-modal button[disabled], .reveal-modal .button.disabled, .reveal-modal .button[disabled] {
    background-color: #2ba6cb;
    border-color: #2285a2;
    color: white;
    cursor: default;
    opacity: 0.7;
    -webkit-box-shadow: none;
    box-shadow: none; }
	  .reveal-modal button.expand, .reveal-modal .button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }

/* Input */
.reveal-modal input[type="text"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  /*color: rgba(0, 0, 0, 0.75);*/
  color: #999999;
  display: block;
  font-size: 1.312rem;
  margin: 0 0 0.65rem 0;
  padding: 0.5rem;
  height: 4.3125rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out; }
  .reveal-modal input[type="text"]:focus {
    color: #222222;
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  .reveal-modal input[type="text"]:focus {
    background: #f7f7f7;
    border-color: #999999;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    outline: none; }
  .reveal-modal input[type="text"][disabled] {
    background-color: #dddddd !important; }

/* Label */
.reveal-modal a, .reveal-modal label {
  font-size: 1.312rem;
}

/* Checkbox */
.reveal-modal input[type="checkbox"] + .reveal-modal label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Footer line */
.reveal-modal .ftr-ln {
  position: absolute;
  left: 0;
  bottom: 0.3rem; }

.reveal-modal .ftr-ln p.auto-close {
  font-size: 1.312rem;
  padding:0 !important;
}

/* Grid */
.reveal-modal *,
.reveal-modal *:before,
.reveal-modal *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.reveal-modal .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  /*max-width: 62.5em;*/
  *zoom: 1; }
  .reveal-modal .row:before, .reveal-modal .row:after {
    content: " ";
    display: table; }
  .reveal-modal .row:after {
    clear: both; }
  .reveal-modal .row.collapse > .column,
  .reveal-modal .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .reveal-modal .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .reveal-modal .row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .reveal-modal .row .row:before, .reveal-modal .row .row:after {
      content: " ";
      display: table; }
    .reveal-modal .row .row:after {
      clear: both; }
    .reveal-modal .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .reveal-modal .row .row.collapse:before, .reveal-modal .row .row.collapse:after {
        content: " ";
        display: table; }
      .reveal-modal .row .row.collapse:after {
        clear: both; }

.reveal-modal .column,
.reveal-modal .columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

/* Alert */
.reveal-modal .alert-box {
  border-style: solid;
  border-width: 1px;
  display: none;
  font-weight: normal;
  /*margin-bottom: 1.25rem;*/
  position: relative;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  font-size: 1.312rem;
  background-color: #2ba6cb;
  border-color: #258faf;
  color: white; }
  .reveal-modal .alert-box .close {
    font-size: 2.062rem;
    padding: 9px 6px 4px;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -0.6875rem;
    right: 0.25rem;
    color: #333333;
    opacity: 0.3; }
    .reveal-modal .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .reveal-modal .alert-box.success {
	margin: 0 !important;
    background-color: #5da423;
    border-color: #508d1e;
    color: white; }
  .reveal-modal .alert-box.alert {
	margin: 0 !important;
    background-color: #ed2323;
    border-color: #aa0d10;
    color: white; }

/* Terms div */
.reveal-modal div.terms-content {
  overflow: scroll;
  overflow-x: hidden;
  background: #F8F8F8;
  border: 1px solid #DDDDDD;
  padding: 10px;
}

@media print {
  /* Modal */
  .reveal-modal {
    background: white !important; } }

@media only screen {
  /* Grid */
  .reveal-modal .column.small-centered,
  .reveal-modal .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .reveal-modal .column.small-uncentered,
  .reveal-modal .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  .reveal-modal .column.small-uncentered.opposite,
  .reveal-modal .columns.small-uncentered.opposite {
    float: right; }

  .reveal-modal .small-push-0 {
    left: 0%;
    right: auto; }

  .reveal-modal .small-pull-0 {
    right: 0%;
    left: auto; }

  .reveal-modal .small-push-1 {
    left: 8.33333%;
    right: auto; }

  .reveal-modal .small-pull-1 {
    right: 8.33333%;
    left: auto; }

  .reveal-modal .small-push-2 {
    left: 16.66667%;
    right: auto; }

  .reveal-modal .small-pull-2 {
    right: 16.66667%;
    left: auto; }

  .reveal-modal .small-push-3 {
    left: 25%;
    right: auto; }

  .reveal-modal .small-pull-3 {
    right: 25%;
    left: auto; }

  .reveal-modal .small-push-4 {
    left: 33.33333%;
    right: auto; }

  .reveal-modal .small-pull-4 {
    right: 33.33333%;
    left: auto; }

  .reveal-modal .small-push-5 {
    left: 41.66667%;
    right: auto; }

  .reveal-modal .small-pull-5 {
    right: 41.66667%;
    left: auto; }

  .reveal-modal .small-push-6 {
    left: 50%;
    right: auto; }

  .reveal-modal .small-pull-6 {
    right: 50%;
    left: auto; }

  .reveal-modal .small-push-7 {
    left: 58.33333%;
    right: auto; }

  .reveal-modal .small-pull-7 {
    right: 58.33333%;
    left: auto; }

  .reveal-modal .small-push-8 {
    left: 66.66667%;
    right: auto; }

  .reveal-modal .small-pull-8 {
    right: 66.66667%;
    left: auto; }

  .reveal-modal .small-push-9 {
    left: 75%;
    right: auto; }

  .reveal-modal .small-pull-9 {
    right: 75%;
    left: auto; }

  .reveal-modal .small-push-10 {
    left: 83.33333%;
    right: auto; }

  .reveal-modal .small-pull-10 {
    right: 83.33333%;
    left: auto; }

  .reveal-modal .small-push-11 {
    left: 91.66667%;
    right: auto; }

  .reveal-modal .small-pull-11 {
    right: 91.66667%;
    left: auto; }

  .reveal-modal .column,
  .reveal-modal .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .reveal-modal .small-1 {
    width: 8.33333%; }

  .reveal-modal .small-2 {
    width: 16.66667%; }

  .reveal-modal .small-3 {
    width: 25%; }

  .reveal-modal .small-4 {
    width: 33.33333%; }

  .reveal-modal .small-5 {
    width: 41.66667%; }

  .reveal-modal .small-6 {
    width: 50%; }

  .reveal-modal .small-7 {
    width: 58.33333%; }

  .reveal-modal .small-8 {
    width: 66.66667%; }

  .reveal-modal .small-9 {
    width: 75%; }

  .reveal-modal .small-10 {
    width: 83.33333%; }

  .reveal-modal .small-11 {
    width: 91.66667%; }

  .reveal-modal .small-12 {
    width: 100%; }

  .reveal-modal [class*="column"] + .reveal-modal [class*="column"]:last-child {
    float: right; }

  .reveal-modal [class*="column"] + .reveal-modal [class*="column"].end {
    float: left; }

  .reveal-modal .small-offset-0 {
    margin-left: 0% !important; }

  .reveal-modal .small-offset-1 {
    margin-left: 8.33333% !important; }

  .reveal-modal .small-offset-2 {
    margin-left: 16.66667% !important; }

  .reveal-modal .small-offset-3 {
    margin-left: 25% !important; }

  .reveal-modal .small-offset-4 {
    margin-left: 33.33333% !important; }

  .reveal-modal .small-offset-5 {
    margin-left: 41.66667% !important; }

  .reveal-modal .small-offset-6 {
    margin-left: 50% !important; }

  .reveal-modal .small-offset-7 {
    margin-left: 58.33333% !important; }

  .reveal-modal .small-offset-8 {
    margin-left: 66.66667% !important; }

  .reveal-modal .small-offset-9 {
    margin-left: 75% !important; }

  .reveal-modal .small-offset-10 {
    margin-left: 83.33333% !important; }

  .reveal-modal .small-offset-11 {
    margin-left: 91.66667% !important; }

  .reveal-modal .small-reset-order,
  .reveal-modal .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; } }

@media only screen and (min-width: 40.063em) {
  /* Modal */
  .reveal-modal {
    padding: 1.875rem;
    /*top: 6.25rem;*/ }
    .reveal-modal.tiny {
      margin-left: -15%;
      width: 30%; }

    .reveal-modal.small {
      margin-left: -20%;
      width: 40%; }
    .reveal-modal.medium {
      margin-left: -30%;
      width: 60%; }
    .reveal-modal.large {
      margin-left: -35%;
      width: 70%; }
    .reveal-modal.xlarge {
      margin-left: -47.5%;
      width: 95%; }

  /* Grid */
  .reveal-modal .column.medium-centered,
  .reveal-modal .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .reveal-modal .column.medium-uncentered,
  .reveal-modal .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  .reveal-modal .column.medium-uncentered.opposite,
  .reveal-modal .columns.medium-uncentered.opposite {
    float: right; }

  .reveal-modal .medium-push-0 {
    left: 0%;
    right: auto; }

  .reveal-modal .medium-pull-0 {
    right: 0%;
    left: auto; }

  .reveal-modal .medium-push-1 {
    left: 8.33333%;
    right: auto; }

  .reveal-modal .medium-pull-1 {
    right: 8.33333%;
    left: auto; }

  .reveal-modal .medium-push-2 {
    left: 16.66667%;
    right: auto; }

  .reveal-modal .medium-pull-2 {
    right: 16.66667%;
    left: auto; }

  .reveal-modal .medium-push-3 {
    left: 25%;
    right: auto; }

  .reveal-modal .medium-pull-3 {
    right: 25%;
    left: auto; }

  .reveal-modal .medium-push-4 {
    left: 33.33333%;
    right: auto; }

  .reveal-modal .medium-pull-4 {
    right: 33.33333%;
    left: auto; }

  .reveal-modal .medium-push-5 {
    left: 41.66667%;
    right: auto; }

  .reveal-modal .medium-pull-5 {
    right: 41.66667%;
    left: auto; }

  .reveal-modal .medium-push-6 {
    left: 50%;
    right: auto; }

  .reveal-modal .medium-pull-6 {
    right: 50%;
    left: auto; }

  .reveal-modal .medium-push-7 {
    left: 58.33333%;
    right: auto; }

  .reveal-modal .medium-pull-7 {
    right: 58.33333%;
    left: auto; }

  .reveal-modal .medium-push-8 {
    left: 66.66667%;
    right: auto; }

  .reveal-modal .medium-pull-8 {
    right: 66.66667%;
    left: auto; }

  .reveal-modal .medium-push-9 {
    left: 75%;
    right: auto; }

  .reveal-modal .medium-pull-9 {
    right: 75%;
    left: auto; }

  .reveal-modal .medium-push-10 {
    left: 83.33333%;
    right: auto; }

  .reveal-modal .medium-pull-10 {
    right: 83.33333%;
    left: auto; }

  .reveal-modal .medium-push-11 {
    left: 91.66667%;
    right: auto; }

  .reveal-modal .medium-pull-11 {
    right: 91.66667%;
    left: auto; }

  .reveal-modal .column,
  .reveal-modal .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .reveal-modal .medium-1 {
    width: 8.33333%; }

  .reveal-modal .medium-2 {
    width: 16.66667%; }

  .reveal-modal .medium-3 {
    width: 25%; }

  .reveal-modal .medium-4 {
    width: 33.33333%; }

  .reveal-modal .medium-5 {
    width: 41.66667%; }

  .reveal-modal .medium-6 {
    width: 50%; }

  .reveal-modal .medium-7 {
    width: 58.33333%; }

  .reveal-modal .medium-8 {
    width: 66.66667%; }

  .reveal-modal .medium-9 {
    width: 75%; }

  .reveal-modal .medium-10 {
    width: 83.33333%; }

  .reveal-modal .medium-11 {
    width: 91.66667%; }

  .reveal-modal .medium-12 {
    width: 100%; }

  .reveal-modal [class*="column"] + .reveal-modal [class*="column"]:last-child {
    float: right; }

  .reveal-modal [class*="column"] + .reveal-modal [class*="column"].end {
    float: left; }

  .reveal-modal .medium-offset-0 {
    margin-left: 0% !important; }

  .reveal-modal .medium-offset-1 {
    margin-left: 8.33333% !important; }

  .reveal-modal .medium-offset-2 {
    margin-left: 16.66667% !important; }

  .reveal-modal .medium-offset-3 {
    margin-left: 25% !important; }

  .reveal-modal .medium-offset-4 {
    margin-left: 33.33333% !important; }

  .reveal-modal .medium-offset-5 {
    margin-left: 41.66667% !important; }

  .reveal-modal .medium-offset-6 {
    margin-left: 50% !important; }

  .reveal-modal .medium-offset-7 {
    margin-left: 58.33333% !important; }

  .reveal-modal .medium-offset-8 {
    margin-left: 66.66667% !important; }

  .reveal-modal .medium-offset-9 {
    margin-left: 75% !important; }

  .reveal-modal .medium-offset-10 {
    margin-left: 83.33333% !important; }

  .reveal-modal .medium-offset-11 {
    margin-left: 91.66667% !important; }

  .reveal-modal .medium-reset-order,
  .reveal-modal .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .reveal-modal .push-0 {
    left: 0%;
    right: auto; }

  .reveal-modal .pull-0 {
    right: 0%;
    left: auto; }

  .reveal-modal .push-1 {
    left: 8.33333%;
    right: auto; }

  .reveal-modal .pull-1 {
    right: 8.33333%;
    left: auto; }

  .reveal-modal .push-2 {
    left: 16.66667%;
    right: auto; }

  .reveal-modal .pull-2 {
    right: 16.66667%;
    left: auto; }

  .reveal-modal .push-3 {
    left: 25%;
    right: auto; }

  .reveal-modal .pull-3 {
    right: 25%;
    left: auto; }

  .reveal-modal .push-4 {
    left: 33.33333%;
    right: auto; }

  .reveal-modal .pull-4 {
    right: 33.33333%;
    left: auto; }

  .reveal-modal .push-5 {
    left: 41.66667%;
    right: auto; }

  .reveal-modal .pull-5 {
    right: 41.66667%;
    left: auto; }

  .reveal-modal .push-6 {
    left: 50%;
    right: auto; }

  .reveal-modal .pull-6 {
    right: 50%;
    left: auto; }

  .reveal-modal .push-7 {
    left: 58.33333%;
    right: auto; }

  .reveal-modal .pull-7 {
    right: 58.33333%;
    left: auto; }

  .reveal-modal .push-8 {
    left: 66.66667%;
    right: auto; }

  .reveal-modal .pull-8 {
    right: 66.66667%;
    left: auto; }

  .reveal-modal .push-9 {
    left: 75%;
    right: auto; }

  .reveal-modal .pull-9 {
    right: 75%;
    left: auto; }

  .reveal-modal .push-10 {
    left: 83.33333%;
    right: auto; }

  .reveal-modal .pull-10 {

    right: 83.33333%;
    left: auto; }

  .reveal-modal .push-11 {
    left: 91.66667%;
    right: auto; }

  .reveal-modal .pull-11 {
    right: 91.66667%;
    left: auto; } }

@media only screen and (min-width: 64.063em) {
  /* Input */
  .reveal-modal input[type="text"] {
    margin: 0; }

  /* Grid */
  .reveal-modal .column.large-centered,
  .reveal-modal .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .reveal-modal .column.large-uncentered,
  .reveal-modal .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  .reveal-modal .column.large-uncentered.opposite,
  .reveal-modal .columns.large-uncentered.opposite {
    float: right; }

  .reveal-modal .large-push-0 {
    left: 0%;
    right: auto; }

  .reveal-modal .large-pull-0 {
    right: 0%;
    left: auto; }

  .reveal-modal .large-push-1 {
    left: 8.33333%;
    right: auto; }

  .reveal-modal .large-pull-1 {
    right: 8.33333%;
    left: auto; }

  .reveal-modal .large-push-2 {
    left: 16.66667%;
    right: auto; }

  .reveal-modal .large-pull-2 {
    right: 16.66667%;
    left: auto; }

  .reveal-modal .large-push-3 {
    left: 25%;
    right: auto; }

  .reveal-modal .large-pull-3 {
    right: 25%;
    left: auto; }

  .reveal-modal .large-push-4 {
    left: 33.33333%;
    right: auto; }

  .reveal-modal .large-pull-4 {
    right: 33.33333%;
    left: auto; }

  .reveal-modal .large-push-5 {
    left: 41.66667%;
    right: auto; }

  .reveal-modal .large-pull-5 {
    right: 41.66667%;
    left: auto; }

  .reveal-modal .large-push-6 {
    left: 50%;
    right: auto; }

  .reveal-modal .large-pull-6 {
    right: 50%;
    left: auto; }

  .reveal-modal .large-push-7 {
    left: 58.33333%;
    right: auto; }

  .reveal-modal .large-pull-7 {
    right: 58.33333%;
    left: auto; }

  .reveal-modal .large-push-8 {
    left: 66.66667%;
    right: auto; }

  .reveal-modal .large-pull-8 {
    right: 66.66667%;
    left: auto; }

  .reveal-modal .large-push-9 {
    left: 75%;
    right: auto; }

  .reveal-modal .large-pull-9 {
    right: 75%;
    left: auto; }

  .reveal-modal .large-push-10 {
    left: 83.33333%;
    right: auto; }

  .reveal-modal .large-pull-10 {
    right: 83.33333%;
    left: auto; }

  .reveal-modal .large-push-11 {
    left: 91.66667%;
    right: auto; }

  .reveal-modal .large-pull-11 {
    right: 91.66667%;
    left: auto; }

  .reveal-modal .column,
  .reveal-modal .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .reveal-modal .large-1 {
    width: 8.33333%; }

  .reveal-modal .large-2 {
    width: 16.66667%; }

  .reveal-modal .large-3 {
    width: 25%; }

  .reveal-modal .large-4 {
    width: 33.33333%; }

  .reveal-modal .large-5 {
    width: 41.66667%; }

  .reveal-modal .large-6 {
    width: 50%; }

  .reveal-modal .large-7 {
    width: 58.33333%; }

  .reveal-modal .large-8 {
    width: 66.66667%; }

  .reveal-modal .large-9 {
    width: 75%; }

  .reveal-modal .large-10 {
    width: 83.33333%; }

  .reveal-modal .large-11 {
    width: 91.66667%; }

  .reveal-modal .large-12 {
    width: 100%; }

  .reveal-modal [class*="column"] + .reveal-modal [class*="column"]:last-child {
    float: right; }

  .reveal-modal [class*="column"] + .reveal-modal [class*="column"].end {
    float: left; }

  .reveal-modal .large-offset-0 {
    margin-left: 0% !important; }

  .reveal-modal .large-offset-1 {
    margin-left: 8.33333% !important; }

  .reveal-modal .large-offset-2 {
    margin-left: 16.66667% !important; }

  .reveal-modal .large-offset-3 {
    margin-left: 25% !important; }

  .reveal-modal .large-offset-4 {
    margin-left: 33.33333% !important; }

  .reveal-modal .large-offset-5 {
    margin-left: 41.66667% !important; }

  .reveal-modal .large-offset-6 {
    margin-left: 50% !important; }

  .reveal-modal .large-offset-7 {
    margin-left: 58.33333% !important; }

  .reveal-modal .large-offset-8 {
    margin-left: 66.66667% !important; }

  .reveal-modal .large-offset-9 {
    margin-left: 75% !important; }

  .reveal-modal .large-offset-10 {
    margin-left: 83.33333% !important; }

  .reveal-modal .large-offset-11 {
    margin-left: 91.66667% !important; }

  .reveal-modal .large-reset-order,
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .reveal-modal .push-0 {
    left: 0%;
    right: auto; }

  .reveal-modal .pull-0 {
    right: 0%;
    left: auto; }

  .reveal-modal .push-1 {
    left: 8.33333%;
    right: auto; }

  .reveal-modal .pull-1 {
    right: 8.33333%;
    left: auto; }

  .reveal-modal .push-2 {
    left: 16.66667%;
    right: auto; }

  .reveal-modal .pull-2 {
    right: 16.66667%;
    left: auto; }

  .reveal-modal .push-3 {
    left: 25%;
    right: auto; }

  .reveal-modal .pull-3 {
    right: 25%;
    left: auto; }

  .reveal-modal .push-4 {
    left: 33.33333%;
    right: auto; }

  .reveal-modal .pull-4 {
    right: 33.33333%;
    left: auto; }

  .reveal-modal .push-5 {
    left: 41.66667%;
    right: auto; }

  .reveal-modal .pull-5 {
    right: 41.66667%;
    left: auto; }

  .reveal-modal .push-6 {
    left: 50%;
    right: auto; }

  .reveal-modal .pull-6 {
    right: 50%;
    left: auto; }

  .reveal-modal .push-7 {
    left: 58.33333%;
    right: auto; }

  .reveal-modal .pull-7 {
    right: 58.33333%;
    left: auto; }

  .reveal-modal .push-8 {
    left: 66.66667%;
    right: auto; }

  .reveal-modal .pull-8 {
    right: 66.66667%;
    left: auto; }

  .reveal-modal .push-9 {
    left: 75%;
    right: auto; }

  .reveal-modal .pull-9 {
    right: 75%;
    left: auto; }

  .reveal-modal .push-10 {
    left: 83.33333%;
    right: auto; }

  .reveal-modal .pull-10 {
    right: 83.33333%;
    left: auto; }

  .reveal-modal .push-11 {
    left: 91.66667%;
    right: auto; }

  .reveal-modal .pull-11 {
    right: 91.66667%;
    left: auto; } }