/**
  * Newsletter Popup for PrestaShop by COTOKO.com
  * Version: 2.0.13 -- Apr 20 2015
  * Author: Sergio Quiñonez
  * copyright 2011-2015 COTOKO.com™
  *
  * More info: http://www.prestacheap.com/items/6/Newsletter-Popup-for-PrestaShop
  *
  **/
		
.success_inline {
	margin: 0 0 10px 0;
	padding: 20px;
	border: 1px solid #72CB67;
	font-size: 13px;
	background: #d3ffab
}
.warning_inline {
	margin: 0 0 10px 0;
	padding: 20px;
	border: 1px solid #990000;
	font-size: 13px;
	background: #ffcccc;
}