/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
#product_comments_block_extra .comments_note {
  margin-right: 15px;
  padding-top: 7px;
  float: left; }
  .rtl #product_comments_block_extra .comments_note {
    float: right; }
#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
  float: left;
  color: #555555; }
#product_comments_block_extra div.star:after {
  content: "\f006";
  font-family: "FontAwesome";
  display: inline-block;
  color: #777676; }
#product_comments_block_extra div.star_on:after {
  content: "\f005";
  font-family: "FontAwesome";
  display: inline-block;
  color: #ffd314; }

.comments_advices li {
  display: inline-block;
  line-height: 30px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .comments_advices li {
      display: block;
      line-height: 20px; } }
.comments_advices a {
  text-decoration: none;
  color: #555555;
  position: relative;
  margin-right: 8px;
  line-height: 30px;
  padding: 0;
  display: inline-block; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .comments_advices a {
      float: none;
      line-height: 20px; } }
  .comments_advices a:before {
    background: #929292;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    margin-right: 6px;
    text-align: center;
    width: 25px;
    /*max 1199px*/ }
    @media (max-width: 1199px) {
      .comments_advices a:before {
        display: none; } }
  .comments_advices a.reviews:before {
    content: "\f0e5"; }
  .comments_advices a.open-comment-form:before {
    content: "\f040"; }

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 585px; }

#fancybox-content {
  width: 585px;
  border-width: 0; }

#new_comment_form {
  overflow: hidden;
  color: #555555;
  text-align: left; }
  #new_comment_form h2 {
    margin-bottom: 10px; }
  #new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    background: #000000; }
  #new_comment_form ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0; }
    #new_comment_form ul.grade_content li {
      width: 50%; }
    #new_comment_form ul.grade_content span {
      display: inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold; }
    #new_comment_form ul.grade_content .cancel {
      margin-right: 5px; }
  #new_comment_form .product {
    padding: 15px; }
    #new_comment_form .product img {
      border: 1px solid #e1e1e1; }
    #new_comment_form .product .product_desc {
      line-height: 18px;
      color: #666; }
      #new_comment_form .product .product_desc .product_name {
        padding: 10px 0 5px;
        font-size: 13px;
        color: #000; }
  #new_comment_form .new_comment_form_content {
    padding: 15px 25px 15px 15px;
    background: #f8f8f8; }
    @media (max-width: 767px) {
      #new_comment_form .new_comment_form_content {
        padding-left: 25px; } }
    #new_comment_form .new_comment_form_content .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px; }
  #new_comment_form label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px; }
  #new_comment_form input,
  #new_comment_form textarea {
    padding: 0 5px;
    height: 28px;
    width: 100%;
    border: 1px solid #ccc;
    background: #FFFFFF; }
  #new_comment_form textarea {
    height: 80px; }
  #new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right; }
  #new_comment_form #criterions_list {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    list-style-type: none; }
    #new_comment_form #criterions_list li {
      margin-bottom: 10px; }
    #new_comment_form #criterions_list label {
      display: inline;
      float: left;
      margin: 0 10px 0 0;
      min-width: 40px; }
    #new_comment_form #criterions_list .star_content {
      float: left; }
  #new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px; }

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
  margin: 0 0 20px 0; }
  #product_comments_block_tab div.comment {
    margin: 0 0 14px;
    padding-top: 14px;
    border-top: 1px solid #e1e1e1; }
    #product_comments_block_tab div.comment:first-child {
      padding: 0;
      border: none; }
    #product_comments_block_tab div.comment .comment_author {
      padding: 0 20px;
      line-height: 18px span;
        line-height-font-weight: bold;
        line-height-float: left; }
      #product_comments_block_tab div.comment .comment_author .star_content {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 5px; }
    #product_comments_block_tab div.comment .comment_details {
      overflow: hidden;
      border-left: 1px solid #e1e1e1; }
      @media (max-width: 991px) {
        #product_comments_block_tab div.comment .comment_details {
          border-left: none; }
          #product_comments_block_tab div.comment .comment_details ul {
            list-style-type: none;
            margin: 0; }
            #product_comments_block_tab div.comment .comment_details ul li {
              padding: 2px 0 2px; }
              #product_comments_block_tab div.comment .comment_details ul li:before {
                font-family: "FontAwesome";
                content: "\f0da";
                color: #555555;
                margin-right: 8px; } }
  #product_comments_block_tab div.star:after {
    content: "\f006";
    font-family: "FontAwesome";
    display: inline-block;
    color: #777676; }
  #product_comments_block_tab div.star_on:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #ef8743; }
  #product_comments_block_tab .comment_author_infos {
    clear: both;
    padding-top: 9px; }
    #product_comments_block_tab .comment_author_infos strong {
      display: block;
      color: #555555; }
    #product_comments_block_tab .comment_author_infos em {
      color: #adadad; }
  #product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold;
    color: #D8262E; }
  #product_comments_block_tab span.report_btn {
    cursor: pointer; }
  #product_comments_block_tab span.report_btn:hover {
    text-decoration: underline; }

.fl {
  float: left; }

.fr {
  float: right; }
