
{if $separ_title}
	<div class="widget-separator {$addition_cls} {if isset($stylecls)&&$stylecls}block-{$stylecls}{/if}">
		<div class="w_text_separator {$el_class}"><div class="text_separ {$title_align}">{$separ_title}</div></div>
 	</div>
{/if}