{if isset($images)}
<div class="widget-images block {$addition_cls} {if isset($stylecls)&&$stylecls}block-{$stylecls}{/if}">
	{if isset($widget_heading)&&!empty($widget_heading)}
	<h4 class="title_block">
		{$widget_heading}
	</h4>
	{/if}
	<div class="widget-inner gallery-{$type} block_content clearfix">
			{if $type=='slider-bt'}
			<div class="carousel slide pts-carousel" id="carousel-{$id}" data-ride="carousel">
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-{$id}" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-{$id}" data-slide-to="1"></li>
				    <li data-target="#carousel-{$id}" data-slide-to="2"></li>
				  </ol>
					<div class="carousel-inner">
				{foreach from=$images item=image name=image}
				
	 				<div class="item"><div>
	 					{if $image.link}
	 					<a href="{$image.link}" title="{l s='Image Gallery' mod='pspagebuilder'}"><img src="{$image.thumbnailurl}"/></a>
	 					{else}
	 					<img src="{$image.thumbnailurl}"/>
	 					{/if}
	 				</div></div>
	 	
				 {/foreach}
				 </div>	
			      <a class="left carousel-control" href="#carousel-{$id}" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-{$id}" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>

			</div>
			{else}
			<div class="images-list clearfix">	
		 		{foreach from=$images item=image name=image}
			 		<div class="image-item grid-{$columns}"><div>
			 			<img src="{$image.thumbnailurl}"/>
			 			
			 			{if $ispopup}
					 	<a href="{$image.imageurl}" class="pts-popup fancybox" title="{l s='Large Image' mod='pspagebuilder'}"><span class="icon icon-expand"></span></a>
					 	{/if}
					 	
					 	{if $image.link}
					 	<a href="{$image.link}" class="pts-btnlink" title="{l s='Large Image' mod='pspagebuilder'}"><span class="icon icon-share"></span></a>
					 	{/if}
			 		</div></div>
				 {/foreach}
			</div>	
		 {/if}	
	</div>
</div>
{/if} 