/* BLOCK #reinsurance_block ******************************************************************** */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
#reinsurance h5 {
  margin: 0;
  font-size: inherit;
  font-weight: 500; }
#reinsurance p {
  margin-bottom: 0; }

.right-image {
  text-align: right; }
  .rtl .right-image {
    text-align: left; }
  .right-image .reinsurance-image {
    float: right;
    margin-left: 10px; }
    .rtl .right-image .reinsurance-image {
      float: left; }
    .rtl .right-image .reinsurance-image {
      margin-right: 10px;
      margin-left: inherit; }

.top-image {
  text-align: center; }
  .top-image .reinsurance-image {
    float: none;
    margin-bottom: 15px;
    text-align: center; }

.reinsurance-image,
.left-image .reinsurance-image {
  float: left;
  margin-right: 10px;
  text-align: left; }
  .rtl .reinsurance-image, .rtl
  .left-image .reinsurance-image {
    float: right; }
  .rtl .reinsurance-image, .rtl
  .left-image .reinsurance-image {
    margin-left: 10px;
    margin-right: inherit; }
  .rtl .reinsurance-image, .rtl
  .left-image .reinsurance-image {
    text-align: right; }
