/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/*******************************************************************
					ptsblockmanufacturer
********************************************************************/
.ptsblockmanufacturer {
  padding-right: 0;
  overflow: hidden; }
  .rtl .ptsblockmanufacturer {
    padding-left: 0;
    padding-right: inherit; }
  .ptsblockmanufacturer .carousel-inner .block_manuf a {
    display: block;
    text-align: center; }
  .ptsblockmanufacturer .block_content {
    background-color: #FFFFFF;
    position: relative;
    padding: 35px; }
  .ptsblockmanufacturer .carousel-controls {
    width: 100%;
    top: 46%; }
    .ptsblockmanufacturer .carousel-controls .carousel-control.left {
      left: 20px; }
    .ptsblockmanufacturer .carousel-controls .carousel-control.right {
      right: 20px; }
