/*******************************************************************
					pstblockspecialpro
********************************************************************/
/* line 7, ../../../sass/modules/ptsutilproductcarousel/ptsutilproductcarousel.scss */
.ptsutilproductcarousel {
  border-top: 1px solid #e7e7e7;
}
/* line 11, ../../../sass/modules/ptsutilproductcarousel/ptsutilproductcarousel.scss */
.ptsutilproductcarousel h3 {
  float: left;
  margin: 0;
  background: #262626;
  font: 600 14px/24px "Exo2.0Regular", sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 8px 15px;
  position: relative;
}
/* line 20, ../../../sass/modules/ptsutilproductcarousel/ptsutilproductcarousel.scss */
.ptsutilproductcarousel h3:before {
  height: 0;
  width: 0;
  right: 45%;
  top: 100%;
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #262626;
}
/* line 31, ../../../sass/modules/ptsutilproductcarousel/ptsutilproductcarousel.scss */
.ptsutilproductcountdown .block_content {
    float: left;
    width: 100%;
    margin-top: 12px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.pts-product_list .product-container{
    overflow: hidden;
    padding: 20px 5px 20px;
    position: relative;
}

.pts-product_list .product-container .product-image-container .content_price{
    padding: 0;
    position: absolute;
    right: 5px;
    top: 15px;
}
.pts-product_list .product-container .product-image-container img{
    margin: 0 auto;
}
#ptsutilproductcarousel{
    float: left;
    margin: 20px 0px;
    width: 100%;
}
