/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/*******************************************************
				Addresses Styles
********************************************************/
#addresses #center_column .page-heading {
  margin: 0 0 22px; }
#addresses #center_column p {
  margin: 0 0 13px; }
  #addresses #center_column p.p-indent {
    margin: 0 0 27px; }

.address li.address_update {
  margin: 14px 0 6px 0; }
  .address li.address_update a {
    margin: 0 10px 0 0; }
    .rtl .address li.address_update a {
      margin: 0 0 0 10px; }
.address .box {
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #eeeeee;
  line-height: 23px;
  margin: 0 0 30px;
  padding: 14px 18px 13px; }
