/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
h3.page-product-heading {
  float: left;
  color: #000;
  text-transform: uppercase;
  font: 600 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 15px;
  margin: 0 0 20px;
  min-width: 120px;
  position: relative;
  background: #ababab; }
  .rtl h3.page-product-heading {
    float: right; }
  h3.page-product-heading:before {
    height: 0;
    width: 0;
    right: 45%;
    top: 100%;
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-top-color: #ababab; }
    .rtl h3.page-product-heading:before {
      left: 45%;
      right: auto; }

h1#cart_title {
  margin-top: 0;
  font-size: 24px; }

.content_scene_cat {
  line-height: 20px;
  margin: 0 0 15px 0;
  clear: both; }
  @media (max-width: 1199px) {
    .content_scene_cat .content_scene_cat_bg {
      padding: 10px 10px 10px 15px; }
      .rtl .content_scene_cat .content_scene_cat_bg {
        padding: 10px 15px 10px 10px; } }
  .content_scene_cat .cat_desc {
    margin-top: 10px; }
  .content_scene_cat span.category-name {
    font: 600 42px/51px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    margin-bottom: 12px; }
    @media (max-width: 1199px) {
      .content_scene_cat span.category-name {
        font-size: 25px;
        line-height: 30px; } }
  .content_scene_cat p {
    margin-bottom: 0; }
  .content_scene_cat a {
    color: #000000; }
    .content_scene_cat a:hover {
      text-decoration: underline; }
  .content_scene_cat .content_scene {
    color: #555555; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #000; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #49cae6; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories {
  margin-bottom: 30px; }
  #subcategories .subcategory-heading {
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    margin: 0 15px 0 0;
    font-size: 14px;
    font-weight: 700; }
    .rtl #subcategories .subcategory-heading {
      margin: 0 0 0 15px; }
