/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/************************************************************
				History Page Styles
************************************************************/
#order-detail-content table .return_quantity_buttons {
  margin-top: 3px; }
  #order-detail-content table .return_quantity_buttons a {
    display: none;
    float: left; }
    .rtl #order-detail-content table .return_quantity_buttons a {
      float: right; }
    #order-detail-content table .return_quantity_buttons a + a {
      margin-left: 3px; }
      .rtl #order-detail-content table .return_quantity_buttons a + a {
        margin-right: 3px;
        margin-left: inherit; }
#order-detail-content table .order_qte_input {
  display: none;
  width: 57px;
  height: 27px;
  line-height: 27px;
  padding: 0;
  text-align: center; }
#order-detail-content table label {
  font-weight: 400; }

.table td.history_detail a + a {
  margin-left: 14px; }
  .rtl .table td.history_detail a + a {
    margin-right: 14px;
    margin-left: inherit; }
.table td.step-by-step-date {
  width: 105px; }
.table tfoot strong {
  color: #555555; }

.info-order i {
  font-size: 20px; }
  .info-order i.icon-gift {
    color: #f13340; }
  .info-order i.icon-repeat {
    color: #55c65e; }

#sendOrderMessage {
  margin-bottom: 30px; }
  #sendOrderMessage select.form-control {
    width: 263px; }
