/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
#maintenance {
  margin: 50px 0 0 0; }
  @media (min-width: 1200px) {
    #maintenance {
      margin: 126px 0 0 0;
      padding: 91px 48px 365px 297px;
      background: url(../img/bg_maintenance.png) no-repeat; }
      .rtl #maintenance {
        padding: 91px 297px 365px 48px; } }
  #maintenance .logo {
    margin: 0 0 31px 0; }
  #maintenance h1 {
    font: 600 28px/34px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555555;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 0 14px 0;
    margin: 0 0 19px 0; }
  #maintenance #message {
    font: 600 16px/31px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 0 0 18px;
    color: #555454;
    text-transform: uppercase; }
    .rtl #maintenance #message {
      padding: 0 18px 0 0; }

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0; } }
