/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/* product desc */
/* primary_block ***************************************************************************** */
/* .pb-left-column ***************************************************************************** */
.page-product-heading {
  margin: 0 0 10px;
  display: inline-block;
  color: #000;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: lowercase; }

#image-block {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #e1e1e1;
  text-align: center;
  overflow: hidden; }
  @media (max-width: 767px) {
    #image-block {
      margin: 0 auto; } }
  #image-block img {
    width: 100%;
    height: auto; }
  #image-block #view_full_size {
    display: block;
    cursor: pointer; }
    #image-block #view_full_size .span_link {
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -68px;
      display: block;
      padding: 10px 0;
      text-align: center;
      line-height: 22px;
      color: #777676;
      width: 136px;
      text-align: center;
      font-weight: 700;
      background: rgba(255, 255, 255, 0.5);
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16); }
      .rtl #image-block #view_full_size .span_link {
        right: 50%;
        left: auto; }
      .rtl #image-block #view_full_size .span_link {
        margin-right: -68px;
        margin-left: inherit; }
      #image-block #view_full_size .span_link:after {
        font-family: "FontAwesome";
        color: #535353;
        font-size: 20px;
        line-height: 22px;
        content: "\f00e";
        font-weight: normal;
        margin: 0 0 0 10px; }
      #image-block #view_full_size .span_link:hover {
        color: #49cae6; }
      #image-block #view_full_size .span_link:hover:after {
        color: #49cae6; }
  #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px; }
  #image-block a.jqzoom div div .zoomWrapper {
    border: none; }
  #image-block .zoomPad {
    z-index: auto !important; }

.pb-right-column > div {
  margin-bottom: 15px; }

/* miniatures */
#views_block {
  margin-top: 15px;
  display: block;
  position: relative;
  text-align: center; }

span.view_scroll_spacer {
  height: 30px;
  width: 30px;
  top: -35px; }
  span.view_scroll_spacer.view_scroll_spacer_left {
    left: 0;
    right: inherit; }
    .rtl span.view_scroll_spacer.view_scroll_spacer_left {
      right: 0;
      left: auto; }
    .rtl span.view_scroll_spacer.view_scroll_spacer_left {
      left: inherit;
      right: auto; }
  span.view_scroll_spacer.view_scroll_spacer_right {
    right: 0;
    left: inherit; }
    .rtl span.view_scroll_spacer.view_scroll_spacer_right {
      left: 0;
      right: auto; }
    .rtl span.view_scroll_spacer.view_scroll_spacer_right {
      right: inherit;
      left: auto; }
  span.view_scroll_spacer .carousel-control {
       color: #D8262E;
    background-color: transparent;}
    span.view_scroll_spacer .carousel-control:hover {
      background-color: transparent;
          border: 0 none; }

.resetimg {
  padding: 10px 0 0;
  display: none; }
  .resetimg #resetImages i {
    margin-right: 6px; }
    .rtl .resetimg #resetImages i {
      margin-left: 6px;
      margin-right: inherit; }

.buttons_bottom_block #wishlist_button {
  border: 2px solid #e5e5e5;
  line-height: 34px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 20px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  color: #aaaaaa;
  margin-left: 10px; }
  .rtl .buttons_bottom_block #wishlist_button {
    margin-right: 10px;
    margin-left: inherit; }
  .buttons_bottom_block #wishlist_button:hover {
    color: #fff; }

/* link list */
#usefull_link_block {
  list-style-type: none; }
  #usefull_link_block li {
    margin: 40px 1px 5px 1px;
    float: left; }
    @media screen and (max-width: 479px){
      #usefull_link_block li{
        margin: 0;
        float: none;
      }
      li.socialsharing_product{
        width: 25%;
        float: left !important;
      }
    }
    @media screen and (max-width: 991px){
      #usefull_link_block li{
        margin: 20px 0;
        float: none;
      }
      li.socialsharing_product{
        width: 25%;
        float: left !important;
      }
    }
    .rtl #usefull_link_block li {
      margin: 5px 1px 5px 1px; }
    .rtl #usefull_link_block li {
      float: right; }
    #usefull_link_block li a {
      color: #696969;
      position: relative;
      display: inline-block;
      font-size: 11px;
      /* &:before{
      	font-family: $font-icon;
      	font-size: $font-size-base - 2;
      	line-height: 26px;
      	position: absolute;
      	top: -1px;
      	@include rtl-left(0);
      	font-weight: normal;
      } */ }
      #usefull_link_block li a:hover {
        color: #FFFFFF; }
        #usefull_link_block li a:hover:before {
          color: #49cae6; }
    #usefull_link_block li.print, #usefull_link_block li.sendtofriend {
      /* a:before{
      	content: "\f02f";
      } */ }
      #usefull_link_block li.print a, #usefull_link_block li.sendtofriend a {
        color: #696969;
        background-color: #FFFFFF;
        border:none;
        font-weight: 600;
        font-family: "Roboto";
        text-transform: uppercase;
        padding: 0px 15px;
        font-size: 12px;
        line-height: 34px;
        text-transform: none; }
        #usefull_link_block li.print a:hover, #usefull_link_block li.print a:focus, #usefull_link_block li.print a:active, #usefull_link_block li.print a.active, #usefull_link_block li.sendtofriend a:hover, #usefull_link_block li.sendtofriend a:focus, #usefull_link_block li.sendtofriend a:active, #usefull_link_block li.sendtofriend a.active {
          color: #fff;
          background-color: #49cae6;
          border-color: #1ba9c7; }
        .open #usefull_link_block li.print a.dropdown-toggle, .open #usefull_link_block li.sendtofriend a.dropdown-toggle {
          color: #fff;
          background-color: #49cae6;
          border-color: #1ba9c7; }
        #usefull_link_block li.print a:active, #usefull_link_block li.print a.active, #usefull_link_block li.sendtofriend a:active, #usefull_link_block li.sendtofriend a.active {
          background-image: none; }
        .open #usefull_link_block li.print a.dropdown-toggle, .open #usefull_link_block li.sendtofriend a.dropdown-toggle {
          background-image: none; }
        #usefull_link_block li.print a.disabled, #usefull_link_block li.print a.disabled:hover, #usefull_link_block li.print a.disabled:focus, #usefull_link_block li.print a.disabled:active, #usefull_link_block li.print a.disabled.active, #usefull_link_block li.print a[disabled], #usefull_link_block li.print a[disabled]:hover, #usefull_link_block li.print a[disabled]:focus, #usefull_link_block li.print a[disabled]:active, #usefull_link_block li.print a[disabled].active, fieldset[disabled] #usefull_link_block li.print a, fieldset[disabled] #usefull_link_block li.print a:hover, fieldset[disabled] #usefull_link_block li.print a:focus, fieldset[disabled] #usefull_link_block li.print a:active, fieldset[disabled] #usefull_link_block li.print a.active, #usefull_link_block li.sendtofriend a.disabled, #usefull_link_block li.sendtofriend a.disabled:hover, #usefull_link_block li.sendtofriend a.disabled:focus, #usefull_link_block li.sendtofriend a.disabled:active, #usefull_link_block li.sendtofriend a.disabled.active, #usefull_link_block li.sendtofriend a[disabled], #usefull_link_block li.sendtofriend a[disabled]:hover, #usefull_link_block li.sendtofriend a[disabled]:focus, #usefull_link_block li.sendtofriend a[disabled]:active, #usefull_link_block li.sendtofriend a[disabled].active, fieldset[disabled] #usefull_link_block li.sendtofriend a, fieldset[disabled] #usefull_link_block li.sendtofriend a:hover, fieldset[disabled] #usefull_link_block li.sendtofriend a:focus, fieldset[disabled] #usefull_link_block li.sendtofriend a:active, fieldset[disabled] #usefull_link_block li.sendtofriend a.active {
          filter: alpha(opacity=100);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          -moz-opacity: 1;
          -khtml-opacity: 1;
          opacity: 1; }
        #usefull_link_block li.print a .badge, #usefull_link_block li.sendtofriend a .badge {
          color: #FFFFFF;
          background-color: #696969; }
        #usefull_link_block li.print a:hover, #usefull_link_block li.sendtofriend a:hover {
          color: #FFFFFF; }
    #usefull_link_block li.sendtofriend {
      /* a:before{
      	content: "\f003";
      } */ }
    #usefull_link_block li#left_share_fb a {
      padding-left: 18px; }
      .rtl #usefull_link_block li#left_share_fb a {
        padding-right: 18px;
        padding-left: inherit; }
    #usefull_link_block li#left_share_fb a:before {
      content: "\f09a"; }
    #usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
      cursor: pointer;
      font-weight: 700;
      clear: both;
      float: none;
      margin: 0 0 8px 0;
      border: none;
      padding: 0;
      position: relative; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
        font-family: "FontAwesome";
        color: #555555;
        font-size: 19px;
        line-height: 24px;
        position: absolute;
        left: 0;
        bottom: inherit;
        top: -2px;
        margin: auto;
        content: "";
        font-weight: normal;
        content: "\f08a"; }
        .rtl #usefull_link_block li#favoriteproducts_block_extra_remove:before, .rtl #usefull_link_block li#favoriteproducts_block_extra_add:before, .rtl #usefull_link_block li#favoriteproducts_block_extra_removed:before, .rtl #usefull_link_block li#favoriteproducts_block_extra_added:before {
          right: 0;
          left: auto; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
        color: #000; }
    #usefull_link_block li#favoriteproducts_block_extra_removed:before {
      content: "\f004"; }

/* pb-left-column ****************************************************************************** */
h1 {
  color: #000000;
  text-transform: lowercase;
  font-weight: 400; }

p {
  margin-bottom: 10px; }

#product_reference {
  margin-bottom: 6px;
  font-size: 0.9em; }
  #product_reference span {
    color: #D8262E;
    font-weight: 400; }

#product_condition .editable {
  padding-left: 5px; }
  .rtl #product_condition .editable {
    padding-right: 5px;
    padding-left: inherit; }

#short_description_block {
  color: #666; }
  #short_description_block .buttons_bottom_block {
    display: none; }
  #short_description_block #short_description_content {
    padding: 0 0 15px;
    word-wrap: break-word; }

/* form */
#buy_block {
  margin-top: 10px;
  position: relative; }
  #buy_block label {
    display: inline-block;
    min-width: 120px;
    text-align: left;
    float: left; }
    .rtl #buy_block label {
      text-align: right; }
    .rtl #buy_block label {
      float: right; }
  #buy_block p.price {
    padding: 0; }

#color_picker p {
  padding-bottom: 5px;
  font-weight: 700; }

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin: 10px 0 -5px;
  position: relative; }
  #product p#loyalty b {
    color: #555555; }
  #product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    left: 0;
    bottom: inherit;
    top: 16px;
    margin: auto;
    content: ""; }
    .rtl #product p#loyalty:before {
      right: 0;
      left: auto; }

#page .rte {
  padding: 0 0px 20px;
  word-wrap: break-word; }
  #page .rte p {
    margin-bottom: 0; 
    font-size: 1em;}

.box-cart-bottom {
  padding: 10px 0; }
  .box-cart-bottom > * {
    margin-bottom: 10px; }

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  margin: 0 0 20px;
  clear: both;
  background: #FFFFFF; }
  .table-data-sheet tr {
    border-top: 1px solid #e1e1e1; }
    .table-data-sheet tr.even {
      background: #fdfdfd; }
    .table-data-sheet tr td {
      padding: 8px 10px 8px; }
      .table-data-sheet tr td:first-child {
        border-right: 1px solid #e1e1e1;
        width: 30%;
        font-weight: 700;
        color: #555555; }
        .rtl .table-data-sheet tr td:first-child {
          border-left: 1px solid #e1e1e1;
          border-right: inherit; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  width: 50%;
  margin: 0 0 20px;
  background: #FFFFFF; }
  .rtl table.table-product-discounts {
    border-left: 1px solid #e1e1e1;
    border-right: inherit; }
  @media (max-width: 767px) {
    table.table-product-discounts {
      width: 100%; } }
  table.table-product-discounts tr th {
    background: #fbfbfb;
    color: #555555;
    font-weight: 700;
    border: none;
    font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
    border-left: 1px solid #e1e1e1;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #e1e1e1;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }
    .rtl table.table-product-discounts tr td, .rtl
    table.table-product-discounts tr th {
      border-right: 1px solid #e1e1e1;
      border-left: inherit; }
    .rtl table.table-product-discounts tr td, .rtl
    table.table-product-discounts tr th {
      border-left: none;
      border-right: inherit; }

/* accessories  */
.accessories-block {
  clear: both; }
  .accessories-block .product_list {
    margin-top: 0px; }
  .accessories-block .block_description {
    display: none; }
  .accessories-block .exclusive span {
    padding: 8px 10px 7px;
    text-decoration: none; }
    .accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
      text-decoration: none; }

/* quantity_wanted */
#quantity_wanted_p {
  float: left;
  position: relative;
  margin-right: 20px; }
  .rtl #quantity_wanted_p {
    margin-left: 20px;
    margin-right: inherit; }
  #quantity_wanted_p > * {
    width: 45px;
    border: 1px solid #e1e1e1 !important;
    height: 38px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    float: left;
    margin-right: -1px;
    background: #FFFFFF; }
    .rtl #quantity_wanted_p > * {
      float: right; }
    .rtl #quantity_wanted_p > * {
      margin-left: -1px;
      margin-right: inherit; }
  #quantity_wanted_p input {
    font-size: 14px; }
  #quantity_wanted_p label {
    display: inline-block;
    min-width: 80px;
    font-size: 15px;
    font-weight: normal; }

#minimal_quantity_wanted_p {
  margin: 6px 0; }

/* 
#quantity_wanted_p {
  .button-minus, .button-plus {
    background: #fff;
    border: 1px solid $border-color;
    cursor: pointer;
    height: 15px;
    line-height: 12px;
    display: inline-block;
    width: 22px;
    text-align: center;
    position: absolute;
  }
  .button-minus {
    border-left: 0 none;
    border-top: 0 none;
    top: 15px;
    @include rtl-right (0);
  }
  .button-plus {
    border-left: 0 none;
    margin-top: 0;
    @include rtl-right (0);
    top: 0;
  }
}
 */
/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right; }
  .rtl #availability_statut span#availability_label, .rtl
  #availability_date_label {
    text-align: left; }

#quantityAvailable {
  color: #555555;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700; }

#availability_value,
#last_quantities {
  color: #fff;
  font-weight: 300;
  line-height: 20px;
  display: inline-block;
  padding: 5px 15px;
  background: #D8262E;
  border: 1px solid #ab242b;
  margin-left: 5px; }
  .rtl #availability_value, .rtl
  #last_quantities {
    margin-right: 5px;
    margin-left: inherit; }

#last_quantities {
  background: #D8262E;
  border: 1px solid #ab242b;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px; }

#availability_statut,
#pQuantityAvailable {
  display: inline-block; }

#pQuantityAvailable span {
  font-weight: 700;
  color: #555555; }

#availability_statut #availability_value.warning_inline {
  background-color: #fe9126;
  border-color: #e4752b;
  text-shadow: 1px 1px #e68322;
  margin: 0; }

/* box-security */
/* prices */
.content_prices:before, .content_prices:after {
  content: " ";
  display: table; }
.content_prices:after {
  clear: both; }
.content_prices .price .our_price_display {
  font-size: 30px;
  font-weight: 300;
  font-family: "Roboto";
  color: #000; }
.content_prices .price > * {
  display: inline-block; }
.content_prices .price #old_price {
  text-decoration: line-through;
  color: #000000;
  font-weight: 600;
  font-size: 13px;     margin-left: 10px;}

#reduction_percent,
#reduction_amount {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  font: 600 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 23px;
  color: #fff;
  background: #D8262E;    margin-left: 10px; }
  .rtl #reduction_percent, .rtl
  #reduction_amount {
    margin-left: 10px;
    margin-right: inherit; }
  #reduction_percent span,
  #reduction_amount span {
    display: block; }

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; }
  .rtl .pb-center-column p.online_only {
    text-align: right; }

.buttons_bottom_block #wishlist_button {
  font-weight: 700; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 555px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #send_friend_form {
      width: 280px; } }
  #send_friend_form .product img {
    margin: 0 0 10px 0;
    border: 1px solid #e1e1e1; }
  #send_friend_form .product p {
    padding: 0;
    color: #555555; }
    #send_friend_form .product p .product_name {
      font-size: 12px;
      color: #000; }
  #send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #e1e1e1;
    background: #fbfbfb; }
    #send_friend_form .form_container p.intro_form {
      padding-bottom: 6px;
      font-weight: 700;
      font-size: 13px;
      color: #555555; }
    #send_friend_form .form_container p.txt_required {
      padding-bottom: 0;
      color: #666; }
    #send_friend_form .form_container .text {
      padding-bottom: 10px; }
      #send_friend_form .form_container .text label {
        display: block;
        padding: 0;
        width: 100%;
        font-size: 12px; }
      #send_friend_form .form_container .text input {
        padding: 0 5px;
        height: 30px;
        width: 100%;
        border: 1px solid #e1e1e1;
        font-size: 12px;
        color: #666; }
  #send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right; }
    .rtl #send_friend_form .submit {
      text-align: left; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1; }

.customizationUploadLine {
  padding-bottom: 10px; }
  .customizationUploadLine label {
    display: block;
    vertical-align: top; }
  .customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #e1e1e1; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }
  .rtl #customizedDatas {
    float: left; }

.accessories_block div ul li a {
  display: inline-block; }
.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
  font-weight: 700; }

/******************************************************************
Quick View Styles
******************************************************************/
/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
  background: #fff;
  border: 1px solid #e1e1e1; }
.ie8 .box-security {
  filter: none; }

/***** tab info ************/
.tab_product .tab-info li {
  padding-right: 20px; }
  .rtl .tab_product .tab-info li {
    padding-left: 20px;
    padding-right: inherit; }
  @media (max-width: 767px) {
    .tab_product .tab-info li {
      width: 100%; } }
  .tab_product .tab-info li a {
    border: 0;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
    font: 600 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block; }
    .tab_product .tab-info li a:before {
      position: absolute;
      content: "";
      width: 100%;
      bottom: 0;
      height: 0;
      background-color: #49cae6;
      -webkit-transition: height 0.3s ease-in-out 0s;
      transition: height 0.3s ease-in-out 0s; }
  .tab_product .tab-info li:hover a, .tab_product .tab-info li.active a {
    color: #555555; }
    .tab_product .tab-info li:hover a:focus, .tab_product .tab-info li:hover a:hover, .tab_product .tab-info li.active a:focus, .tab_product .tab-info li.active a:hover {
      border: 0;
      color: #555555; }
    .tab_product .tab-info li:hover a:before, .tab_product .tab-info li.active a:before {
      height: 3px; }

#product_payment_logos {
  clear: both; }

.plabel{
  min-width: 0;
  color: #D8262E;
}
.tab-content h3.page-product-heading {
  font-size: 1.6em;
}
@media screen and (max-width: 911px){
    #usefull_link_block li{
      margin: 20px -10px !important;
      float: none ;
  }
}

