/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
.product_list .product-block .product-desc {
  margin-bottom: 15px; }
.product_list .product-block .availability {
  display: block;
  margin-bottom: 15px; }
.product_list .product-block .color-list-container {
  margin-bottom: 10px;display: none }
  .product_list .product-block .color-list-container ul li {
    display: inline-block;
    border: 1px solid #e2e2e2; }
    .product_list .product-block .color-list-container ul li a {
      display: block;
      width: 10px;
      height: 10px;
      margin: 1px; }
.product_list.list .product-block {
  text-align: left;
  padding: 15px; }
  .rtl .product_list.list .product-block {
    text-align: right; }
  .product_list.list .product-block .product-meta {
    overflow: hidden; }
  .product_list.list .product-block .image {
    margin: 0;
    margin-right: 30px; }
    .rtl .product_list.list .product-block .image {
      margin-left: 30px;
      margin-right: inherit; }
    @media (min-width: 1199px) {
      .product_list.list .product-block .image {
        float: left;
        width: 30%; }
        .rtl .product_list.list .product-block .image {
          float: right; } }
  .product_list.list .product-block:hover .product-meta {
    background: none; }
  .product_list.list .product-block .description {
    display: block; }
  .product_list.list .product-block .name:after {
    margin: 0; }
  .product_list.list .product-block .price {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }
  .product_list.list .product-block .action-btn {
    position: relative;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    bottom: 0; }
.product_list.list.style1 .product-block {
  text-align: left; }
  .rtl .product_list.list.style1 .product-block {
    text-align: right; }
  @media (min-width: 1199px) {
    .product_list.list.style1 .product-block .product-meta {
      padding-right: 20%; }
      .rtl .product_list.list.style1 .product-block .product-meta {
        padding-left: 20%;
        padding-right: inherit; } }
.product_list.list.style2 .product-block .product-image-container {
  margin-bottom: 0;
  border-bottom: none; }
.product_list.list.style2 .product-block .product-meta {
  text-align: left; }
  .rtl .product_list.list.style2 .product-block .product-meta {
    text-align: right; }
.product_list.list.style3 .product-block .product-image-container {
  border-bottom: none; }
.product_list.list.style3 .product-block .product-meta {
  text-align: left;
  padding: 0; }
  .rtl .product_list.list.style3 .product-block .product-meta {
    text-align: right; }
.product_list.list.style3 .product-block .price {
  top: 0;
  margin-bottom: 15px; }
.product_list.list.style3 .product-block .action-btn {
  background-color: transparent;
  margin: 0;
  border: none; }
.product_list.list.style3 .product-block:hover .product-meta,
.product_list.list.style3 .product-block:hover .product-meta .name a {
  color: #000; }
.product_list.list.style3 .product-block:hover .product-rating {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
.product_list.list.style4 .product-block {
  text-align: left; }
  .rtl .product_list.list.style4 .product-block {
    text-align: right; }
@media (min-width: 991px) {
  .product_list.grid .first-in-line {
    clear: left; }
    .rtl .product_list.grid .first-in-line {
      clear: right; } }
@media (max-width: 991px) {
  .product_list.grid .first-item-of-tablet-line {
    clear: left; }
    .rtl .product_list.grid .first-item-of-tablet-line {
      clear: right; } }
