/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/***********************************************************
					Stores Page Styles
************************************************************/
#stores #map {
  width: 100%;
  height: 447px;
  margin-bottom: 26px; }
#stores input#addressInput {
  display: inline-block;
  width: 269px; }
#stores .address-input {
  float: left;
  margin-right: 19px; }
  .rtl #stores .address-input {
    float: right; }
  .rtl #stores .address-input {
    margin-left: 19px;
    margin-right: inherit; }
  @media (max-width: 767px) {
    #stores .address-input {
      width: 100%;
      margin: 0 0 20px 0; } }
  #stores .address-input label {
    margin-right: 5px; }
    .rtl #stores .address-input label {
      margin-left: 5px;
      margin-right: inherit; }
#stores .radius-input {
  float: left;
  line-height: 23px;
  margin-right: 20px; }
  .rtl #stores .radius-input {
    float: right; }
  .rtl #stores .radius-input {
    margin-left: 20px;
    margin-right: inherit; }
  #stores .radius-input label,
  #stores .radius-input .selector {
    float: left; }
    .rtl #stores .radius-input label, .rtl
    #stores .radius-input .selector {
      float: right; }
  #stores .radius-input label {
    margin-right: 10px; }
    .rtl #stores .radius-input label {
      margin-left: 10px;
      margin-right: inherit; }
  #stores .radius-input #radiusSelect {
    width: 78px;
    float: left; }
    .rtl #stores .radius-input #radiusSelect {
      float: right; }
#stores .store-content {
  padding-bottom: 30px; }
#stores .store-content-select .selector {
  visibility: hidden;
  display: none; }
#stores .store-content-select.active {
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #e1e1e1; }
  #stores .store-content-select.active .selector {
    visibility: visible;
    display: block; }
#stores .store-title {
  margin-bottom: 16px; }
#stores label {
  font-weight: normal;
  color: #555555; }
#stores #stores_loader {
  display: none;
  margin-left: 5px; }
  .rtl #stores #stores_loader {
    margin-right: 5px;
    margin-left: inherit; }
#stores #locationSelect {
  max-width: 356px;
  visibility: hidden; }
#stores #stores-table {
  display: none; }
  #stores #stores-table tbody td {
    padding: 20px; }
    #stores #stores-table tbody td.num {
      background: #fbfbfb;
      width: 46px; }
    #stores #stores-table tbody td.name span {
      padding-left: 15px; }
      .rtl #stores #stores-table tbody td.name span {
        padding-right: 15px;
        padding-left: inherit; }
    @media (max-width: 767px) {
      #stores #stores-table tbody td.name img {
        display: none; } }

.store-image img {
  width: 100%;
  min-width: 100px; }
