/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/*******************************************************************
          ptsbttestimonials
********************************************************************/
.ptsbttestimonials {
  position: relative; }
  .ptsbttestimonials .testimonial-item {
    padding-left: 55px; }
    .rtl .ptsbttestimonials .testimonial-item {
      padding-right: 55px;
      padding-left: inherit; }
  .ptsbttestimonials .test-info {
    font-size: 17px;
    clear: both;
    margin-bottom: 15px;
    text-align: left;
    font-style: italic; }
    .rtl .ptsbttestimonials .test-info {
      text-align: right; }
    .ptsbttestimonials .test-info blockquote {
      border-left: none;
      padding: 0; }
      .ptsbttestimonials .test-info blockquote:before {
        content: "\f10d";
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        color: #e0e0e0;
        font-size: 40px; }
        .rtl .ptsbttestimonials .test-info blockquote:before {
          right: 0;
          left: auto; }
  .ptsbttestimonials .t-avatar {
    clear: both;
    display: inline-block;
    position: relative;
    padding: 2px; }
    .ptsbttestimonials .t-avatar img {
      -webkit-box-shadow: 0 0 2px #000;
      box-shadow: 0 0 2px #000;
      width: 55px;
      height: 55px; }
    .ptsbttestimonials .t-avatar:hover .btn {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1; }
    .ptsbttestimonials .t-avatar .btn {
      position: absolute;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 28px;
      padding: 0;
      text-align: center;
      left: 50%;
      margin-left: -15px;
      top: 50%;
      margin-top: -15px;
      opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
      .rtl .ptsbttestimonials .t-avatar .btn {
        right: 50%;
        left: auto; }
      .rtl .ptsbttestimonials .t-avatar .btn {
        margin-right: -15px;
        margin-left: inherit; }
  .ptsbttestimonials .t-profile {
    padding: 13px 0;
    overflow: hidden; }
    .ptsbttestimonials .t-profile .name {
      font-size: 11px;
      font-weight: 700;
      color: #49cae6;
      text-transform: uppercase; }
    .ptsbttestimonials .t-profile .job {
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase; }
  .ptsbttestimonials .carousel-controls {
    display: none; }
  .ptsbttestimonials .carousel-linked-nav {
    height: 15px;
    min-height: 15px;
    line-height: 15px;
    padding-left: 120px; }
    .rtl .ptsbttestimonials .carousel-linked-nav {
      padding-right: 120px;
      padding-left: inherit; }
    .ptsbttestimonials .carousel-linked-nav > li {
      margin: 0; }
      .ptsbttestimonials .carousel-linked-nav > li.active a {
        background-color: #49cae6;
        border-color: transparent; }
      .ptsbttestimonials .carousel-linked-nav > li > a {
        background: #cecece;
        text-indent: -9999px;
        display: block;
        width: 10px;
        height: 10px;
        min-width: 10px;
        margin: 0 3px;
        padding: 0;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        .ptsbttestimonials .carousel-linked-nav > li > a:hover {
          background-color: #49cae6;
          border-color: transparent; }
