/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
.ptsproductcountdown .product-block .product-desc {
  display: block; }

.ptsproductcountdown.block .title_block:before {
  content: "\f02c"; }
.ptsproductcountdown .image {
  float: left;
  width: 65%;
  margin-bottom: 0; }
  .rtl .ptsproductcountdown .image {
    float: right; }
  @media (max-width: 1199px) {
    .ptsproductcountdown .image {
      width: auto;
      float: none; } }
.ptsproductcountdown .product-meta {
  float: left;
  width: 35%;
  padding: 20px; }
  .rtl .ptsproductcountdown .product-meta {
    float: right; }
  @media (max-width: 1199px) {
    .ptsproductcountdown .product-meta {
      width: auto;
      float: none; } }
.ptsproductcountdown .item-countdown {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .ptsproductcountdown .item-countdown > ul {
    display: block;
    width: 100%;
    white-space: nowrap; }
    .ptsproductcountdown .item-countdown > ul > li {
      float: left;
      padding: 5px 0;
      width: 25%;
      border-right: 1px solid #454545;
      font-size: 9px;
      font-weight: 300;
      color: dimgray; }
      .rtl .ptsproductcountdown .item-countdown > ul > li {
        float: right; }
      .rtl .ptsproductcountdown .item-countdown > ul > li {
        border-left: 1px solid #454545;
        border-right: inherit; }
      .ptsproductcountdown .item-countdown > ul > li:last-child {
        border-right: 0; }
        .rtl .ptsproductcountdown .item-countdown > ul > li:last-child {
          border-left: 0;
          border-right: inherit; }
.ptsproductcountdown .countdown_num {
  font-size: 11px;
  color: #f99b17;
  font-weight: 700;
  line-height: 24px; }
.ptsproductcountdown .product-block {
  border: none; }
  .ptsproductcountdown .product-block:hover .right {
    bottom: 48px; }
  .ptsproductcountdown .product-block .action-btn {
    bottom: -40px; }
    .ptsproductcountdown .product-block .action-btn > div {
      margin-bottom: 5px; }
