/* BLOCK #reinsurance_block ******************************************************************** */
@import "compass";
@import "theme_variables";
#reinsurance {
	h5 {
		 margin: 0;
		 font-size: inherit;
		 font-weight: 500;
	}
	p {
		margin-bottom: 0;
	}
}
.right-image {
	@include rtl-text-align-right();
	.reinsurance-image {
		@include rtl-float-right();
		@include rtl-margin-left(10px);
	}
}
.top-image {
	text-align: center;
	.reinsurance-image {
		float: none;
		margin-bottom: 15px;
		text-align: center;
	}
}
.reinsurance-image,
.left-image .reinsurance-image {
	@include rtl-float-left();
	@include rtl-margin-right(10px);	
	@include rtl-text-align-left();
}