/* line 8, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel {
  position: relative;
}

/* line 12, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 17, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
/* line 24, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
/* line 32, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
/* line 34, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .active {
  left: 0;
}
/* line 39, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 45, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .next {
  left: 100%;
}
/* line 48, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .prev {
  left: -100%;
}
/* line 52, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
/* line 56, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .active.left {
  left: -100%;
}
/* line 59, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-inner > .active.right {
  left: 100%;
}

/* line 68, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 83, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-control.left {
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
/* line 86, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
/* line 94, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-control:hover, .carousel-control:focus {
  color: white;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
/* line 104, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}
/* line 112, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
/* line 121, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-control .icon-prev:before {
  content: '\2039';
}
/* line 126, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-control .icon-next:before {
  content: '\203a';
}

/* line 137, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
/* line 148, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}
/* line 158, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: white;
}

/* line 169, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 180, ../../../../../sass/bootstrap_lib/_carousel.scss */
.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  /* line 191, ../../../../../sass/bootstrap_lib/_carousel.scss */
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }

  /* line 200, ../../../../../sass/bootstrap_lib/_carousel.scss */
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

  /* line 207, ../../../../../sass/bootstrap_lib/_carousel.scss */
  .carousel-indicators {
    bottom: 20px;
  }
}
/*******************************************************************
					ptsbttestimonials
********************************************************************/
/* line 7, ../../../../../sass/modules/ptsbttestimonials/assets/css/main_styles.scss */
.ptsbttestimonials {
  float: right;
  width: 50%;
  border: 1px solid #e7e7e7;
}
/* line 11, ../../../../../sass/modules/ptsbttestimonials/assets/css/main_styles.scss */
.ptsbttestimonials .carousel-inner {
  padding: 20px 60px;
  overflow: inherit;
}
/* line 14, ../../../../../sass/modules/ptsbttestimonials/assets/css/main_styles.scss */
.ptsbttestimonials .carousel-inner img {
  float: left;
  margin-right: 20px;
}

/********************************************************************
					_carousel
*********************************************************************/
/* line 25, ../../../../../sass/modules/ptsbttestimonials/assets/css/main_styles.scss */
.carousel-control {
  top: 38%;
  height: 40px;
  width: 40px;
  line-height: 32px;
  border: 1px solid #e7e7e7;
  color: black;
  opacity: 1;
}
/* line 33, ../../../../../sass/modules/ptsbttestimonials/assets/css/main_styles.scss */
.carousel-control.left {
  border-left: none;
  background: #fff;
}
/* line 37, ../../../../../sass/modules/ptsbttestimonials/assets/css/main_styles.scss */
.carousel-control.right {
  border-right: none;
  background: #fff;
}
/* line 41, ../../../../../sass/modules/ptsbttestimonials/assets/css/main_styles.scss */
.carousel-control:hover {
  color: #e43228;
}
