/**
 * BASE CSS STYLES
 */
body {
  background: $body-bg;
 

}
.carousel-controls{
        top: 13px;
        .carousel-control{
          background-color: $white;
            &:hover{
              color: $theme-color;
              border: 1px solid $theme-color;
              background-color: $white;
            }
        }
    }
ul.nav-theme {
    background-color: $white;
    display: inline-block;
    padding:  0 20px;
    &:before{
      @include rtl-border-left(1px solid $theme-color);
      @include element-absolute(12px, inherit, 15px, left);
      @include skew(40deg, 0deg);
      @include size(18px, 18px);
    }
    &:after{
      @include rtl-border-left(1px solid $theme-color);
      @include element-absolute(12px, inherit, 0, right);
      @include skew(40deg, 0deg);
      @include size(18px, 18px);
    }
    li {
        &:before{
          @include rtl-border-left(1px solid #e0e0e0);
          @include element-absolute(12px, inherit, 0, left);
          @include skew(40deg, 0deg);
          @include size(18px, 18px);
        }
        &.active a {
            color: $black;
        }
        &:first-child {
            &:before{
                 @include rtl-border-left(none);
           }
        }
        a{
            padding: 10px 15px;
             @media (max-width: $screen-xs-max) {
                padding: 10px 5px;
              }
            &:hover {
                color: $black;
            }
        }
    }
}
.block .tab-nav{
    position: relative;
    text-align: center;
    &:before {
        background-color: #e0e0e0;
        @include element-absolute(50%, inherit, 0, left);
        @include size(100%, 1px);
    }
}
#product_tab_content .tab-content {
     margin-top: 15px;
}


.page-header {
   display: none;
}