 /* block */
.#{$block-selector} {

    .#{$block-heading-selector}{

        @include rtl-padding (10px, 0, 10px, 0);
        font-weight: $block-module-heading-font-weight;
        line-height:  20px;
        @include border-top-radius(0); 
        margin:0 0 20px;
        @media (min-width: $screen-xs-max) {
        text-align: center;
          &:after{  
            border-top: 1px solid $block-module-border-color;
            content: "";
            @include size(100%, 100%);
            @include element-absolute(50%, inherit, 0, left);
            z-index: -1;
          }
        }
        > span {
            padding:0 25px; 
            background-color: $white;
            position: relative;
            @media (min-width: $screen-xs-max) {
              &:before{
                @include rtl-border-left(1px solid $theme-color);
                content: "";
                @include skew(45deg, 0deg);
                @include size(18px, 18px);
                @include element-absolute(0, inherit, 10px, left);
              }
              &:after{
                @include rtl-border-left(1px solid $theme-color);
                content: "";
                @include skew(45deg, 0deg);
                @include size(18px, 18px);
                @include element-absolute(0, inherit, -5px, right);
              }
            }
        }
    }
    
    /* block styles */
    &.nopadding,
    &.block-nopadding{
        .#{$block-content-selector}{
            padding: 0;
            ul li {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}

// Contextual variations.
// Contextual variations
.#{$block-prefix}.#{$block-prefix}-primary,
.#{$block-prefix}.#{$block-prefix}-success,
.#{$block-prefix}.#{$block-prefix}-info,
.#{$block-prefix}.#{$block-prefix}-warning,
.#{$block-prefix}.#{$block-prefix}-danger,
.#{$block-prefix}.#{$block-prefix}-highlighted{
    .#{$block-heading-selector} {
        &:after{  
          border-top: 1px solid $nocolor;
          @include size(0, 0);
        }
        > span {
            background-color: $nocolor;
            &:before{
              @include rtl-border-left(1px solid $nocolor);
              @include size(0, 0);
            }
            &:after{
              @include rtl-border-left(1px solid $nocolor);
              @include size(0, 0);
            }
        }
    }
    .#{$block-content-selector}{}
}
.#{$block-prefix}.#{$block-prefix}-success {
    .#{$block-heading-selector} {
    }
}
.#{$block-prefix}.#{$block-prefix}-info {
    .#{$block-heading-selector} {
    }
}
.#{$block-prefix}.#{$block-prefix}-warning {
    .#{$block-heading-selector} {
    }
}
.#{$block-prefix}.#{$block-prefix}-danger {
    .#{$block-heading-selector} {
    }
}
.#{$block-prefix}.#{$block-prefix}-highlighted {  
    .#{$block-heading-selector} {
    }
    .#{$block-content-selector}{
        ul li {
            border-top: 1px solid rgba(255, 255, 255, 0.05)!important;
            &:first-child {
                border-top: none!important;
            }
        }
    }
}


/* block inline style */
.#{$block-prefix}-inline{
    .icon{
        font-size: 35px;
    }
    .explain{
        font-size:  11px;
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;                                                             
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
             
        font-size: $block-module-heading-font-size;
    }  
    .input-group{
        width: 98%
    }   
}

 


.sidebar {
    .#{$block-prefix} {
        .#{$block-heading-selector}{    
            margin-bottom: 0;   
            @include rtl-text-align-left();
             > span {
                @include rtl-padding(0, 15px, 0, 25px);
                position: relative;
                &:before{
                      @include rtl-border-left(1px solid $theme-color);
                      @include skew(45deg, 0deg);
                      @include size(18px, 18px);
                      @include element-absolute(0px, inherit, 10px, left);
                }
                &:after{
                      @include rtl-border-left(1px solid $nocolor);
                      @include skew(45deg, 0deg);
                      @include size(18px, 18px);
                      @include element-absolute(0px, inherit, 0, right);
                }
            }

        }
      .#{$block-content-selector} {
           ul li {
              border-top: 1px solid rgba(0, 0, 0, 0.1);
              &:first-child {
                  border: none;
              }
          }
         
      } 

    }

    .#{$block-prefix}.#{$block-prefix}-primary,
    .#{$block-prefix}.#{$block-prefix}-success,
    .#{$block-prefix}.#{$block-prefix}-info,
    .#{$block-prefix}.#{$block-prefix}-warning,
    .#{$block-prefix}.#{$block-prefix}-danger,
    .#{$block-prefix}.#{$block-prefix}-highlighted{
        .#{$block-heading-selector} {
            > span {
                background-color: $nocolor;
                &:before{
                  @include rtl-border-left(1px solid $nocolor);
                  @include size(0, 0);
                }
                &:after{
                  @include rtl-border-left(1px solid $nocolor);
                  @include size(0, 0);
                }
            }
        }
        .#{$block-content-selector}{
          padding: 15px;
        }
    } 
}
/* block style in footer */
#footer{
    .#{$block-prefix} {
        .#{$block-heading-selector}{
           
            text-align: left;
             @media (min-width: $screen-xs-max) {
              margin-bottom: 0;
            }
           
            > span {
                position: relative;
                background-color: transparent;
                padding: 0;
                &:before{
                      @include rtl-border-left(none);
                      @include size(auto, auto);
                      @include rtl-left(0);
                }
                &:after{
                      @include rtl-border-left(none);
                      @include size(auto, auto);
                      @include rtl-right(0);
                }
            }
           @media (max-width: $screen-xs-max) {
              &:after{
                left: inherit;
                width: 15px;
                z-index: 1;
              }
            }
        }
       
 
    }
}
