.btn {
    @include border-top-radius(3px);
    @include border-bottom-radius(3px);
}
.btn-highlighted{
   @include button-variant-outline(#999999, $white, #e4e4e4, $white, $red, $red);
   border-width: 1px;
   padding: 0;
  line-height: 30px;
} 

.btn-outline{
  @include button-variant-outline( $button-addtocart-color, $button-addtocart-bg , $button-addtocart-border , $white, $red, #fff );
   font-size: $button-addtocart-font-size;
   border-width: 1px;
   display: inline-block;
    font-weight: 800;
    line-height: 32px;
    @include size(auto, 34px);
}
.btn-outline-inverse{
  @include button-variant-outline($white, #222222 , #222222 , #fff, $theme-color,  darken($theme-color, 15%));
  line-height: 32px;
}
