/******************************************************
 * $package Pav Opencart Theme Framework for Opencart 1.5.x
 * $version 1.1
 * $author http://www.ptsothemes.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:ptsothemes$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/

/*
* HEADER 
*/
#topbar  {  
    .container-inner{
       > div {
        padding: 5px 0;
       }
       .btn-group {
        padding: 12px 10px;
            &:hover {
                color: $theme-color;  
            }
       }
    }
    .quick-setting {
       margin-top: 0px;
       @include rtl-text-align-left();
    }  
    #header_user_info {
      padding: 12px 0;
      @include rtl-margin-right( 10px);
    }       
}
#index {  
  #header {
    margin-bottom: 20px;
  }
}

#header {
      margin-bottom: 0;
    }
#header_logo {
    text-align: center;
    width: 100%;
  .logo-theme {
    a {
      background: url('#{$image-theme-base-path}/fashion/logo.png') no-repeat top center;
    }
  }
}

/*breadcrumb*/
#breadcrumb{
    position: relative;
    margin-bottom: 40px;
   background-color: #f5f5f5;
    .page-heading-title {
        margin: 20px 0;
        font-size:  18px;
        font-weight: 300;
        span.heading-counter {
            font: normal 12px / 22px $font-custom;
            text-transform: none;
            font-style:  italic;
            display:  inline-block;
        }
    }
    .breadcrumb {
        line-height: 28px;
        padding: 20px 0;
        @include rtl-text-align-right();
    }
}

/* FOOTER */
.footer-top{      
     border-top: 1px solid $footer-top-border;    
}
.footer-bottom{
    background-image: url('#{$image-theme-base-path}bg-footerbottom.jpg');   
}      
