 ##{$app-brand-prefix}-mainnav {
 	border-top: 1px solid #e2e2e2;
 	border-bottom: 1px solid #e2e2e2;
 }
 #pts-mainnav {
	 .pts-megamenu {
	 	@include rtl-float-left();
		  @media (max-width: $screen-sm-max) {
		  	float: none;
		  }
	 }
}
@media (max-width: $screen-sm-max) {
	.pts-megamenu{ 
		.navbar-header .navbar-toggle{
			margin: 4px 0;
			}
		#pts-top-menu {
			 background-color: $theme-color;
			 .navbar-nav > li > a {
			 	 color: #fff;
			 	 &:hover, &:focus{
			 	 	color: #fff;
			 	 }
			 }
		}
	}
}