/* mini basket */

 @media (max-width: $screen-sm-max) {
     .header-cart {
         text-align: center;
         width: 100%;
     }
     #cart.shopping_cart {
         float: none;
         display:  inline-block;
     }
    .cart_block {
        left: 0;
    }
}
#cart{
    &.shopping_cart {
        background-color: $minicart-module-bg;
        @include border-top-radius(3px);
        @include border-bottom-radius(3px);
        padding: 0 15px;

    
    }
    .title-cart{
        @include rtl-padding(0, 5px, 0, 20px);
        margin:0;
      
    }
   
    &.active{
        .content{
            display: block;
        }
    }      
    .heading {                             
        .cart-inner{
            min-height: 47px;
            height: 47px;
        }
        .mini-cart {
           background-color: transparent;
        }
        a{  
            display: table-cell;
            font-size: $cart-product-font-size;
            padding: 0 $padding-base-vertical - 1 ;
            text-transform: uppercase;
            color: $minicart-module-color;
            height: 42px;
            vertical-align: middle;

        }            
    }
}
.topbar {
    .header-cart {
         padding: 0!important;
    }
    #cart{
        &.shopping_cart {
            background-color: #353535;
            @include border-top-radius(0);
            @include border-bottom-radius(0);
            padding: 0 15px;
        }
        .title-cart{
          color: $cart-heading-color;
          text-transform: uppercase;
          font: $minicart-module-font;
          @include rtl-padding(0, 5px, 0, 35px);
          margin:0;
          &:before {
            @include size(46px, 41px);
            background-color: #eb5454;
            left: -18px;
            line-height: 40px;
            text-align: center;
          }
        }
        .heading {
            a{
                height: 40px;
            }  
        }
    }
}
#search_block_top{
  @include rtl-float-right();
    @media (max-width: $screen-sm-max) {
      @include element-absolute( 0, inherit, 0, right);
    }
}
form#searchbox{     
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    overflow: hidden;
    .btn.button-search {
      background-color: #ffffff;
      border: 1px solid #ffffff;
      @include border-radius(0);
      color: #000000;
      &:hover,
        &:focus,
        &:active,
        &.active {
          background-color: rgba(0, 0, 0, 0.05);
          border: 1px solid rgba(0, 0, 0, 0);
        }
    }
    .navbar-form input {
       border: none;
       @include border-radius(0);
       width: 235px;
        @media (max-width: $screen-md-max) {
          width: auto;
        }
    }

}

//newsletter
.pts-newsletter.block .button-newsletter {
     background-color: $theme-color;
     &:hover {
        background-color: darken($theme-color,5%);
     }
}


/** social block **/

#social_block {
  ul {
    li {
      a {
        color: $black;
        span {
          display: none;
        }
        &:hover {
            color: $white !important;
          &:before {
          }
        }
      }
      &.facebook {
        a {
          &:before {
              background-color: transparent; 
          }
        }
      }
      &.twitter {
        a {
          &:before {
              background-color: transparent; 
          }
        }
      }
      &.rss {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
      &.youtube {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
      &.google-plus {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
      &.pinterest {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
    }
  }
}

