//pagebuilder
.pagebuilder {
  .pts-container {
    padding-bottom: 32px;
  }
}
//footerbuilder
.footerbuilder {
  background-color: $footer-center-bg;
  color: $footer-center-color;
  .pts-container {
    padding: 45px 0;
    ul li a {
      color: $footer-center-color;
    }
  }
  .pts-footer-top{
    border-top: 1px solid #e2e2e2;
    color: #000;
      padding-top: 20px;
      padding-bottom: 20px;
  }
}


.widget-manufacture {
    .block_content {
        padding: 0 35px;
        position: relative; 
        .carousel-controls {
           top: 36%;
           width: 100%;
          .carousel-control.left {
             @include rtl-left(0px);
          }
          .carousel-control.right {
             @include rtl-right(0px);
          }
        }
    }
}