/*products sidebar */

.products .product-item {
    padding-top:  15px;
    .product-block {
        @include box-shadow(none);
    }
}


.sidebar .block_content .layered_filter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    ul li {
         border-top: none;
    }
}
.sidebar h3.name a {
    &:hover {
        color: $theme-color;
    }
}
/*products category*/
.product-block{ 
   .name a {
    text-transform: uppercase;
   }
    .product-image-container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
}
.product-block,
.content_sortPagiBar {
   @include box-shadow (0 0 0 1px rgba(0, 0, 0, 0.15));
}
.content_sortPagiBar {

}

//product detail

.product-info {
     padding: 0 0 18px;
}
.buttons_bottom_block #wishlist_button {
    border: 1px solid #e5e5e5;
    line-height: 36px;   
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
    padding: 0 20px;
    font-family: $font-family;
    font-size: $font-size-base - 1;
    font-weight: 700;
    color: #aaaaaa;
    @include rtl-margin-left(10px);
    &:hover {
        border: 1px solid $theme-color;
        background-color: $theme-color;
        color: #fff;
    }
}
#usefull_link_block {
    li {
        &.print, &.sendtofriend{
            a{
                @include border-top-radius(3px);
                @include border-bottom-radius(3px);
                &:hover {
                    background-color: $theme-color;
                    border-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}