@charset "UTF-8";
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
.blogs-container h3 {
  margin-bottom: 10px; }
.blogs-container h4 {
  margin-bottom: 3px; }
.blogs-container .blog-image img {
  max-width: 100%; }

.blog-item {
  border-top: 1px dashed #dddddd;
  padding: 10px 0; }
  .blog-item .blog-image,
  .blog-item .blog-shortinfo {
    padding-top: 12px; }
  .blog-item .blog-meta {
    font-size: 93%; }

.blog-meta span {
  font-size: 90%;
  color: #999999;
  margin-right: 5px; }
  .rtl .blog-meta span {
    margin-left: 5px;
    margin-right: inherit; }

/* blog */
.blog-detail .blog-title {
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom: 0; }
.blog-detail .blog-image {
  margin-bottom: 15px; }
.blog-detail .blog-description {
  font-weight: bold; }
.blog-detail .blog-meta {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
  margin-bottom: 20px; }
.blog-detail .blog-content {
  margin-bottom: 15px; }

.blog-tags, .extra-blogs, .blog-comments, .social-share {
  padding-bottom: 15px; }

.blog-tags a span {
  background: none repeat scroll 0 0 #666666;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px; }

.extra-blogs ul li {
  padding: 6px 0;
  border-bottom: dotted 1px #DDDDDD; }

.blog-video-code .inner {
  background: #DDD;
  padding: 12px;
  margin-bottom: 15px;
  text-align: center; }

/* comment */
.comment-item {
  padding: 12px 0; }

.comment-item img {
  padding-right: 12px; }

.comment-wrap {
  overflow: hidden;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  padding: 20px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.comment-wrap .comment-meta {
  border-bottom: 1px solid #E5E5E5;
  font-size: 11px;
  margin: -20px -20px 10px;
  padding: 10px 20px; }
  .comment-wrap .comment-meta > span {
    font-weight: bold; }
    .comment-wrap .comment-meta > span span {
      font-weight: normal; }

.blog-social .social-wrap > div {
  float: left; }
  .rtl .blog-social .social-wrap > div {
    float: right; }
.blog-social .social-heading {
  padding-right: 12px; }
  .rtl .blog-social .social-heading {
    padding-left: 12px;
    padding-right: inherit; }

.comment-link {
  background: none repeat scroll 0 0 #F4F4F4;
  border-left: 1px solid #E5E5E5;
  display: block;
  float: right;
  font-weight: bold;
  margin: -11px -20px -10px 0;
  padding: 10px 20px; }
  .rtl .comment-link {
    border-right: 1px solid #E5E5E5;
    border-left: inherit; }
  .rtl .comment-link {
    float: left; }
  .rtl .comment-link {
    margin: -11px 0 -10px -20px; }

.ipts-captcha img {
  padding-right: 12px;
  margin-bottom: 15px;
  display: block; }
  .rtl .ipts-captcha img {
    padding-left: 12px;
    padding-right: inherit; }

/* categories menu display on left or right sidebar */
.blog-menu .block_content > ul {
  border-top: 1px solid #d6d4d4; }
.blog-menu li {
  position: relative; }
  .blog-menu li a {
    font-weight: bold;
    color: #333333;
    display: block;
    font-size: 13px;
    line-height: 30px;
    padding: 0 30px 0 19px;
    border-bottom: 1px solid #d6d4d4; }
    .rtl .blog-menu li a {
      padding: 0 19px 0 30px; }
    .blog-menu li a.selected, .blog-menu li a:hover {
      background: #f6f6f6; }
  .blog-menu li span.grower {
    display: block;
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 14px; }
    .rtl .blog-menu li span.grower {
      left: 0;
      right: auto; }
    .blog-menu li span.grower.OPEN:before, .blog-menu li span.grower.CLOSE:before {
      content: "∩ü¿";
      display: block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      color: #333333;
      line-height: 30px;
      text-align: center; }
    .blog-menu li span.grower.CLOSE:before {
      content: "∩üº";
      color: #c0c0c0; }
    .blog-menu li span.grower:hover + a {
      background: #f6f6f6; }
  .blog-menu li li a {
    font-weight: normal;
    color: #777777; }
    .blog-menu li li a:before {
      content: "∩äà";
      font-family: "FontAwesome";
      line-height: 29px;
      padding-right: 8px; }
