.pts-verticalmenu{
	position: relative;	
}


.pts-verticalmenu .dropdown-menu > .dropdown-menu-inner {
  padding: 10px;
}
.pts-verticalmenu .mega-group .caret {
  display: none;
}
.pts-verticalmenu .mega-group > .dropdown-toggle {
  display: block;
  font-weight: bold;
  padding: 6px 5px;
  text-transform: uppercase;
  border-bottom: solid 1px #E5E5E5;
}
.pts-verticalmenu .mega-group .dropdown-mega .mega-col-inner > ul > li a {
  margin-left: 6px;
}
.pts-verticalmenu .mega-col .mega-col-inner > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.pts-verticalmenu .mega-col .mega-col-inner > ul > li {
  list-style: none;
  margin-left: 0;
}
.pts-verticalmenu .mega-col .mega-col-inner > ul > li > a {
  clear: both;
  color: #555555;
  display: block;
  line-height: 20px;
}
.pts-verticalmenu .dropdown-submenu:hover .dropdown-menu {
  display: block;
}
.pts-verticalmenu .dropdown-submenu > .dropdown-menu {
  border-radius: 0 6px 6px 6px;
  left: 100%;
  margin-left: -6px;
  margin-top: -6px;
  top: 0;
}

#pts-verticalmenu {
  z-index: 100;
}
#pts-verticalmenu .box-content {
  background: #FFFFFF;
  padding: 0;
  min-height: 320px;
  border: 2px solid #7bbd42;
  position: static;
}
#pts-verticalmenu .box-content .navbar-default {
  position: static;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
}
#pts-verticalmenu .box-content .navbar-default .navbar-header {
  float: none;
  width: 100%;
}
#pts-verticalmenu .box-content .navbar-default .navbar-collapse {
  padding: 0;
  max-width: auto;
  min-height: 320px;
}
#pts-verticalmenu .navbar-nav {
  position: static;
  float: none;
  width: 100%;
}
#pts-verticalmenu .navbar-nav > li {
  width: 100%;
  height: auto;
  position: relative;
  /*position: static;*/
}
#pts-verticalmenu .navbar-nav > li > a {
  display: block;
  color: #2e3a47;
  font-size: 13px;
  padding: 16px 10px 15px 20px;
  border-bottom: 1px solid #e0e0e0;
}
#pts-verticalmenu .navbar-nav > li > a .menu-icon {
  display: block;
  height: 20px;
}
#pts-verticalmenu .navbar-nav > li > a .menu-icon span {
  display: block;
  margin-left: 35px;
  line-height: normal;
  font-size: 14px;
}
#pts-verticalmenu .navbar-nav > li > a .menu-icon .menu-desc {
  display: none;
}
#pts-verticalmenu .navbar-nav > li > a:hover,
#pts-verticalmenu .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
#pts-verticalmenu .navbar-nav > li > a .caret {
  position: absolute;
  right: 18px;
  top: 50%;
  margin: -5px 0;
  border-left: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #999999;
}
#pts-verticalmenu .navbar-nav > li.last a,
#pts-verticalmenu .navbar-nav > li:last-child a {
  border: 0;
}
#pts-verticalmenu .navbar-nav > li:hover > a {
  color: #7bbd42;
}
#pts-verticalmenu .navbar-nav > li:hover > a .menu-icon {
  background-position: left bottom !important;
}
#pts-verticalmenu .navbar-nav > li:hover > a .caret {
  border-left-color: #7bbd42;
}
#pts-verticalmenu .navbar-nav > li:hover > .dropdown-menu {
  left: 100%;
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#pts-verticalmenu .navbar-nav > li .parent {
  position: relative;
}
#pts-verticalmenu .navbar-nav > li .parent > .dropdown-toggle {
  text-transform: none;
  font-weight: normal;
  color: #2e3a47;
}
#pts-verticalmenu .navbar-nav > li .parent > .dropdown-toggle:hover {
  color: #7bbd42;
}
#pts-verticalmenu .navbar-nav > li .parent > .dropdown-menu {
  min-height: 100px;
  height: 100px;
  height: auto !important;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.13);
}
#pts-verticalmenu .navbar-nav > li .parent:hover > .dropdown-menu {
  left: 100%;
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#pts-verticalmenu .navbar-nav > li.parent:hover > a:after {
  position: absolute;
  content: "";
  right: -5px;
  top: 0;
  width: 0;
  height: 100%;
  border: 5px solid #FFFFFF;
  z-index: 9999;
}
#pts-verticalmenu .verticalmenu li a:hover {
  color: #7bbd42;
}
#pts-verticalmenu .verticalmenu li a:hover .caret {
  border-right-color: #FFFFFF;
}
#pts-verticalmenu .pts-colorbox {
  display: none !important;
}
#pts-verticalmenu .dropdown-menu {
  left: -9999px;
  top: -9999px;
  right: auto;
  border: 0;
  display: block;
  min-height: 100%;
  height: 100%;
  height: auto !important;
  min-width: 215px;
  padding: 20px 28px;
  background: #FFFFFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}
#pts-verticalmenu .dropdown-menu ul li {
  border: 0;
  padding: 4px 0;
  line-height: normal;
  list-style: none;
}
#pts-verticalmenu .dropdown-menu ul li a {
  color: #2e3a47;
  font-size: 13px;
  font-weight: 400;
  padding: 0;
}
#pts-verticalmenu .dropdown-menu p {
  line-height: 18px;
  font-size: 13px;
}
#pts-verticalmenu .dropdown-menu .pts-menu-video {
  width: 100%;
}
#pts-verticalmenu .dropdown-menu .pts-menu-video iframe {
  margin-bottom: 10px;
}
#pts-verticalmenu .dropdown-menu .dropdown-toggle:hover {
  color: #000000;
}
#pts-verticalmenu .dropdown-menu .dropdown-toggle,
#pts-verticalmenu .dropdown-menu h1,
#pts-verticalmenu .dropdown-menu h2,
#pts-verticalmenu .dropdown-menu h3,
#pts-verticalmenu .dropdown-menu h4,
#pts-verticalmenu .dropdown-menu h5,
#pts-verticalmenu .dropdown-menu h6 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  color: #000000;
  font-family: 'HelveticaNeue55Roman', Arial, sans-serif;
  font-size: 13px;
}
#pts-verticalmenu .dropdown-menu .action {
  display: none;
}
#pts-verticalmenu .widget-product-list {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#pts-verticalmenu .w-product {
  padding: 5px;
}
#pts-verticalmenu .w-product .image {
  float: none;
}
#pts-verticalmenu .product-block {
  width: 33.3333%;
  height: auto;
  padding: 5px;
  background: none transparent;
  border: 0;
}
#pts-verticalmenu .product-block .name {
  min-height: 32px;
  height: 32px;
  height: auto !important;
  padding: 0;
  margin: 0;
}
#pts-verticalmenu .product-block .name a {
  padding: 0;
  margin: 0;
  color: #000000;
  font-family: 'HelveticaNeue55Roman', Arial, sans-serif;
  font-size: 13px;
}
#pts-verticalmenu .product-block .name a:hover {
  color: #7bbd42;
}
#pts-verticalmenu .product-block .image a {
  padding: 0;
}
#pts-verticalmenu .product-block .product-meta {
  min-height: inherit;
}



.widget-product-list img{
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 12px;
}

.widget-banner .w-banner{
 margin: 6px 10px; 
	float: left;
} 

