.manu-logo img,
.block_manuf img{
  @include grayscale-filter();
}
.parallax {
  @include parallax();
}
.product-gallery.product-block {
  &:hover{
    .thumbs-wrap {
      left: -101px;
      @include opacity(1);
      z-index: 100;
      visibility: visible;
    }  
  }
}
.first-in-line .product-block{ 
  .thumbs-wrap {
    @include rtl-left (80%);
    visibility: hidden;
  }
    &:hover{
          .thumbs-wrap {
         
         @include rtl-left (100%);
         visibility: visible;
        }
    }
}
//animation style1
.style1 .product-block {
  .right{
     @media (max-width: $screen-xs-max) {
      display:  none;
      }
    @include element-absolute(0, 0, 0, "right-left");
    height: 36px; 
    @include transition-duration(0.4s);
        @media (max-width: $screen-xs-max) { 
              @include opacity(1);
              bottom: 0;
        }
        @media (min-width: $screen-xs-max) {
            @include opacity(1);
        }
        .action{
          .compare,.quickview,.wishlist {
            @include opacity (0);
            visibility: hidden;
            @include transition(all 0.2s ease 0s) ;
          }
          .compare{           
            @include translate(100px, 0px);
          }
          .quickview {
            @include translate(-100px, 0px);    
          }
          .wishlist {
            @include scale(0);
          }
        }
    }
    &:hover{
    	.right{
        .action{
          .compare,.quickview, .wishlist {
            @include opacity (1);
            visibility: visible;
            @include transition(all 0.2s ease 0s) ;
          }
           .compare{
             @include translate(0px, 0px);
           }
          .quickview {
            @include translate(0px, 0px);
          }
          .wishlist {
            @include scale(1);
          }
        }
      }
    }
}

//animation style2
.style2 .product-block {
  .right{
    @include element-absolute(0, 0, 0, right);
    @include transition-duration(0.4s);
        @media (max-width: $screen-xs-max) { 
              @include opacity(1);
              bottom: 0;
        }
        @media (min-width: $screen-xs-max) {
            @include opacity(1);
        }
        .action{
          .compare,.quickview,.wishlist {
            @include opacity (1);
            visibility: hidden;
            @include transition(all 0.2s ease 0s) ;
            @include border-top-radius(3px);
            @include border-bottom-radius(3px);
            margin-bottom: 5px;        
            @include translate(100px, 0px);
          }
         
        }
    }
    &:hover{
      .right{
        .action{
          .compare,.quickview, .wishlist {
            @include opacity (1);
            visibility: visible;
            @include transition(all 0.2s ease 0s) ;
             @include translate(0px, 0px);
           
          }
         
        }
      }
    }
}

//animation style3
.style3 .product-block {
  .right{
    height: 100%;
    @include element-absolute(10px, 0, 10px, right);
    @include transition-duration(0.4s);
        @media (max-width: $screen-xs-max) { 
              @include opacity(1);
              bottom: 0;
        }
        @media (min-width: $screen-xs-max) {
            @include opacity(1);
        }
        .action{
          .compare,.wishlist {
            @include opacity (1);
            visibility: hidden;
            @include transition(all 0.2s ease 0s) ;
            @include border-top-radius(3px);
            @include border-bottom-radius(3px);
            margin-bottom: 5px;        
            @include translate(100px, 0px);

          }
         
        }
    }
      .product-meta{
        position: relative;
        @include transition(all 0.2s ease 0s) ;
          .bottom:before {
              @include size(0%, 0%);
              @include transition(all 0.2s ease 0s) ;
              @include element-absolute(0, inherit, -1px, right-left);
              z-index: -1;
          }
      }
      .bottom{
        .action-btn {
            @include opacity (0);
            height: 0;
            @include scale(0,0); 
            @include transition(all 0.2s ease 0s) ;
        }

      }
    .product-flags,  
    .product-rating {
        @include opacity (1);
        @include scale(1, 1);
        @include transition(all 0.4s ease 0s) ;
    }

    &:hover{
      .product-meta{
          .bottom:before {
              background-color: $red;
              @include size(100.9%, 117%);
              @include transition(all 0.2s ease 0s) ;
              @media (max-width: $screen-sm-max) {
                height: 155%;
              }
          }
        }
      .right{
        .action{
          .compare, .wishlist {
            @include opacity (1);
            visibility: visible;
            @include transition(all 0.2s ease 0s) ;
             @include translate(0px, 0px);
           
          }
         
        }
      }
      .bottom{
        .action-btn {
            @include opacity (1);
            @include scale(1,1);
            position: relative;
            bottom: 25px;
            @include transition(all 0.4s ease 0s) ;
        }
      }
        .product-flags,
        .product-rating {
            @include opacity (0);
            @include scale(0, 0);
            @include transition(all 0.4s ease 0s) ;
        }
    }
}

//animation style4
.style4 .product-block {
    .product-image-container{
        position: relative;
        &:before {
            @include size(100%, 100%);
            background-color: $theme-color;
            @include opacity( 0);
            position:  absolute;
            content: "";
            @include transition(all 0.2s ease 0s) ;
           z-index: 4;
        }
    }
      .action{
        @include element-absolute(inherit, 15px, 15px, right-left);
        height: 36px;
        z-index: 10;
           .compare,.quickview,.wishlist {
              @include opacity (0);
              visibility: hidden;
              @include transition(all 0.2s ease 0s) ;
            }
            .compare{           
              @include translate(100px, 0px);
            }
            .quickview {
              @include translate(-100px, 0px);    
            }
            .wishlist {
                        
              @include translate(100px, 0px);
            }
          
      }
      .action-btn {
        @include opacity( 0);       
        @include element-absolute(0, 0, 0, right-left);
        height: 58px;
        @include scale(0);
        visibility: hidden;
        @include transition(all 0.2s ease 0s) ;

        z-index: 10;
      }
    &:hover{
      .product-image-container{
        position: relative;
        &:before {
            @include opacity( 0.5);
            @include transition(all 0.2s ease 0s) ;
        }
      }
      
        .action{
          .compare,.quickview, .wishlist {
            @include opacity (1);
            visibility: visible;
            @include transition(all 0.2s ease 0s) ;
          }
           .compare{
             @include translate(0px, 0px);
           }
          .quickview {
            @include translate(0px, 0px);
          }
          .wishlist {
            @include translate(0px, 0px);
          }
        }
      
      .action-btn {
        @include scale(1);
        @include transition(all 0.2s ease 0s) ;
        @include opacity(1);
        visibility: visible;
      }
    }
}

//animation style4
.style5 .product-block {
      .right{
         .action{
           @include opacity(0);      
           @include element-absolute(0, 0, 0, right-left);
            height: 58px;
            @include scale(0);
            visibility: hidden;
            @include transition(all 0.2s ease 0s) ;
          }
      }
      
    .action-btn {
        @include opacity(0);
        @include transition(all 0.2s ease 0s) ;
    }
    &:hover{
      .right{
        .action{
            @include scale(1);
            @include transition(all 0.2s ease 0s) ;
            @include opacity(1);
            visibility: visible;
        }
      }
       .action-btn {
           @include opacity(1);
            @include transition(all 0.2s ease 0s) ;
        }
    }
}


.sidebar{
    .product-block{
        .img, .hover-image{
        }
        .rating, .product-rating, .norating{
          margin-bottom: 0;
        }

        .nb-comments{
          display:  none;
            }
        &:hover{
            
          .price{
           @include opacity(1);
          }
          &:before{
            @include opacity(0);
            width: 0;
          }
        }    
    }
}


.staticontent-item.banner-image{
     position:  relative;
  &:before {
    background-color: rgba(255, 255, 255, 0.15);      
    @include element-absolute(0, 0, 0, right-left);
    content: "";
    height: 0;
    @include opacity (0);
    @include scale(0);
    @include transition (all 0.4s ease-in-out 0s);
    width: 0;
}
  &:hover:before {
    height: 100%;
    @include opacity (1);
    @include scale(1);
    @include transition (all 0.4s ease-in-out 0s);
    width: 100%;
  }
}