/**
 * BASE CSS STYLES
 */
html {
    margin: 0;
    padding: 0;
}
body {
   background: url("#{$image-theme-base-path}bg_body.jpg") repeat top center $body-bg;
  color: $text-color;
  font-size: $font-size-base;
  margin: 0px;
  padding: 0px;        
  overflow-x:hidden;
  font-weight: 300;
}
img{
    max-width: 100%;
    height: auto;
}
.img-responsive {
     display: inline-block;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }



/* links style */
ul{
    &.links {  
        padding: 0;  
        width: 100%;  
        li{
            display: inline;        
            line-height: normal;
            position: relative;
             &:before{
                @include size(4px, 4px);
                background-color: #000;
                @include element-absolute(45%, inherit, 0, left);
            }     
            a{
                @include rtl-margin-right (25px);
                @include rtl-padding-left(10px) ; 
                &:hover{
                    color: $theme-color-default;    
                }      
            } 
            .fa,.icon{
                margin-right:10px;
            }       
        }               
    }

    &.list-block{
        li{
            list-style: none;
            @include rtl-padding (15px, 0, 15px, 0);
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            font-size: $font-size-base - 1;
            font-weight: 300;
            text-transform: uppercase;
            position: relative;
            a{
               position: relative;
               @include rtl-padding-left(15px);
                &:before{
                    font-size: 22px;
                    @include size(3px, 3px); 
                    background-color: $theme-color;
                    @include element-absolute(7px, inherit, 0px, left);
                }
            }
            &:first-child {
               border-top: none;
            }
        }    
    }
    &.nostyle{
      li {
        a{
          @include rtl-padding-left(0);
           &:before{
            @include size(0, 0); 
            background-color: $nocolor;
            @include element-absolute(0, inherit, 0px, left);
        }
        }
      }
    }
    &.list-group {      
        margin: 0; 
        li {
             padding: 5px 0;
        }
    }

    &.my-account{
        margin: 0; 
        li{
            padding:6px 0;
            list-style: disc;
            margin-left: 14px;
        }
    }
    &.inline{
       margin: 0; 
        li {
             float: left
        }
    }
}
.tree,
.tree-menu {  
        > ul > li {
            @include size(100%,auto);
            position: relative;
            .caret,.head a{ 
                @include element-absolute(20px, inherit, 8px, right);
                background-color:$nocolor;
                color: $black;
                padding:0 8px;
                @include border-radius(10%);  
                .icon-collapse{
                    background: url('#{$image-theme-path}icon-cat-min.png') center center no-repeat;
                     @include size(10px, 10px);
                     display: block;
                }            
                &.collapsed .icon-collapse{
                    background: url('#{$image-theme-path}icon-cat.png') center center no-repeat;
                     @include size(10px, 10px);
                     display: block;
                } 
                .icon-collapse.icon-active{
                    background: url('#{$image-theme-path}icon-cat-min-white.png') center center no-repeat;
                }            
                &.collapsed .icon-collapse.icon-active{
                    background: url('#{$image-theme-path}icon-cat-white.png') center center no-repeat;
                }                           
            }
            &:last-child > a{
                border:none;
            }  
        + li {
             
        }
        > a {
            display: block;
            @include transition(all 0.35s);
            &:hover,&:focus{
            }
           
        }

        ul {
           // display: none;
           @include rtl-margin-left(15px);
           margin-top: 8px;
           li {
            position: relative;
            @include rtl-padding-right (0);
            &.last {
              padding-bottom: 0;
            }
           }
        }
            a.active {
                font-weight: bold;
                color: $theme-color;
            + ul {
                display: block;
                padding: 0 0 10px 10px;
            }
        }
        ul > li {
            > a {
                    
                &:hover{
                }
                &.active {
                    font-weight: bold;
                    color:$megamenu-sub-link-hover-color;  
                }
            }

        }
    }
}
a:focus,
a:hover{
    color: $theme-color;
    text-decoration: none;
    outline: none;
}


.carousel-controls{  
    @include element-absolute(2px, inherit, 0, right);
    @include size(34px, 16px);
    line-height: 11px;
    z-index: 9;

    .carousel-control{
        width: 16px;
        background: none;
        text-shadow: none;
        @include opacity (1);
        color: $black;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 10px;
        display: inline-block;
         border: 1px solid #afafaf;
         z-index: 99;
          @include border-top-radius(50%);
          @include border-bottom-radius(50%);
        &:hover{
            background: transparent;
            color: $theme-color;
        &.left {
            z-index: 20;
        }
        }
    }
}
.boxcarousel .carousel-inner {
   overflow: visible;
}
/**/

ul.nav-theme{
    position: relative;
  padding: 0 10px;
  background-color: $htab-bg;
  li{
    width: auto;
   display: inline-block;
   
    a{
      font-weight: 300;
      color: $htab-nav-color;
      font-size: $htab-nav-font-size;
      padding: $htab-nav-padding;
       @media (max-width: $screen-xs-max) {
      padding: 5px 10px;
    }
      &:hover{
        background: $htab-bg-selected;
        color: $htab-nav-selected-color;
      }
    }
    &.active{
      a{
      font-weight: 600;
        background: $htab-bg-selected;
        color: $htab-nav-selected-color;
      }
    }
  }
}


.text-highlight {
     color: $text-highlight;
}
.padding {
    padding: 20px;
}


@include text-emphasis-variant('.text-white', $white);

@include text-emphasis-variant('.text-black', $black);

@include text-emphasis-variant('.text-gray', $gray);