 
/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    .#{$block-heading-selector}{
        position: relative;                 
        color: $block-module-heading-color;                                            
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
        font-size: $block-module-heading-font-size;
        letter-spacing: $block-heading-letter-spacing;   
        background:$block-module-heading-bg;
        font-weight: 300;
        @include rtl-padding (20px, 0, 20px, 0);
        margin:0;
    }
    .#{$block-content-selector} {
        @include clearfix();
    }
    /* block styles */
    &.block-nopadding,
    &.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
            ul li {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &.no-style{
        .#{$block-heading-selector}{
            background: none!important;
          }
        .#{$block-content-selector}{        
            background: none !important;
            color: #fff!important;
            @include box-shadow(none!important);
        }
    }

     &.block-highlights{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
        }
    }
    &.noborder {
        border: none;
    }
    .link{
        padding-top:$panel-body-padding;
    }
       ul,ol {
        list-style: none;
    }
}

// Contextual variations

.#{$block-prefix}.#{$block-prefix}-primary {
    @include block-variant($primary-bg-color, $primary-border-color, $primary-text-color, $primary-text-link-color, $primary-text-link-color-hover, $primary-heading-text-color, $primary-heading-bg-color, $primary-heading-border-color);
    .#{$block-heading-selector} {
        border-width: 1px;
        border-style: solid;
        &:before{
            @include size(0, 0);
            @include rtl-border-left(1px solid $nocolor);
        }
    }
    .#{$block-content-selector} {        
        border-width: 1px;
        border-style: solid;
        padding: 15px;
    }
}
.#{$block-prefix}.#{$block-prefix}-success {
    @include block-variant($success-bg-color, $success-border-color, $success-text-color, $success-text-link-color, $success-text-link-color-hover, $success-heading-text-color, $success-heading-bg-color, $success-heading-border-color);
    .#{$block-heading-selector} {
        border-width: 1px;
        border-style: solid;
        &:before{
            @include size(0, 0);
            @include rtl-border-left(1px solid $nocolor);
        }
    }
    .#{$block-content-selector} {        
        border-width: 1px;
        border-style: solid;
        padding: 15px;
    }
}
.#{$block-prefix}.#{$block-prefix}-info {
    @include block-variant($info-bg-color, $info-border-color, $info-text-color, $info-text-link-color, $info-text-link-color-hover, $info-heading-text-color, $info-heading-bg-color, $info-heading-border-color);
    .#{$block-heading-selector} {
        border-width: 1px;
        border-style: solid;
        &:before{
            @include size(0, 0);
            @include rtl-border-left(1px solid $nocolor);
        }
    }
    .#{$block-content-selector} {        
        border-width: 1px;
        border-style: solid;
        padding: 15px;
    }
}
.#{$block-prefix}.#{$block-prefix}-warning {
    @include block-variant($warning-bg-color, $warning-border-color, $warning-text-color, $warning-text-link-color, $warning-text-link-color-hover, $warning-heading-text-color,$warning-heading-bg-color, $warning-heading-border-color);
    .#{$block-heading-selector} {
        border-width: 1px;
        border-style: solid;
        &:before{
            @include size(0, 0);
            @include rtl-border-left(1px solid $nocolor);
        }
    }
    .#{$block-content-selector} {        
        border-width: 1px;
        border-style: solid;
        padding: 15px;
    }
}
.#{$block-prefix}.#{$block-prefix}-danger {
    @include block-variant($danger-bg-color, $danger-border-color, $danger-text-color, $danger-text-link-color, $danger-text-link-color-hover, $danger-heading-text-color,$danger-heading-bg-color, $danger-heading-border-color);
    .#{$block-heading-selector} {
        border-width: 1px;
        border-style: solid;
        &:before{
            @include size(0, 0);
            @include rtl-border-left(1px solid $nocolor);
        }
    }
    .#{$block-content-selector} {        
        border-width: 1px;
        border-style: solid;
        padding: 15px;
    }
}
.#{$block-prefix}.#{$block-prefix}-highlighted {   
    @include block-variant($highlighted-bg-color, $highlighted-border-color, $highlighted-text-color, $highlighted-text-link-color, $highlighted-text-link-color-hover, $highlighted-heading-text-color,$highlighted-heading-bg-color, $highlighted-heading-border-color);   
    .#{$block-heading-selector} {
        border-width: 1px;
        border-style: solid;
        &:before{
            @include size(0, 0);
            @include rtl-border-left(1px solid $nocolor);
        }
    }
    .#{$block-content-selector} {        
        border-width: 1px;
        border-style: solid;
        padding: 15px;
    }
}
.#{$block-prefix}{
    .heading-highlight{
        @include block-heading-variant($heading-highlight-color, $nocolor, $heading-highlight-border);
    }
}

.#{$block-prefix}.#{$block-prefix}-primary,
.#{$block-prefix}.#{$block-prefix}-success,
.#{$block-prefix}.#{$block-prefix}-info,
.#{$block-prefix}.#{$block-prefix}-warning,
.#{$block-prefix}.#{$block-prefix}-danger,
.#{$block-prefix}.#{$block-prefix}-highlighted{
    .#{$block-heading-selector} {
        @include rtl-padding (14px, 0, 14px, 20px);
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .util-navigation,
    .carousel-controls{
        @include element-absolute(23px, inherit, 15px, right);
        .util-next .util-prev,
        .carousel-control{
            color: $white;
             border: 1px solid $white;
            &:hover{
                color: $theme-color;
                border: 1px solid $theme-color;
            }
        }
    }
}

//Style Sidebar

.sidebar {
    .#{$block-prefix} {
        .#{$block-heading-selector}{
            @media (max-width: $screen-xs-max) {
                cursor: pointer;
                &:after{
                    font-family: FontAwesome;
                    @include element-absolute(11px, inherit, 15px, right);
                    content:"\f067";
                }
                
                &.active{ 
                     &:after{
                        content:"\f068";
                    }
                    
                }

            }
        }
        .#{$block-content-selector} {
            border-top: none;
            padding: $block-module-content-padding;  
            background-color: $block-module-content-bg;
        }
    }
    // Contextual variations

    .#{$block-prefix}.#{$block-prefix}-primary,
    .#{$block-prefix}.#{$block-prefix}-success,
    .#{$block-prefix}.#{$block-prefix}-info,
    .#{$block-prefix}.#{$block-prefix}-warning,
    .#{$block-prefix}.#{$block-prefix}-danger,
    .#{$block-prefix}.#{$block-prefix}-highlighted{ 
        .#{$block-content-selector} {
            padding: 0;
        }
    }

    .#{$block-prefix}.#{$block-prefix}-nopadding,
    .#{$block-prefix}.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
            ul li {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .#{$block-prefix}.noborder{
        border: none;
    }
    .btn-sm {
        margin-top: 10px;
    }
}
/* block style in main content */
#content{
    .#{$app-brand-prefix}-custom {
        .#{$block-content-selector} {
            border:none;
            background:none;
            color:$block-module-footer-heading-color;
        }
        .#{$block-content-selector}{
            border:none;
        }
    }     
    .#{$block-content-selector}{
        margin: 0;
    }
}
/* block style in footer */
#footer{
    .#{$block-prefix} {
        .#{$block-heading-selector}{
            border:none;
            color:$block-module-footer-heading-color;
            font-size: $footer-heading-font-size;
            font-weight: $footer-heading-font-weight;
            line-height: 25px;
            padding: 10px 0;
            font-family: $footer-heading-font-family;
            @media (max-width: $screen-xs-max) {
                padding: 10px 15px ;
                border: 1px dashed rgba(255, 255, 255, 0.1);
                margin-bottom:  15px;
                cursor: pointer;

                &:after{
                    content:"\f067";
                    font-family: FontAwesome;
                    top: 11px;
                    @include rtl-right(15px);
                    position: absolute;
                }
                &.active{ 
                     &:after{
                        content:"\f068";
                    }
                    
                }
             }
            &:before{
                border: none;
                background:$nocolor;
                content:"";
                @include size(auto, auto);
                padding: 0;

            }
        }
        .toggle-footer  {
            @media (max-width: $screen-xs-max) {
                padding: 15px ;
                border: 1px dashed rgba(255, 255, 255, 0.1);
                border-top: none;
                margin-top: -15px;
            }

        }
        ul{ 
            &.list-block{
                li{ 
                    border-top: none;
                    padding: 8px 0;
                    a {
                        font-size: $footer-font-size - 2;
                        text-transform: uppercase;
                        color: $footer-center-color; 
                        &:hover {
                            color: $footer-center-color-hover; 
                        }
                    }
                }
            }
        }
    }
}
