//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  @include button-size (0px, 15px, 12px, 34px, 0px);
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid transparent;
  white-space: nowrap;

  &,
  &:active,
  &.active {
    &:focus {
      @include tab-focus();
    }
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


.buttons{
  @include clearfix();
  padding: 20px 0; 
  .left{
       float:left;
  }
  .right{
      float:right;
  }

}
.btn-outline-inverse{
  @include button-variant-outline($white, #222222 , #222222 , #fff, $theme-color,  darken($theme-color, 15%));
  @include button-size (0px, 15px, 12px, 34px, 0px);
  min-width: 130px;
   i {
    font-size: $product-icon-font-size;
    @include rtl-margin-right(3px);
   }
} 
.btn-outline{
  @include button-variant-outline( $button-addtocart-color, $button-addtocart-bg , $button-addtocart-border , $white, $theme-color, $theme-color );
    width: 100%;
    i {
      font-size: $product-icon-font-size;
      @include rtl-margin-right(3px);
    }
}
.btn-outline-small{
  @include button-variant-outline($white, $theme-color-default , $btn-default-border , $btn-default-color, $theme-color,  darken($theme-color, 15%));
  @include button-size (0px, 15px, 10px, 28px, 0px);
}
.button.exclusive,
.button-exclusive,
.btn-outline-default{
  @include button-variant-outline($white, #222222 , #222222 , #fff, $theme-color,  darken($theme-color, 15%));
  @include button-size (0px, 15px, 12px, 34px, 0px);
  border-width: 2px;
  border-style: solid;
  .icon-chevron-right{    
    @include rtl-margin-left(8px);
  }
  .icon-chevron-left{
    @include rtl-margin-right(8px);
  }
}

.btn-sm,
.button-small{
  @include button-variant-outline($white, #222222 , #222222 , #fff, $theme-color,  darken($theme-color, 15%));
  @include button-size (0px, 10px, 10px, 28px, 0px);
  .icon-chevron-right{    
    @include rtl-margin-left(8px);
  }
  .icon-chevron-left{
    @include rtl-margin-right(8px);
  }
}
.btn-highlighted{
    @include button-variant-outline($white, #283240, $nocolor, $white, $theme-color, $nocolor);
    @include button-size (0px, 0px, 12px, 26px, 0px);
    @include size(32px, 32px);
} 
.btn-special{
  @include button-variant-special($theme-color-primary, $theme-color-tertiary, $theme-color-primary, $white, $theme-color, $theme-color);
} 

.btn-action{
    font-size:$button-addtocart-font-size ;
    color: $black;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 30px;
    cursor: pointer;
    &:before{
        content: "+";
        @include rtl-padding-right(5px);
    }
}
label {
   color: #000;
   min-width: 80px;
   font-weight: 400;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
   @include rtl-margin(5px, 5px, 0, 0);
}
.selector > span {
    display: none;
}