/******************************************************
 * $package Pav Opencart Theme Framework for Opencart 1.5.x
 * $version 1.1
 * $author http://www.ptsothemes.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:ptsothemes$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/
body{
    &.layout-boxed-md{
        background: url("#{$image-theme-base-path}pattern/pattern9.png");
        #page{ 
            @include box-shadow(0 0 5px lighten($gray, 50%));
            margin: 0 auto;    
            background: $white;
            max-width: $container-desktop + 20px;
            .container{
               max-width: $container-desktop + 20px;
            }
        } 
    }
    &.layout-boxed-lg{
        background: url("#{$image-theme-base-path}pattern/pattern14.png");
        #page{ 
            @include box-shadow(0 0 5px lighten($gray, 50%));
            margin: 0 auto;    
            background: $white;
             max-width: $container-lg + 20px; 
             .container{
               max-width: $container-desktop + 20px;
            }
        }
    }
} 

#header .container {
    position: relative;
}
/*
* HEADER 
*/
/*** Position Topbar***/
#topbar  {
    padding: $topbar-padding;  
    min-height: $topbar-height; 
    font-weight: $topbar-font-weight; 
    font-size: $topbar-font-size;
    font-family: $topbar-font-family;
    border-bottom: $topbar-border;
    @include container-layout-variant( $topbar-color, $topbar-bg, $topbar-link-color, $topbar-link-hover-color ); 
    @media (max-width: $screen-xs-max) {
        .container {
            text-align: center;
        }
    }
    .links{ 
        float: left;         
    } 
    .btn-group {
      @include button-size(0, 10px, $topbar-font-size, inherit, 0);
       @media (min-width: $screen-xs-max) { 
        @include rtl-border-left($topbar-border);
        }
        @include rtl-margin-left(5px);
        cursor: pointer;
        @include rtl-float-left();
        .dropdown-toggle {
          text-transform: uppercase;
           @media (max-width: 400px) {
            .title {
                 display: none;
            }
           }
        }
        &.open {
            
        }

        &:hover {
            color: $topbar-link-hover-color;  
        }

        @media (max-width: $screen-xs-max) {
            float: none!important;
            @include rtl-text-align-right();
        }
    } 

    .quick-setting {
       background-color: $topbar-bg;
        a {
            color: $topbar-link-color;
        }
        ul{ 
            li{
                &.selected, &:hover, &:focus, &:active {
                    a, span {
                        color: $topbar-link-hover-color;
                    }
                }
            }
        }
    }    
}

#header-main{
    background-color: $header-bg;
    color: $header-text-color; 
    .container {   
      position: relative;
    }
    .inner{                  
        display:  table;
        height:  105px;
        z-index: 10;
        > * {
            display:  table-cell;
            vertical-align: middle;
        }
    } 

    @media (max-width: $screen-sm-max) {  
        .container{
            position: relative;
        }
    }
}
#header_logo {
    @media (max-width: $screen-xs-max) {
        margin-bottom: 0!important;
    }
  .logo-theme {
    a {
      background: url('#{$image-theme-base-path}logo.png') no-repeat top center;
      min-height:  33px;
       min-width:  165px;
       display: inline-block;
    }
  }
}
#logo-theme{           
    display: block;
    background: none;
    @media (max-width: $screen-sm-max) {
        text-align: center;
    }
}


/*
* NAVIGATION
*/
##{$app-brand-prefix}-mainnav {
    
}
/*
* SLIDESHOW 
*/
##{$app-brand-prefix}-slideshow {
    padding-bottom:  30px;
    
}
/*
* SHOWCASE 
*/
##{$app-brand-prefix}-showcase {

}
/*
* MAIN CONTENT
*/  
.main-content {
}

/*top column*/
#top_column {
  margin-bottom: 20px;
}
/*boottom*/
#content-bottom {
   
}
#bottom {
   padding-top: 30px;
   padding-bottom: 22px;
}
/*end*/


/* FOOTER */
#footer{
    @include clearfix();
    background: $footer-bg;    
    min-height: $line-height-computed * 5;
    color: $footer-color;
    font-size: $footer-font-size;
     position:relative;
    .block {
         margin-bottom: 0;
    }
    a {
        color: $footer-link-color;
        &:hover{
            color: $footer-link-hover-color;
        }
    }

}

.footer-top{
    @include container-layout-variant($footer-top-color, $footer-top-bg, $footer-top-color, lighten($footer-top-color,5%) ); 
    .inner{
        padding: $footer-top-content-padding; 
    }
}
.footer-center{
    position:relative;
    @include container-layout-variant($footer-center-color, $footer-center-bg, $footer-center-color, lighten($footer-center-color,5%) ); 
    .inner{  
       /*  background: $footer-center-bg; */
        padding: $footer-center-content-padding;
   }

}   
.footer-bottom{
    position:relative;  
    @include container-layout-variant($footer-bottom-color, $footer-bottom-bg, $footer-bottom-color, $footer-center-color-hover ); 
    background-image: url('#{$image-theme-base-path}bg-footerbottom.jpg'); 
    .inner{  
        padding: $footer-bottom-content-padding;   
   }
}      


/* POWER BY */
#powered { 
    font-family: $power-font-family;
    font-size: $font-size-base;
    position: relative;
    color: $power-color;
        @include container-layout-variant($power-color, $power-bg, $power-link-color, lighten($footer-bottom-color,5%) );
    .inner{
     padding: $power-padding; 
    }
    .pts-copyright {
        margin-bottom: 20px;
        text-align: center;
        line-height: 24px;
         a {
           color: $power-link-color;
        }
        p {
            margin-bottom: 0;
        }
    }
    .copyright{
       
    }
}

.gmnoprint img {
    max-width: initial;
}
.map {
    padding: 10px 0;
}
