//
// Navs
// --------------------------------------------------
  ##{$app-brand-prefix}-mainnav {
      background: $megamenu-bg;
      min-height: $megamenu-height;
      .container-inner{
      	background: $megamenu-outside-bg;
      	@include border-radius(0px);
      	position: relative;
      	z-index: 99;
      }
  }
.#{$app-brand-prefix}-megamenu {
    font-family: $megamenu-font-family;
    height: $megamenu-height;
	.navbar{
		border: 0;
		margin: 0;
		padding: 0;
		@include border-radius(0);
	}
	/* menu level 1 */
	.navbar-nav{
		@include rtl-float-left();
		> li {
			margin:  0 18px;
	         @media (min-width: $screen-sm-max) {
				@include rtl-float-left();
			}
			&.aligned-fullwidth {
				position: static;
				> .dropdown-menu  {
					width: 96%!important;
					margin-bottom: 15px;
				}
			}
			&.aligned-right {
				> .dropdown-menu  {
					right: 0;
					left: auto;
				}
			}
			&.aligned-left {
				> .dropdown-menu  {
					@include rtl-left(0);
				}
			}
			&.aligned-center {
				> .dropdown-menu  {
					left:50%;
					@include translate(-50%, 0);

				}
			}
			&.parent {
				> a{
					@include rtl-padding-right(15px);
				}
			}
			> a{
				padding: $megamenu-parent-padding;				
				text-transform:  $megamenu-parent-text-transform;		
				font-size: $megamenu-link-font-size;			
				color: $megamenu-link-color;
				font-weight: $megamenu-font-weight;
				@include transition(all 350ms ease-out);
				&:hover,&:focus,&:active{					
					color: $megamenu-link-hover-color;				
				}
				&:after{							
					content:"";
					margin: 0 auto;	
					line-height: 0;	
					@include size(0px, 3px);
					@include element-absolute(inherit, 0, 0, right-left);
					 @include opacity(0);
					 @include transition(all 0.4s ease 0s);
					 @media (min-width: $screen-sm-max) { 
						background-color: $megamenu-animation-color;	
					}
				}
				span {

				}

				.caret{
					border: 0;
					position: relative;
					transform: rotate(0deg);
						-moz-transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
						-o-transform: rotate(0deg);
						-ms-transform: rotate(0deg);
					&:before{
						color: $megamenu-arrow-bg;
					    font: 12px $font-icon;
					    @include element-absolute(-7px, inherit, -10px, right);
					    content: "\f107";
					}						
				}	
			} 
			&.open,
			&:hover {
				background-color: $megamenu-bg-hover;
                > a .caret:before, &:active > a .caret:before {
				    color: $megamenu-link-hover-color;
			    }
			    > a {
			    	&:after{	
					width: 100%;
					 @include opacity(1);
					 @include transition(all 0.4s ease 0s);
				}
			    }
            }
		} 		
	}
	
	/* level 2 */
	.dropdown-menu{			
		top: 100%;	
    	@media (min-width: $screen-sm-max) {
			left:-9999px;
		}	
		height: auto;								
		font-weight: 300;		
		color: $megamenu-sub-text-color;	
		border: $megamenu-sub-border;
		min-width: $megamenu-sub-min-width;
		padding: $megamenu-sub-padding;
		background-color: $megamenu-sub-bg-color;							
		@include border-radius($megamenu-sub-radius);							
		@include box-shadow($megamenu-sub-shadow);
		@include transition(opacity 0.3s linear 0s);			
	    li{
	    	line-height: $line-height-computed + 10;
	    	padding-top: 3px;
	    	padding-bottom: 3px;
		    a{    
		    	.caret {
		              border: 0;
		              @include element-absolute(50%, inherit, 0px, right);
		              &:before{
		                content: "\f105";
		                font: 12px $font-icon;
		             	 @include element-absolute(-8px, inherit, 0px, right);
		              }
		        }			   	
			   	&:hover{
			   	}
		    }		    
	    }		
		.menu-title{
		}
		
	}
	.dropdown{		
		&:hover{
			> .dropdown-menu{	
    			left: 0px;
    			@media (min-width: $screen-sm-max) {
					display: block;

				}								 		
			}
			> a{		
			color: $megamenu-link-hover-color;
				.fa{
					color: $megamenu-link-hover-color;
				}									
			}
		}		
	}
	/* level > 3 */
	.dropdown-submenu{
		position: relative;
		.dropdown-menu{	
			padding-top: 3px;
			padding-bottom: 3px;
    		@media (min-width: $screen-sm-max) {					
				top: 0;		
				@include rtl-right( -127%);	
				left: auto;			
				position: absolute;
			}
			@media (max-width: $screen-sm-max) {
				display: block;
			}
		}
		&:hover{
			> .dropdown-menu{
				display: block;	
			    top: 0;											    									      			
			}
		}
	}
	.mega-group {		
		& > .dropdown-toggle {			
			border: 0;	
			display: block;			
			letter-spacing: 3px;				
			text-transform: uppercase;					
			font-family: $megamenu-heading-title;	
			color: $megamenu-heading-color;			
			.fa{
				color: $white;
			}
		}	
	}
 	.widget-title{
 		color:$megamenu-widget-title-color;
 	}	

}


/*** widgets using inside megamenu ***/

.#{$app-brand-prefix}-widget{
	
	.widget-heading {
		 font-size: 12px;
		 text-transform: uppercase;
		 color:  #000;
		 font-weight: 600;
		 padding-bottom: 15px;
	}
	.w-product .product-block{     		 
		 .product-meta{
		 	padding: 0 15px 15px;
		 }
	}

	ul.nav-links li {
		font-size: 11px;
		text-transform: uppercase;
	}
	.manu-logo {
		a {
			overflow: hidden;
			 padding:  10px;
			 display:  inline-block;
		}
	}
}