
@import "theme_variables";
/*module search*/
form#searchbox {
    .navbar-form {
        padding: 0; 
        border: none;
        @media (max-width: $screen-sm-max) {
            margin: 0;
            .form-group {
                margin: 0;
                @include rtl-float-left();
            } 
        }      
        input {
            display: inline;
            @include input-variant ($search-text-color, $search-bg-color, $search-border, none ) ;
            @include sizeinput(0, 10px, 12px, $search-height, $search-height, 3px);
            border-width: 1px;
            border-style: solid;
        }

    }
    .btn.button-search {
        @include size($search-height,$search-height);
        text-align: center;
        @include button-variant($search-button-color, $search-button-bg, $search-button-border);
        @include button-size(0, 0, 12px, $search-height, 3px);
        @include rtl-margin-left(-5px);
        border-width: 1px;
        border-style: solid;
        span {
            display: none;
        }
        &:before {
            content: "\f002";
            display: block;
            font-family: $font-icon;
            font-size: $search-icon-font-size;
            width: 100%;
            text-align: center;
            font-weight:  300;
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: #6f6f6f;
            border-color: $search-button-border;
            background-color:$search-button-bg;
        }
    }
}

/***newsletter***/

.newsletterbox {
    .navbar-form {
       @include rtl-float-left() ;
        padding: 0;
        margin: 0;
        .form-group{
            position: relative;
            margin-bottom: 0;
            &:before {
                color: $newsletter-input-text-color;
                @include size(16px, 16px);
                font: 14px $font-icon;
                @include element-absolute(10px, inherit, 10px, left);
                content: "\f0e0";
            }       
        }
        .newsletter-input {
            @include input-variant($newsletter-input-text-color, transparent, $newsletter-input-border, none) ;
            @include sizeinput (0, 15px, $newsletter-input-font-size, $newsletter-input-lineheight, $newsletter-input-lineheight, 2px );
            border-width: 1px;
            border-style: solid;
            @include rtl-padding-left(30px);
            font-family: $newsletter-font-family;
            @media (max-width: $screen-md-max) {
                width: 174px;
            }
        }
        .button-newsletter {
            @include button-variant-outline($newsletter-button-text-color, $newsletter-button-bg, $newsletter-button-border, $newsletter-button-text-color, darken($newsletter-button-bg, 8%), transparent) ;
            @include button-size(0, 15px, $newsletter-button-font-size, $newsletter-input-lineheight, 2px);
            border-width: 1px;
            border-style: solid;
            font-weight: 600;   
            height: $newsletter-input-lineheight;
            @include rtl-margin-left(-4px);
        }

    }
}


/* mini basket */
.header-cart {
    @include rtl-float-right();
}
#cart{ 
    &.shopping_cart {
        @media (min-width: $screen-xs-max) {
             @include rtl-float-right();
         }
          @media (max-width: $screen-xs-max) {
            text-align: center;

         }
    }
    .title-cart{
        color: $cart-heading-color;
        text-transform: uppercase;
        font: $minicart-module-font;
        @include rtl-padding(0, 0, 0, 23px);
        @include rtl-margin(0, 5px, 0, 0);
        &:before{
            @include element-absolute(0, 0, 0, left);
            content: "\f07a";
            font-family: FontAwesome;
            font-size: $cart-icon-font-size;
            color: $cart-icon-color;
        }
    }
    .content {
        clear: both;
        display: block;
        @include element-absolute(100%, inherit, $cart-align-right, right);
        left: auto;
        padding: 15px;
        min-height: 100px;      
        height: 100px;
        height: auto !important;      
        background: $white;
        border: 1px solid $border-color;
        z-index: 99999;
        min-width: $cart-content-width;
        @include border-radius(0px); 
        @include box-shadow(none); 
        display: none;

    }  
    &.active{
        .content{
            display: block;
        }
    }      
    .heading {     
        @include clearfix();      
        position: relative;   
        cursor: pointer; 
        .mini-cart {          
            background-color: $minicart-module-bg;
            margin-top: 1px;
        }
        a{  
            display: inline-block;
            font-size: $cart-product-font-size;
            padding: 0 $padding-base-vertical - 2 ;
            text-transform: uppercase;
            .ajax_cart_total {
                @include rtl-margin-left(5px);
            }
        }            
    }
    .media{
        .pull-left{
            @include size(38px,38px);
            line-height: 38px;
            text-align: center;
            position: relative;
            background-color: $theme-color-default;
            margin-right: $padding-large-vertical;
        }
    }
    .icon-cart{          
        color: $cart-icon-color; 
        font-size: $font-size-base + 2;                      
    }
    .checkout {
        text-align: right;
        clear: both;
    }
    .empty {
        padding-top: 20px;
        text-align: center;
    }

    .mini-cart-total {
        text-align: right;
        td {
            color: #000;
            padding: 4px;
        }
        table {
            border-collapse: collapse;
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .mini-cart-info {
        .quantity {
            text-align: right;
        }
        .name {
            small {
                color: #666;
            }
            font-size: $cart-product-font-size;
            font-weight: bold;
        }
        td {
            color: #000;
            vertical-align: top;
            padding: 6px;
            border-bottom: 1px solid $border-color;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 5px;
        }
        .image {
            width: 1px;
            img {            
                text-align: left;
            }
        }
        .remove {
            text-align: right;
            img {
                cursor: pointer;
            }
        }
        td.total {
            text-align: right;
        }
    }

}

/* module custom*/
.hotline{
    @include rtl-padding-left(40px);
    font-size: $font-size-base - 2;
    position:  relative;
    &:before{
        @include element-absolute (5px, inherit, 0, left);
        content: "\f10a";
        font-family: $font-icon-family;
        font-size: 22px;
        @include size(34px, 34px);
        line-height: 34px;
        border:1px solid $yellow;
        color: $yellow;
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        vertical-align: middle;
        text-align: center;
    }
    .number{
        font-size: $font-size-base + 5;
        color: $yellow;
    }
    p {
         margin-bottom: 0;
    }
}
.custom{
    text-align: center;
    line-height: 60px;
    padding: 0 90px;
    small, .small {
         font-size:  12px;
         text-transform: lowercase;
         letter-spacing: 0;
    }
    .info-title {
         text-transform: uppercase;
         letter-spacing: 1px;
    }
    strong {
        font-weight: 600;
        font-size: 30px;
        text-transform: lowercase;
    }

    .border {
         position: relative;
         color: $white;
        &:before, &:after {
            @include element-absolute(50%, inherit, inherit, right-left);
            @include size( 21%, 1px);
            content: "";
            background-color: rgba(255, 255, 255, 0.3);
        }
        &:before{
            @include rtl-left (0);
        }
        &:after {
            @include rtl-right (0);
        }
    }
}
#fancybox-map {
    text-transform: uppercase;
    font-weight:  900;
    color: $theme-color!important;
    font-size: 11px;
    span {
        font-size: 9px;
        @include rtl-margin-right(5px);
    }
}

.widget-html {
    padding: 0;
    .image-banner {
        @include rtl-padding-right (20px);
        @include rtl-border-right (1px solid rgba(255, 255, 255, 0.1));
        @include rtl-margin-right (20px);
    }
     p{
        margin-bottom: 0;
        padding: 10px 0;
    }
}
#topbar #ptsstaticontent_home {
    @include rtl-float-right();
    font-size: 12px;
}
.free-shipping {
    background: url("#{$image-theme-base-path}free_shipping.png") no-repeat left center;
    @include rtl-padding-left(20px);
    h5 {
         font-size: 12px;
         color: $theme-color;
         small{
            color: #999;
            font-size: 10px;
            @include rtl-margin-left(5px);
         }
    }
}
.social-footer .block_content {
    display: block!important;
    @include rtl-float-left();
}
.pts-footer-top .item-html {
     text-transform: uppercase;
     letter-spacing: 1px;
}

