
.pts-parallax {
  @include parallax();
  	position: relative;
}

.widget-inner > [class*="col-"]{
  width: 100%!important;
  padding-left:0!important;
  padding-right: 0!important;
 }

//css row style

.row-primary{ 
  background-color: lighten($brand-primary, 47%);
  border: 1px solid lighten($brand-primary, 25%);

}

.row-success{
  background-color: lighten($brand-success, 42%);
  border: 1px solid lighten($brand-success, 25%);
}

.row-info{
  background-color: lighten($brand-info, 35%);
  border: 1px solid lighten($brand-info, 20%);
}

.row-warning{
  background-color: lighten($brand-warning, 35%);
  border: 1px solid lighten($brand-warning, 15%);
}

.row-danger{
  background-color: lighten($brand-danger, 50%);
  border: 1px solid lighten($brand-danger, 20%);
}

//css col style

.col-primary{ 
  background-color: lighten($brand-primary, 40%);
  border: 1px solid lighten($brand-primary, 25%);

}

.col-success{
  background-color: lighten($brand-success, 35%);
  border: 1px solid lighten($brand-success, 25%);
}

.col-info{
  background-color: lighten($brand-info, 30%);
  border: 1px solid lighten($brand-info, 20%);
}

.col-warning{
  background-color: lighten($brand-warning, 30%);
  border: 1px solid lighten($brand-warning, 15%);
}

.col-danger{
  background-color: lighten($brand-danger, 40%);
  border: 1px solid lighten($brand-danger, 20%);
}

//widget images
.widget-images {
  background-color: $white;
  .image-item {
    position: relative;
    display: flex;
    a.pts-popup {
      @include element-absolute( 0, 0 , 0, right-left);     
      line-height: 24px;
      z-index: 1;
      @include size( 30px, 30px);
      color: #fff;
      @include border-top-radius(50%);
      @include border-bottom-radius(50%);
      @include opacity(0);
      span {
        position:relative;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        @include scale(0,0);
        @include transition( transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out);
        background-color: rgba(0, 0, 0, 0.3);  
        border: 1px solid rgba(0, 0, 0, 0.5);   
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        @include size( 30px, 30px);
      }
    }
    &:hover{
      a.pts-popup {
        @include opacity(1);
        span {
          @include scale(1,1);
          -moz-transition-delay:0.3s;
          -webkit-transition-delay:0.3s;
          -o-transition-delay:0.3s;
          -ms-transition-delay:0.3s;
          transition-delay:0.3s;
        }    
      }
    }
    .img-animation {
    	position: relative;
      display: inline-block;
      overflow: hidden;
    	&:before{
        	background-color: rgba(0, 0, 0, 0.15);
        	display: block;
        	@include size(100%,100%);
        	@include opacity(0);
          @include element-absolute(0, inherit, 0, left);
    	    transform: rotate(180deg) scale(0);
    	    @include transition (all 0.3s ease 0s);
    	}
    }
    &:hover {
    	 .img-animation {
    	 	&:before {
    	 		@include opacity (1);
		        transform: rotate(0deg) scale(1);
    	 	}
    	 }
    }
  }
}


//widget manufacture
.widget-manufacture {
  .block_content {
    padding:  35px;
    background-color: $white;
    .carousel-controls {
       top: 46%;
       width: 100%;
      .carousel-control.left {
         @include rtl-left(20px);
      }
      .carousel-control.right {
         @include rtl-right(20px);
      }
    }
  }
}


// widget video

.widget-video {
  .subinfo {
      font-size: $font-size-base;
       text-transform: uppercase;
       color: $black;
       padding: 10px 0;
  }
}

//widget latestblog
.widget-latestblog {
 
  .blog_container { 
    position: relative;
    margin-bottom: 20px;
    .blog-image {
      position: relative;
       @media (max-width: 580px) {
        width: 100%;
       }
      img {
        border-color: $theme-color-secondary;
      }
    }
    .blog-title {
      margin-top: 0;
      text-transform: none;
      max-height: 48px;
      overflow: hidden;
      font-size:  15px;
      a {
        line-height: 24px;
        font-weight:300;
        &:hover {
        } 
      }
    }
    .blog-meta {
      font-size: $font-size-base - 1;
      color: #999;
      font-style: italic;
      margin-bottom: 10px;
      > span {
        @include rtl-margin-right(8px);
      }
    }
    .blog-shortinfo {
      margin-bottom: 10px;
    }
    
    .created{
      text-transform: uppercase;
      font-size: $font-size-base - 3;
      color: #999;
      padding-top: 10px;  
    }

    .readmore { 
      padding-top: 10px; 
      a {
         color: $theme-color;
         @include rtl-padding-right(15px);
         position: relative;
         font-size: $font-size-base - 3;
         text-transform: uppercase;
         &:before {
          @include element-absolute(0, inherit, 0, right);
          content: "\f178";
            font-family: FontAwesome;
            font-size: 10px;
         }
         &:hover {
          text-decoration: underline;
         }
      }
    }

  }

}
//widget newslleter
.style2.pts-newsletter {
  input {
    margin-bottom: 10px;
  }
   button {
    width: 100%;
  }
}
.style3.pts-newsletter {
   border: 2px solid #000;
   padding: 28px 18px;
   button {
    @include rtl-margin-left (10px);
    padding-left: 30px;
    padding-right: 30px;
   }
   .newsletter_title {
     margin-top: 0;
   }
   .newsletter-body {
     margin: 10px 0;
     .navbar-form {
      padding: 0;
       .form-group {
         @media (min-width: $screen-md-max) {
          width:  245px;
        }
        input{
          width: 100%;
          @include border-top-radius(2px);
          @include border-bottom-radius(2px);
        }
       }
     }
   }
   .newsletter-info {
     text-transform: uppercase;
     font-size: 10px;
     p {
       margin-bottom: 0;
     }
   }
}


//widget ourservice
.widget-ourservice {
    padding: 20px 20px 20px 35px;
    min-height: 115px;
    .icon {
        font-size: 35px;
    }
    strong{
      font-size: 18px;
      font-weight: 900;
    }
    .pull-left{
        @include rtl-margin-right(30px);

    }

    .pull-right{
        @include rtl-margin-left(30px);

    }
    .top {
      margin-bottom: 15px;
    }

    .bottom {
      margin-top: 15px;
    }
    .ourservice-heading {
         margin-top: 0;
    }
    .ourservice-content {
        p {
            margin-bottom: 0;
        }
    }

}

//widget-products 
.widget-products {
  .product_list.product_list2 .products_first .product-meta {
      width: auto;
    }
  .product_list.product_list2,
  .product_list.grid{ 
    .product-meta {
      width: 65%;
    }
  }
  .product_list1 {
    .product-image-container{
      margin-bottom: 0;
        img {
             @include size(80px, auto);
        }
    }
  }
  .product_list2 {
    li {
          border-top: 1px solid #fff!important;
      &:nth-child(even) {
          background-color: #f5f5f5; 
      }
    }
    .products_first {
      .product-container {
        @include rtl-padding-left (0);
        .nb-item {
        background-color: $theme-color;
           @include size(33px,33px);
            bottom: 0;
            top: inherit;
            z-index: 9;
            span{
              top: 22%;
              color: #fff;
            }
        }
      }
    }

    .product-container {
      @include rtl-padding-left (40px);
      .nb-item {
        background-color: #dadada;
        text-align: center;
        @include element-absolute(0, inherit, 0, left);
        @include size(33px, 100%);
        span{
          position: relative;
          top: 34%;
          font-family: 'Oswald', sans-serif;
          font-weight: 700;
          font-size: 14px;
          color: #666;
        }
     }
    }
    .product-image-container{
      margin-bottom: 0;
        img {
             @include size(160px, 100%)
        }
    }
  }
  .product_list1,.product_list2 {
    .product-block {
      h3.name {
        margin-bottom: 5px;
      }
      .nb-comments {
        display: none;
      }
      .rating, .product-rating, .norating {
        margin-bottom: 0;
      }     
      .product-price {
        font-size: $font-size-base;
        font-weight: 900;
      }
    }
  }
}


// Widget product deal
.widget-product_deal {
  .product-block {
    border: 1px solid #e2e2e2;
     @include box-shadow(none);
     &:hover{
        @include box-shadow(none);
     }
    .product-price {
      font-size: $font-size-base;
      font-weight: 900;
    }
    .nb-comments {
      display: none;
    }
    .product-body {
      padding: 0 20px;
    }
  }
  .item-countdown {
    border-top: 1px solid #e2e2e2;
    padding: 5px 0 15px;

    > ul {
      display: block;
      white-space: nowrap;
      width: 100%; 
      > li {
        color: #696969;
        @include rtl-float-left();
        font-size: 10px;
        font-weight: 300;
        padding: 5px 0;
        width: 25%;
        text-align: center;
        text-transform: uppercase;
        b {
          font-size: $font-size-base;
          color: $theme-color;
        }
      }
    }
  }
}
  .pts_position {
    position: relative;
    min-height: 170px;
    z-index: 10;
     @media (max-width: $screen-md-max) {
      min-height: 100px;
     }
    .pts-inner {
       @include element-absolute(-94px, inherit, 0, right-left);
       margin: 0 auto;
    }
  }

/*widget tab*/
.pts-tab {
   position: relative;
}

//footerbuilder
.footerbuilder {
  background-color: $footer-center-bg;
  color: $footer-center-color;
  .pts-container {
    padding: 45px 0;
    ul li a {
     
    }
  }
}

//
.pagebuilder .pts_slideshow .pts-inner {
  padding-left: 0;
  padding-right: 0;
}

/*effect*/