.sidebar{
    .product-block .image {
        @include rtl-margin-right(10px);
    }
    .block{
        &.products_block {
            .products-block-image{
                img{
                    width: 82px;
                    height: auto;
                }
            }
        }
    }
}
.price { 
    margin-bottom: 10px; 
     > * {
        @include rtl-margin-left(5px);
    }
    .price-old, .old-price {
        color: $product-price-old-color;
        text-decoration: line-through;        
        font-size: $product-old-price-size;
        font-weight: $product-old-price-font-weight;
    }
}
    

.#{$products-row-selector}{
    position:relative;
    .#{$products-col-selector}{
        margin-top:$product-content-padding ;
    }
}

/* product style */
.product-block{
    position:relative;
    background-color: $product-content-bg;
    margin: 5px 0 13px;
    a:hover{
    }

    .action{
        @include clearfix();
      .btn-highlighted {
        font-size: $font-size-base - 1;
        padding: 0;
        > span {
           display: none;
        }
      }
    }
    .description{
        display: none;
        font-size: $product-size;
    }
    .rating, .product-rating, .norating {
      font-size: $product-rating-font-size;
      margin-bottom: 10px;
      .star_content {
          display: inline-table;
      }
    }
    .name{
        text-transform: none;        
        margin: 0 0 10px;
        line-height: $product-name-line-height;
        position: relative;               
        a {
            color: $product-name-color;
            font-size: $product-name-font-size;
            font-family: $product-name-font-family;  
            font-weight: $product-name-font-weight;      
            text-decoration: none;
            overflow: hidden;
            display: inline-block;                                       
            &:hover{
                color: $product-name-hover-color;
            }
        }
    }
    
    .image{
        margin-bottom: 15px;        
        position: relative;     
        overflow: hidden;
        text-align: center; 
        /*swap image*/
        .hover-image {
            @include element-absolute(0, inherit, 0, left);
            text-align: center;
            width: 100%;
            @include transition (all 0.4s ease-in-out);
            visibility: hidden;
            @include opacity (0);
        }

        &:hover {
            .hover-image {
                @include opacity(1);
                visibility: visible;
            }
        }
        
    }

    .product-meta{   
    }
    .product-zoom, .#{$block-prefix}-colorbox {
        &:hover{
            background-color: $nocolor;
            color: $product-button-hover-color;
        }
    } 
    .product-zoom{
        color: $product-zoom-color;
        text-align: center; 
    }
    .availability {

        span {
          font-weight: 500;
            &.available-now {
                color: $product-warning-avariable-now-color;
            }
            &.out-of-stock{
                color: $product-warning-outofstock-color;
            }
        }
    }

    .product-flags{
      color: #696969;
      margin-bottom: 5px;
    }

   
}
.availability{ 
    .out-of-stock {
        color: $product-instock-color ; 
    }
    .available-now{
        color: $product-outofstock-color  
    }
}



.product-label { 
    font-family: $product-label-font-family;
    font-weight: $product-label-font-weight;
    text-align: center;        
    z-index: 3;  
    @include rtl-left(0);
    position: absolute; 
    text-transform: uppercase;
     border-width: 2px;
     border-style: solid;;
     min-width: 50px;
     @include button-variant ($product-label-color, #fff, $product-label-border-color);
     @include button-size (0, 5px, $product-label-font-size, 20px, 0);
    span{
        line-height:  20px;
    }
    &.product-label-new, &.new-box{
        @include label-variant($product-label-new-bg);
    }

    &.product-label-special, &.sale-box{ 
        @include label-variant($product-label-sale-bg); 
        border-color: $product-label-sale-border-color;
        color: $product-label-sale-text-color;
    }
    &:hover {
        color: $product-label-color;
    }

}
//productinfo

.product-info {
     background-color: $white;
     padding: 18px;
     font-size: $font-size-base + 2;
      line-height: 25px;
      margin-bottom: 40px;
      .primary_block {
        margin-bottom:  20px;
      }
}
.product_attributes{
    @include rtl-border-left( 3px solid $theme-color);
    @include rtl-padding-left(20px);
    margin-bottom: 20px;
}
.tabs-info {
    overflow: hidden;
    .tab-nav {
        @include rtl-text-align-left();
      ul.nav-stacked {
        @include rtl-padding-right(20px);
        @include rtl-margin-right(10px);
        position: relative;
        @media (min-width: $screen-sm-max) {
            &:before {
                content: "";
                background-color: $black;
                @include element-absolute(7px, inherit, 0, right);
                @include size(3px, 500px);
            }
        }

        li {
             @media (max-width: $screen-sm-max) {
                display:  inline-block;
                margin-bottom: 30px;
                @include rtl-margin-right(15px);

             }
            a {
               font-family: $font-tab-family;
            }
          &.active {
           border-color: $theme-color;
            @media (min-width: $screen-sm-max) {
              &:last-child {
                 border-bottom: none;
              }
          }
            a {
               color: $theme-color;
            }
          }
          @media (min-width: $screen-sm-max) {
              &:last-child {
                 border-bottom: none;
              }
          }
        }
      }
    }
    .tab-content {
        margin: 0;
    }
}


#attributes{
    fieldset {
        padding-bottom: 10px;
        label {
            vertical-align: top;
            display: block;
            line-height: 30px;
        }
    }
    .attribute_list {
        .form-control {
            max-width: 230px;
            option{
                background: $light-background;
                color: $description-color;
            }
        }
        ul{
            overflow: hidden;
            li{
                @include rtl-float-left();
                @include rtl-margin-right(10px);
            }
        }
        input.attribute_radio{
            @include rtl-float-left();
            @include rtl-margin-left(3px);
        }
        div.radio,
        div.radio span,
        div.radio input{
            float:none;
            display: inline-block;
        }
        #color_to_pick_list {
            list-style-type: none;
            li {
                @include rtl-float-left();
                @include rtl-margin(0, 3px, 3px, 0);
                padding: 1px;
                border: 1px solid $base-border-line;
                clear: none;
                a.color_pick {
                    display: block;
                    height: 22px;
                    width: 22px;
                    cursor: pointer;
                }
                &.selected{
                    border: 1px solid $theme-color;
                }
            }
        }
    }
}


#thumbs_list {   
    display: inline-block;  
    overflow: hidden;
    width: 323px;
    @media (min-width: $screen-md-max) {
         margin: 0 15%;
    }
    @media (max-width: $screen-md-max) {
         margin: 0 8%;
    }
    @media (max-width: $screen-sm-max) {
         margin: 0 4%;
    }
    @media screen and (max-width:365px) {
         margin: 0;
    }
     @media screen and (max-width:345px) {
         margin: 0 1%;
         width: 278px;
    }

    ul#thumbs_list_frame {
        list-style-type: none;
        @include rtl-padding-left(0);
        overflow: hidden;
    }
    li {
        @include rtl-float-left();
        cursor: pointer;
        padding: 0 5px;
        line-height: 0;
        border: 1px solid transparent;
        background: $product-bg-image-color;
        @include box-sizing(border-box);
       
        a{
            display: block;
            border: 1px solid $thumb-border-color;
            @include transition(all 0.3s ease);
            @include box-sizing(border-box);
            background: $product-bg-image-color;
            &:hover, &.shown {
                border-color: $product-image-border;
            }
        }
        img {
            @include size(95px, auto);
            @include box-sizing(border-box);
              @media screen and (max-width:345px) {
                @include size(78px, auto);
            }
        }
    }
}
.product-block.product-gallery {
    &:hover{
        @include box-shadow(0 0 0 1px lighten($theme-color, 25%));
    }
}
//gallery
.gallery-carousel{
    position:relative;
}
.ajax_block_product {
    .thumbs-wrap {
        background-color: #ffffff;
        border:1px solid lighten($theme-color, 25%);
        @include rtl-border-right(1px dashed rgba(0, 0, 0, 0.1));
        @include element-absolute(0, inherit, 0 left);
        @include opacity (0);
        @include transition(all 0.4s ease 0s);
        @include box-sizing(content-box);
        overflow: hidden;
        visibility: hidden;
        padding: 0 10px;
        width: 80px;
        z-index: 99;
        margin-top: -1px;
        .thumbs_list  {
            margin-top: 10px;
            overflow: hidden;
            @include size(80px, 280px);
            li {
                border: 0;
                margin: 0;
                a {
                    margin-bottom: 10px;
                    display: block;
                    text-align: center;
                }
                img {
                    @include size(auto, 83px);
                }
            }
        }
        .view_scroll_left,
        .view_scroll_right {
            display: block;
            text-align: center;
            > i {
                display: inline-block;
                font-size: 12px;
                line-height: 28px;
            }
        }
    }

    &.first-in-line {
        .thumbs-wrap {
            @include rtl-border-left(1px dashed rgba(0, 0, 0, 0.1));
             @include rtl-border-right(1px solid lighten($theme-color, 25%));
        }
    }
}

/*style1*/
.style1 {

    .product-block { 
         padding: 20px;

        .product-label {
            @include rtl-left (0px);
            &.product-label-new, &.new-box{
                top: 0px; 
            }

            &.product-label-special, &.sale-box{ 
                top: 28px;
            }
        }      
        .wrap-hover {
             @include element-absolute(20px, inherit, 20px, right);
        }
        .action-btn {
            margin-top: 25px;
        }
        .action{
            .btn-highlighted {
                min-width: 36px;
                min-height: 36px;
                line-height: 32px;
            }
            > *{
              display: inline-block;
            }
        }

       .price{
            margin-bottom: $padding-base-horizontal ;
            font-weight: $product-price-font-weight;
            font-size: $product-price-size;
            @include rtl-text-align-right();
            .product-price {
                 background-color: $product-price-bg-color;
                 color: $product-price-color;
                 display: block;
                 padding: 0 10px;
                  line-height: 30px;
                  text-align: center;
                &.new-price {
                    background-color: $product-new-price-bg-color;
                }
            }
             .sale-percent-box{      
                color: $product-price-color;
               @include label-variant($product-special-price-bg-color);
               font-size: $product-special-price-size;
              span {
                padding: 0 5px;
              }
            }
       }
        &:hover{ 
        @include box-shadow(0 0 5px #d0d0d0);      
            .action-btn {
                .btn-outline {
                  background-color: $darkslategrey;
                  color: $white;
                  &:hover {
                     background-color: $theme-color;
                  }
                }
            }
        }
    }
}

/*style2*/
.style2 {
    .product-block {
        .action{
            .btn-highlighted {
                @include size(36px, 36px);
                line-height: 32px;
            }
        }
         padding: 20px;
        
        .product-label {
            @include rtl-left (0px);
            &.product-label-new, &.new-box{
                top: 0px; 
            }

            &.product-label-special, &.sale-box{ 
                top: 28px;
            }
        }   
        .product-image-container{
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .product-meta {
            text-align: center; 
            .name {
                position: relative;
                a {
                }
            } 
        }
        .price{
            color: $style2-product-price-color;
            display: block;
            .product-price {
                color: $style2-product-price-color;
                padding: 0 5px;
                line-height: 30px;
                font-size: $style2-product-price-size;
                &.new-price {
                    color: $style2-product-new-price-color;
                }
            }
            .old-price {
                color: $style2-product-old-price-color;
                font-size: $style2-product-old-price-size;
            }
             .sale-percent-box{      
                color: $product-price-color;
               @include label-variant($product-special-price-bg-color);
               font-size: $product-special-price-size;
              span {
                padding: 0 5px;
              }
            }
        }

        &:hover{       
            
        }
    }
}

/*style3*/
.style3 {
    .product-block {

        .product-label {
            @include rtl-left (15px);
            &.product-label-new, &.new-box{
                top: 15px; 
            }

            &.product-label-special, &.sale-box{ 
                top: 45px;
            }
        } 
        .action{
            .btn-highlighted {
               min-height: 34px;
               min-width:  34px;
                line-height: 30px;
                @include border-top-radius(0);
                @include border-bottom-radius(0);
            }
        }
        .action .tooltip {
             display:  none!important;
        }
        .wrap-hover {
        }
        .product-image-container{
            border-bottom: 1px solid #e2e2e2;
            margin-bottom: 0;
        }
        .product-meta {
            padding:  0 20px 10px;
            text-align: center; 
            .name {
                position: relative;
                a {
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
            .action-btn {
                > * {
                    display: inline-block;
                    padding: 0 3px 5px;
                }
            }
        }
        .price{
            color: $style2-product-price-color;
            display: inline-block;
            text-align: center;
            border: 1px solid #e2e2e2;
            background-color: $white;
            padding: 0 15px;
            height: 34px;
            line-height: 30px;
            position: relative;
            top: -18px;
            margin-bottom: 0;
            .product-price {
                color: $style3-product-price-color;
                font-size: $style3-product-price-size;
                font-weight: 900;
                &.new-price {
                    color: $style3-product-new-price-color;
                }
            }
            &.price-specific {
                 background-color: $style3-product-price-specific-bg;
                border: 1px solid $style3-product-price-specific-bg;
            }
            .old-price {
                color: $style3-product-old-price-color;
                font-size: $style3-product-old-price-size;
            }
             .sale-percent-box{      
                color: $product-price-color;
               @include label-variant($product-special-price-bg-color);
               font-size: $product-special-price-size;
              span {
                padding: 0 5px;
              }
            }
        }

        &:hover{                   
            .product-meta {
                color: $white;
                z-index: 100;
                .name {
                    a {
                        color: $white;
                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}


/*style4*/
.style4 {
    .product-block {
        .product-label {
            @include rtl-left (10px);
            &.product-label-new, &.new-box{
                top: 10px; 
            }

            &.product-label-special, &.sale-box{ 
                top: 45px;
            }
        } 
        .action{
            > div {
                @include rtl-float-right();
                &.quickview {
                    @include rtl-float-left();  
                }
            }
            .btn-highlighted {
                @include rtl-margin-left(5px);
                &.quick-view {              
                    @include rtl-margin-left(0);
                    @include border-top-radius(20px);
                    @include border-bottom-radius(20px);
                    padding:  0 13px;
                    min-width: 100px;
                    width: auto;
                    span{
                        display: inline-block;
                    }
                }
            }
        }

        .action-btn {
            .btn-outline {
                &.btn-shopping-cart {
                    @include size(58px, 58px);
                    line-height: 58px;
                    @include border-top-radius(50%);
                    @include border-bottom-radius(50%);
                    i {
                        font-size: $button-addtocart-icon-size;
                    }
                }
            }
        }
        .wrap-hover {
        }
        .product-image-container{
            position: relative;
        }
        .product-meta {
            padding:  0 20px 20px;
            .left{
                position: relative;
                width: 70%;
                 @include rtl-float-left(); 
                .name {
                    a {
                        text-transform: uppercase;
                        font-weight: $product-price-font-weight;
                        font-size: 12px;
                    }
                } 
            }
        }
        .right .price{
            color: $style2-product-price-color;
            text-align: right;
            width: 30%;
            @include rtl-float-right(); 
            .product-price {
                color: $style2-product-price-color;
                line-height: 30px;
                margin: 0;
                padding: 0;
                font-size: $style2-product-price-size;
                &.new-price {
                    color: $style2-product-new-price-color;
                }
            }
            .old-price {
                color: $style2-product-old-price-color;
                font-size: $style2-product-old-price-size;
            }
             .sale-percent-box{      
                color: $product-price-color;
               @include label-variant($product-special-price-bg-color);
               font-size: $product-special-price-size;
              span {
                padding: 0 5px;
              }
            }
        }

        &:hover{
        }
    }
}

/*style5*/
.style5 {
    .product-block {
       
        .product-label {
            @include rtl-left (10px);
            &.product-label-new, &.new-box{
                top: 10px; 
            }

            &.product-label-special, &.sale-box{ 
                top: 38px;
            }
        } 

        .action-btn {
            > div {
                display: inline-block;
                @include rtl-margin-right(3px);
            }
            a {
               > span {
                     display:  none;
                }
            }
        }
        .wrap-hover {
        }
        .product-image-container{
            position: relative;
        }
        .product-meta {
            padding:  0 20px 20px;
            .name {
                a {
                    font-weight: $style5-product-font-weight;
                    font-size: $style5-product-font-size;
                }
            } 
        }
        .price{
            color: $style5-product-price-color;
            .product-price {
                color: $style5-product-price-color;
                line-height: 30px;
                margin: 0;
                padding: 0;
                font-size: $style5-product-price-size;
                font-weight: $style5-product-price-font-weight;
                &.new-price {
                    color: $style5-product-new-price-color;
                }
            }
            .old-price {
                color: $style5-product-old-price-color;
                font-size: $style5-product-old-price-size;
            }
             .sale-percent-box{      
                color: $product-price-color;
               @include label-variant($product-special-price-bg-color);
               font-size: $product-special-price-size;
              span {
                padding: 0 5px;
              }
            }
        }
    }
}
.zoomPad {
    float: none!important;
    display:  inline-block;
}
