@import "compass";
@import "theme_variables";
#pts_search_block_top {
	@include rtl-float-left();
	margin: 0 10px;
	font-size: $font-size-base - 3;
}
#searchbox {		
		.search_query {
			display: inline;
			@include rtl-padding (8px, 10px, 8px, 10px);
			height: 36px;
			line-height: 36px;
			width: 315px;
			@include rtl-margin-right(-1px);
			border: 1px solid #e1e1e1;

            @media (max-width: 570px) {		
				@include rtl-padding (0, 5px, 0, 5px);
				width: 170px;
            }
            @media (max-width: 370px) {
        	width: 120px;
        }
		}
	select {
		height: 36px;
		line-height: 30px;
		@include rtl-float-left();
		@include rtl-margin-right(-1px);
		@include rtl-border-radius-topleft(3px);
		@include rtl-border-radius-bottomleft(3px);
		border: 1px solid #e1e1e1;
		padding: 8px;
		color: $gray-darker;
        @media (max-width: 570px) {		
			padding: 8px 3px;
        }

        @media (max-width: 415px) {
        	width: 90px;
        	font-size: 10px;
        }

	}
	.btn.button-search {
		@include size(36px, 36px);
		line-height: 36px;
	}
}
.ac_results {
	border: 1px solid #e0e0e0;
	ul li {
		padding:  15px;
		background-color: $white;
		border-top: 1px dashed #e0e0e0;
		&:first-child{
			border-top: none;
		}
		img {
			height: auto;
			width: 60px;
			@include rtl-margin-right(20px);
		}
		div.name{
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.price {
			font-weight:  normal;
			font-size: $font-size-base + 1;

		}
		&.ac_over{
			background-color: #fafafa;
			color: #000;
			.name{
				color: $theme-color;
			}
		}
	}
}
