/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
.pts-newsletter .block_content {
  overflow: hidden;
  width: 100%;
  padding-top: 0; }
