/*admin*/
option:disabled,selected:disabled{color: graytext;}
select#type,select#position{width: 138px;}
select#showpages{width: 138px;}
/*end*/
.viewfrom{font-size:1em;margin-top:2px}
.pheng,.beng {position:fixed;right:30px;z-index:999999;}
.pheng {bottom:0}
.beng {top:0}
#amazing_notice_box{height:35px;width:25px;padding:10px 0;cursor:pointer; color:#FFF;transition: all 0.5s ease 0s; position:fixed; z-index:99999; font-size:16px; right:30px; text-align:center;border-radius: 0px 0px 5px 5px;
-moz-border-radius: 0px 0px 5px 5px;
-webkit-border-radius: 0px 0px 5px 5px;}
#notice_container{display:none}
.barbut {background-color:#333; color:#fff; text-decoration:none;margin: 0 10px;padding: 5px 20px;border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px; font-size:16px; line-height:30px;}
.barbut:hover{color:#eee}
#notice-bar{width:100%;overflow:hidden;text-align:center;border-width:medium medium 3px; z-index:9999;
padding:5px 50px; font-size:16px; line-height:30px;}
