.producttabs{
    .carousel-controls{
        @include element-absolute(20px, inherit, 15px, right);
        .carousel-control{
            color: $white;
             border: 1px solid $white;
            &:hover{
                color: $theme-color;
                border: 1px solid $theme-color;
            }
        }
    }
}