 
/* block */
.#{$block-selector} {
    .#{$block-heading-selector}{
        @include rtl-padding (0, 0, 0, 30px);
        line-height:  20px;
        @include border-top-radius(0); 
        margin:0 0 20px;

        &:before{
          @include rtl-border-left(1px solid $theme-color);
          content: "";
          @include skew(45deg, 0deg);
          @include size(20px, 20px);
          @include element-absolute(3px, inherit, 10px, left);
        }
    }
}

// Contextual variations
.#{$block-prefix}.#{$block-prefix}-success {
    .#{$block-heading-selector} {
    }
}
.#{$block-prefix}.#{$block-prefix}-info {
    .#{$block-heading-selector} {
    }
}
.#{$block-prefix}.#{$block-prefix}-warning {
    .#{$block-heading-selector} {
    }
}
.#{$block-prefix}.#{$block-prefix}-danger {
    .#{$block-heading-selector} {
    }
}
.#{$block-prefix}.#{$block-prefix}-highlighted {  
    .#{$block-heading-selector} {
    }
    .#{$block-content-selector}{
        ul li {
            border-top: 1px solid rgba(255, 255, 255, 0.05);
            &:first-child {
                border: none;
            }
        }
    }
}
.#{$block-prefix}{
    .heading-highlight{
        @include block-heading-variant($heading-highlight-color, $nocolor, $heading-highlight-border);
    }
}

/* block inline style */
.#{$block-prefix}-inline{
    .icon{
        font-size: 35px;
    }
    .explain{
        font-size:  11px;
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;                                                             
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
             
        font-size: $block-module-heading-font-size;
    }  
    .input-group{
        width: 98%
    }   
}

 


.sidebar {
    .#{$block-selector} {
        .#{$block-heading-selector}{
            @include rtl-padding (14px, 0, 14px, 30px);
            min-height: 50px;
            line-height: 20px;
            @include border-top-radius(0); 
            margin:0;
             &:before{
                top: 16px;
             }
        }
    }
}
/* block style in main content */
#content{
    .#{$app-brand-prefix}-custom {
        .#{$block-content-selector} {
            border:none;
            background:none;
            color:$block-module-footer-heading-color;
        }
        .#{$block-content-selector}{
            border:none;
        }
    }     
    .#{$block-content-selector}{
        margin: 0;
    }
}
/* block style in footer */
#footer{
}
