/******************************************************
 * $package Pav Opencart Theme Framework for Opencart 1.5.x
 * $version 1.1
 * $author http://www.ptsothemes.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:ptsothemes$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/
/*
* HEADER 
*/
@media (min-width: $screen-md-max){
  #page {
    width: 1170px;
    margin: auto;
    .container {
      padding-left: 0;
      padding-right: 0;
      width: 1170px;
    }
  }
}
#topbar  {
    .container-inner{
       > div {
        margin: 15px 0;
       }
    } 
    .quick-setting {
       margin-top: 15px;
       background-color:  #fff;
        @include rtl-text-align-left();

    }  
}
#index {
  #header {
    margin-bottom: 20px;
  }
}
/* FOOTER */
#footer{
    .inner{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer-top{ 
    .inner{
        border: 1px solid $footer-top-border;
    }
}

