
@import "theme_variables";
/*module search*/
#search_block_top {
    @include element-absolute(8px, inherit, 10px, right);
}
form#searchbox {
    .navbar-form {      
        input {
            width: 225px;
            @include rtl-border-radius-topright(0);
            @include rtl-border-radius-bottomright(0);
             @media (max-width: 400px) {
                 width: auto;
             }
        }

    }
    .btn.button-search {
        @include rtl-border-radius-topleft(0);
        @include rtl-border-radius-bottomleft(0);
    }
}

/***newsletter***/

.pts-newsletter{
}


/* mini basket */
 @media (max-width: $screen-sm-max) {
     .header-cart {
         text-align: center;
         width: 100%;
     }
     #cart.shopping_cart {
         float: none;
         display:  inline-block;
     }
    .cart_block {
        left: 0;
    }
}
#cart {
    .cart_block {
         padding-top: 15px;
    }
}

/*block-blog*/
.blog_block .blog-image {
    padding: 20px;
    background-color: $white;
    margin-bottom: 10px;
}

.style3  {
    .product-block:hover {
         .product-meta .bottom:before {
            background-color: #e1e1e1;
         }
    }


}
#ptsstaticontent_top {
    @media (max-width: $screen-sm-max) {
        display: none;
    }
    .staticontent-item img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}