//pagebuilder
.pagebuilder {
	.pts-container {
		padding-bottom: 20px;
	}
}

//footerbuilder
.footerbuilder{
	.row-inner {
		padding: 0 20px;
	}
	.pts-footer-top {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #3c4755;
		color: $white;
	}
}