/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/* lnk on detail product page */
#wishlist_button {
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  float: left;
  margin: 0 5px;
  line-height: 30px;
  color: #010101;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-family: "Roboto";
  text-transform: uppercase;
  line-height: 34px;
  min-width: 110px;
  text-align: center;
  /* &:before{
  	content: "\f08a";
  	font: 400 12px/31px $font-icon;
  	width: 10px;
  	text-align: center;
  	display: inline-block;
  	height: 25px;
  	margin: 0 6px 0 0;
  } */ }
  .rtl #wishlist_button {
    float: right; }
  #wishlist_button:hover, #wishlist_button:focus, #wishlist_button:active, #wishlist_button.active {
    color: #fff;
    background-color: #49cae6;
    border-color: #1ba9c7; }
  .open #wishlist_button.dropdown-toggle {
    color: #fff;
    background-color: #49cae6;
    border-color: #1ba9c7; }
  #wishlist_button:active, #wishlist_button.active {
    background-image: none; }
  .open #wishlist_button.dropdown-toggle {
    background-image: none; }
  #wishlist_button.disabled, #wishlist_button.disabled:hover, #wishlist_button.disabled:focus, #wishlist_button.disabled:active, #wishlist_button.disabled.active, #wishlist_button[disabled], #wishlist_button[disabled]:hover, #wishlist_button[disabled]:focus, #wishlist_button[disabled]:active, #wishlist_button[disabled].active, fieldset[disabled] #wishlist_button, fieldset[disabled] #wishlist_button:hover, fieldset[disabled] #wishlist_button:focus, fieldset[disabled] #wishlist_button:active, fieldset[disabled] #wishlist_button.active {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  #wishlist_button .badge {
    color: #FFFFFF;
    background-color: #010101; }

/* wishlist block */
#wishlist_block #wishlist_block_list {
  margin: 0 0 20px 0; }
  #wishlist_block #wishlist_block_list dl {
    font-weight: 400; }
    #wishlist_block #wishlist_block_list dl.products.no-products {
      font-weight: 600;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #e1e1e1; }
      #wishlist_block #wishlist_block_list dl.products.no-products dt {
        padding: 0;
        border-top: none; }
      #wishlist_block #wishlist_block_list dl.products.no-products dd {
        display: none; }
    #wishlist_block #wishlist_block_list dl.products {
      border-bottom: 1px solid #e1e1e1; }
      #wishlist_block #wishlist_block_list dl.products dt {
        padding: 20px 0 0;
        border-top: 1px solid #e1e1e1; }
      #wishlist_block #wishlist_block_list dl.products dd {
        padding: 0 0 20px 0; }
      #wishlist_block #wishlist_block_list dl.products dt.first_item {
        padding: 0;
        border-top: none; }
    #wishlist_block #wishlist_block_list dl dt {
      position: relative;
      padding-right: 0; }
    #wishlist_block #wishlist_block_list dl dd {
      margin: 0 0 0 24px; }
#wishlist_block .lnk .form-group {
  margin: 0 0 20px 0; }
  #wishlist_block .lnk .form-group select {
    max-width: 192px; }
    @media (max-width: 767px) {
      #wishlist_block .lnk .form-group select {
        width: 192px; } }
#wishlist_block .ajax_cart_block_remove_link {
  font-size: 14px;
  line-height: 14px;
  color: #d3d2d2;
  width: 14px;
  height: 14px;
  float: right; }
  #wishlist_block .ajax_cart_block_remove_link:hover {
    color: #49cae6; }
#wishlist_block .cart_block_product_name {
  width: 85%;
  display: inline-block;
  font-weight: bold; }
#wishlist_block .quantity-formated {
  float: left;
  margin: 0 5px 0 0;
  width: 15px; }

#wishlist_block_list .price {
  float: right; }

/* page in my account ************************************************************************* */
#mywishlist td.wishlist_delete a {
  font-size: 15px; }

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
  display: inline-block; }

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px; }
  #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
    display: inline-block;
    color: #555555;
    margin: 10px 10px 10px 0px;
    font-weight: bold; }
    #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a:hover {
      color: #49cae6; }

#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: left; }

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: right; }

#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
  display: none; }

/* wlp_bought ****************************************** */
/* wlp_bought_list */
ul.wlp_bought_list li {
  margin: 0 0 30px 0;
  /*> 992px*/
  /*768px x 991px*/ }
  ul.wlp_bought_list li .product_image {
    padding: 9px;
    border: 1px solid #e1e1e1;
    margin: 0 0 20px 0;
    max-width: 270px; }
  ul.wlp_bought_list li .product-name {
    margin: 0 0 10px 0;
    padding: 0 20px 0 0; }
    ul.wlp_bought_list li .product-name small {
      display: block;
      font-size: 11px; }
      ul.wlp_bought_list li .product-name small a {
        font-size: 11px; }
  ul.wlp_bought_list li .product_infos {
    position: relative; }
  ul.wlp_bought_list li .btn_action .btn {
    margin: 0 0 10px 0; }
  @media (min-width: 992px) {
    ul.wlp_bought_list li.first-in-line {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.wlp_bought_list li.first-item-of-tablet-line {
      clear: left; } }

.wishlistLinkTop .submit {
  margin: 0 0 30px 0; }

ul.wlp_bought_list li .lnkdel {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px; }
