@import "compass";
@import "theme_variables";
/* Top hook CSS */
#ptsstaticontent_top {
	 margin-bottom:  0;
	 .image-banner {
	 	margin-top: 10px;
	 	margin-bottom: 10px;
	 	 @media (max-width: $screen-md-max) { 
	 	 	margin-top:20px;
	 		margin-bottom: 20px;
	 	 }
	 }
}
/* Left hook CSS */
#ptsstaticontent_left{
	.nopadding {
		 padding: 0;
	}
}

/* Right hook CSS */
#ptsstaticontent_left {
	.nopadding {
		 padding: 0;
	}
}
/*bottom hook css*/
#ptsstaticontent_bottom {
	background-color: $white;
	padding: 20px;
}
/* Footer hook CSS */

#ptsstaticontent_footertop {
	.staticontent-item {
		padding: 0;
		.image-banner {
			@include rtl-padding-right (20px);
			@include rtl-border-right (1px solid rgba(255, 255, 255, 0.1));
			@include rtl-margin-right (20px);
		}
		.item-html {
		 text-transform: uppercase;
		 letter-spacing: 1px;
		 @include rtl-float-left();
		 display: inline-flex;
		}
		 p{
		 	margin-bottom: 0;
		 	padding: 10px 0;
		}
	}
}
