/**
 * Web Application Prefix Apply For Making Owner Styles
 */
$app-brand-prefix        : pts !default;
/**
 *   Blocks Layout Selectors 
 */
$block-prefix 			 : block!default;
$block-selector          : block !default;
$block-heading-selector  : title_block !default;
$block-content-selector  : block_content !default;

/**
 * Product Item Selectors
 */
$products-container-selector : products_block !default;
$products-row-selector 		 : products-row !default;
$products-col-selector 		 : product-col !default;

//------- Path Variables
$image-path:                   "images/"!default;
$image-theme-base-path:        "../img/"!default;
$image-theme-path:             "../img/icon/"!default;
$image-base-path:              "../../../img/"!default;

$image-module-path:            "../../../img/icon/"!default;
$module-path:                  "../../../modules/"!default;

$image-theme-path:             "../image/" !default;
$theme-font-path:          	   "../fonts/" !default;
$font-custom-path:             "../font/"!default;

$image-theme-skin-path:        "../img/theme-skin/"!default;
/***********************************************************************/
// some basic colors
$yellow:                  			#f99b17 !default;
$blue:                              #6087D2 !default;  // Skin blue
$green:                 			#29C76A !default;  // Skin Green
$red:                   			#eb5454 !default;  
$pink:                  			#c3325f !default;
$white:			 				    #FFFFFF !default;
$black:							    #000000 !default;
$darkslategrey:                     #283240 !default;
$cyandark:   						#4e4d49 !default;
$orange:                			#df995e !default;
$aqua: 								#75aab8 !default;
$turquoise:                         #4ACFD4 !default; // label new
$nav-border-color-hover:            #e2e2e2 !default;
$wild-sand:                         #ffffff !default;  
$silver:                            #f5f5f5 !default;  


//------- Themes colors 
$red-light:            				#ff9999!default;
$yellow-light:           			#ffdc73!default;
$nocolor:							transparent!default;


 
// some basic font family
// ========================================================================
$font-tamoha: "tahoma"!default;
$font-arial: "Arial"!default;


// Variables paths 
// ========================================================================


$font-family:			 			 "Roboto" !default;
$font-family-secondary :             $font-family !default;
$font-family-tertiary  :             "Lato" !default;
$font-family-senary    : 		 	 "tahoma" !default;
$font-family-septenary : 			 "Kaushan Script" !default; 


$font-icon-family 	   : 			 "FontAwesome" !default;

$font-tab-family       :  			"Roboto" !default;


//////////////////// Variables defined for Themes + Skins ////////////////

$body-bg:                           #ffffff !default;
$theme-color:  				        $brand-info !default;

$text-highlight:                     $theme-color !default;// using variable  for Theme  Skin



$theme-color-default : 			    $brand-info !default;
$theme-color-primary :				#696969 !default;
$theme-color-secondary:             #434a54 !default;
$theme-color-tertiary:              #9c9c9c !default;




$font-body-family	   : "tahoma" !default;
$font-headding-family  : "tahoma" !default;
$font-menu-family      : "tahoma" !default; 
$font-highlighted-family: "tahoma" !default;


$theme-bg-default		  : $gray-lighter!default;
$theme-bg-secondary 	 : $red!default; // using variable  for Theme  Skin 
$theme-bg-threedary  	 : $brand-warning!default; // using skin product list


 
$border-color   : #e1e1e1 !default;
$border-box     :#DDDDDD!default;

$table-bg-color	:  #ebebeb !default;


// Variables
// --------------------------------------------------
$rtl-left : left!default;
$rtl-right : right!default;