
// Box Modules 
// ========================================================================
$block-module-margin-bottom: 			18px !default;
$block-module-padding  :				20px!default;
$block-module-border-color: 			$border-box!default;

$block-module-heading-border: 			0px !default;
$block-module-heading-transform:        uppercase !default;
$block-module-heading-line-height:      normal !default;
$block-module-heading-font-family:    	$font-family !default;
$block-module-heading-bg:				transparent !default;
$block-module-heading-padding: 			12px 0 12px 30px !default;
$block-module-heading-font-size:		$font-size-base + 11 !default;
$block-module-heading-color:			$black !default;

$block-heading-icon-border:             solid 1px $theme-color !default;
$block-heading-icon-bg:                 $nocolor !default;
$block-heading-icon-font-size:          18px!default;
$block-heading-icon-color:              $theme-color !default;

$block-module-content-bg:				$white !default;
$block-module-content-border:			1px solid $border-color !default;
$block-module-content-padding:			10px 20px 20px !default;
$block-module-content-margin:         	1px !default;
$block-module-content-radius:         	0px !default;


$block-module-highlighted-bg			    : $darkslategrey !default;
$block-module-highlighted-heading-bg	    : $theme-color !default;
$block-module-highlighted-heading-font-size : 14px!default;
$block-module-highlighted-heading-font-weight: 600!default;


$block-module-footer-heading-color:  	  #FFFFFF !default; 

$block-product-padding:               0 !default;
$block-heading-letter-spacing:        0px !default;


$heading-highlight-color:           $yellow	!default;			
$heading-highlight-border:          #353535!default;	





/*  
 * LAYOUT VARIABLES 
 */

// Header
// ========================================================================
$header-bg:  						$nocolor !default;
$header-icon-bg:                    $wild-sand !default;
$header-border-color:               1px solid transparent !default;
$header-heading-color:              $theme-color-secondary !default;
$header-text-color:                 $black !default;
$header-link-color: 				$header-text-color !default;
$header-icon-font-size:             $font-size-base + 4 !default;

// Topbar 
// ========================================================================
$topbar-bg: 						$nocolor !default;
$topbar-color: 						#696969 !default;
$topbar-font-size: 					$font-size-base - 2 !default;
$topbar-font-family:				$font-family!default;
$topbar-font-weight:                300 !default;
$topbar-link-color: 				#000 !default;
$topbar-link-hover-color: 			$theme-color !default;
$color-icon-topbar: 				$theme-color-default !default;
$topbar-padding: 					0 !default;
$topbar-height:                     30px !default;
$topbar-border:                     1px solid rgba(0, 0, 0, 0.1)!default;

// Mass header 
$masshead-outside-bg :			$theme-color-primary !default;
$masshead-bg: 			 		$theme-color-primary !default;
$masshead-content-padding:		8px 0 !default;
$masshead-color:				#aab2bd !default;
$masshead-color-hover:			lighten($theme-color-primary,5%)!default;	
// Main menu 


// Promotions

//Main Content

// Footer
// ========================================================================

$footer-bg: 						$nocolor !default;
$footer-color: 						$gray-dark !default;

$footer-heading-font:               14px !default;

$footer-heading-font-family: 		$font-family!default;
$footer-heading-font-size: 			$font-size-base - 1!default;
$footer-heading-font-weight: 		600!default;
$footer-heading-color: 				$white !default;
$footer-heading-padding:            0 !default;

$footer-link-color: 				#909cad !default;
$footer-link-hover-color: 			$theme-color !default;
$footer-font-size:   	 			$font-size-base !default;
     
$footer-content-padding:            15px !default;
$footer-content-margin:             0 !default;
$footer-list-padding:               10px 0 !default;
$footer-margin:                     20px !default;

 /////// footer top
$footer-top-outside-border:		    1px solid #505862 !default;
$footer-top-outside-bg :			$theme-color-primary !default;
$footer-top-bg: 			 		#323d4c !default;
$footer-top-color:					$white !default;
$footer-top-content-padding:		20px 0 !default;
$footer-top-content-margin:		    30px 0!default;
$footer-top-color-hover:			lighten($footer-top-color,5%)!default;	
$footer-top-border:					#3c4755 !default;

/////// footer center 
$footer-center-outside-bg :			#40464f !default;
$footer-center-bg: 			 		#283240 !default;
$footer-center-content-padding:		45px 0!default;
$footer-center-content-margin:		0 !default;
$footer-center-color:				$footer-link-color !default;
$footer-center-color-hover:			$footer-link-hover-color !default;	

/////// footer bottom 
$footer-bottom-outside-bg :			$theme-color-primary !default;
$footer-bottom-bg: 			 		$theme-color-primary !default;
$footer-bottom-content-padding:		90px 0!default;
$footer-bottom-content-margin:		30px 0!default;
$footer-bottom-color:				$white !default;
$footer-bottom-color-hover:			$footer-link-hover-color!default;	

// Powered By / Copyright
// ========================================================================
$power-bg:       					#283240!default;
$power-color:                       #909cad !default;
$power-link-color:                  $theme-color !default;
$power-padding:                     45px 0 !default;
$power-font-family  : 				$font-family-base!default;
$power-border-color:				#505862!default;

 
// Responsive
// ========================================================================
$respon-topbar-icon:                $white !default;
$respon-topbar-icon-font-size:      $font-size-base !default;
$respon-topbar-search-bg:           $white !default;
$respon-topbar-search-icon-color:   $black !default;
