// Mini basket and shopping cart
// ========================================================================
$cart-heading-color : 				$theme-color !default;
$cart-icon-bg:                      $theme-color !default;
$cart-icon-color:                   $theme-color !default;
$cart-icon-font-size:               $font-size-base + 2 !default;
$cart-product-font-size:			$font-size-base - 2 !default;
$cart-align-right:                  0px !default;
$cart-content-width: 				400px !default;

$quick-setting-border:              1px solid $border-color !default;
$quick-setting-border-hover:        1px solid $theme-color !default;

// Mini basket and shopping cart
// ========================================================================

//Minicart
$minicart-module-bg:                $nocolor !default;
$minicart-module-font:              600 11px $font-family!default;
$minicart-module-list-font-family:  $font-family !default;
$minicart-module-list-font-size:    14px!default;

 
// Button
// ========================================================================
 
 
 // Search
// ========================================================================
$search-text-color: 			    #666 !default;
$search-border:                     $white !default;
$search-bg-color:                   $white !default;
$search-icon-color:                 $theme-color !default;
$search-padding:                    0 36px 0 10px !default;
$search-icon-font-size:             14px !default;
$search-font-size:                  $font-size-base !default;
$search-font-style:                 italic !default;
$search-min-width:                  250px !default;
$search-height:                     36px !default;

$search-button-border:              #fff !default;
$search-button-bg:                  #fff !default;
$search-button-color:               $black !default;

// Newsletter
// ========================================================================

$newsletter-font-family:       $font-family!default;
$newsletter-input-bg:          $nocolor!default;
$newsletter-input-border:      rgba(255, 255, 255, 0.1)!default;
$newsletter-input-lineheight:  34px!default;
$newsletter-input-text-color:  #909cad!default;
$newsletter-input-font-size:   $font-size-base!default;

$newsletter-button-bg:         $theme-color!default;
$newsletter-button-border:     transparent!default;
$newsletter-button-text-color: $white!default;
$newsletter-button-font-size:  $font-size-base + 2!default;
$newsletter-button-padding:    0 14px!default;

$style3-newsletter-border-color:          $black!default;
$style3-newsletter-padding:               20px!default;
$style3-newsletter-button-bg:         $theme-color!default;
$style3-newsletter-button-border:     transparent!default;
$style3-newsletter-button-text-color: $white!default;
$style3-newsletter-button-font-size:  $font-size-base + 2!default;
$style3-newsletter-button-padding:    0 14px!default;

// Contact page
// ========================================================================
$contact-bg:                        $nocolor !default;
$contact-padding:                   20px !default;
$contact-border:                    0 !default;
$contact-icon-color:                $white !default;
$contact-icon-bg:                   lighten($gray, 30%) !default;
$contact-icon-font-size:            $font-size-base + 5 !default;
$contact-icon-hover-bg:             $theme-color !default;
$contact-height:                    338px !default;



// Htab module
// ========================================================================
$htab-border-width:					0px 1px 1px 1px !default;
$htab-nav-padding: 					15px 10px !default;
$htab-nav-margin:                   0 !default;
$htab-nav-color: 					#909cad !default;
$htab-bg: 							$black !default;
$htab-bg-selected: 					$nocolor !default;
$htab-nav-selected-color: 			$white !default;
$htab-nav-border-color: 			transparent !default;
$htab-nav-border-width:             1px 1px 0px 1px !default;
$htab-nav-border-style:             solid !default;
$htab-nav-border-color-hover:       $border-color !default;
$htab-nav-border-color-selected:    $border-color $border-color $htab-bg-selected $border-color !default;
$htab-nav-content-padding:          20px !default;
$htab-nav-font-size:                $font-size-base + 1 !default;


// Mega Menu Module
// ========================================================================
$megamenu-outside-bg :	            $nocolor !default;
$megamenu-bg: 						$theme-color !default;
$megamenu-bg-hover:                 $nocolor !default;
$megamenu-border-color:             $nocolor !default;			    
$megamenu-border-bottom-color:      $black !default;
$megamenu-font-family:              $font-family-base !default;
$megamenu-link-color: 				$white !default;
$megamenu-font-weight: 				600 !default;
$megamenu-link-hover-color:         $white !default;
$megamenu-link-bg-hover-color:      #222 !default;
$megamenu-color: 				    $silver !default;
$megamenu-caret:                    $black !default;
$megamenu-height:                   54px!default;

$megamenu-parent-padding: 			18px 0 !default;
$megamenu-parent-margin: 			0px !default;
$megamenu-parent-text-transform:    uppercase!default;

$megamenu-sub-bg-color: 			$white !default;
$megamenu-sub-radius:               0px !default;
$megamenu-sub-family:               $font-family;
$megamenu-sub-text-color:           $theme-color-tertiary !default;
$megamenu-sub-link-color: 			$black !default;
$megamenu-sub-shadow:    			0 0 0 1px rgba(0, 0, 0, 0.15) !default;
$megamenu-sub-padding:              20px !default;
$megamenu-sub-min-width:  			185px !default;
$megamenu-sub-border:               0 !default;
$megamenu-sub-font-size:            $font-size-base !default;
$megamenu-arrow-bg:                 $white!default;
$megamenu-product-name-color:       $theme-color-secondary !default;
$megamenu-text-align:               left !default;
$megamenu-heading-letter:           3px !default;
$megamenu-sub-caret-color:  		$megamenu-sub-text-color !default;
$megamenu-name-hover-color:         $theme-color !default;
$megamenu-sub-link-hover-color:     $theme-color !default;
$megamenu-link-font-size:           $font-size-base - 1  !default;
$megamenu-link-font-family:         $font-family-base !default;
$megamenu-link-hover-border:        $white !default;
$megamenu-heading-title:            $font-family-tertiary !default;
$megamenu-heading-color:            $white !default;
$megamenu-line-border:  			1px solid #646464 !default;
$megamenu-animation-color:          $white!default;

$megamenu-widget-title-color:		$black !default;

// Vertical Menu Module
// ========================================================================
$vertical-menu-font-family:         $font-family !default;
$vertical-menu-content-bg:          $white !default;
$vertical-menu-content-height:      320px !default;
$vertical-menu-content-padding:     0 !default;
$vertical-menu-content-margin:      0 !default;
$vertical-menu-content-border:      1px solid #e7e7e7 !default;
$vertical-menu-font-size:           13px !default;
$vertical-menu-color:               #000 !default;
$vertical-menu-font-weight:         bold !default;
$vertical-menu-link-padding: 		16px 10px 15px 20px !default;
$vertical-menu-link-hover-color:    $white !default;
$vertical-border-color:             595959 !default;
$vertical-description-font-size:    11px !default;          
$vertical-description-font-style:   italic !default;
$vertical-description-color: 	    red !default;
$vertical-description-font-weight:  300 !default;
$vertical-caret-border:             red !default;
$vertical-sub-menu-padding:         20px 28px !default;
$vertical-sub-menu-width:           215px !default;
$vertical-sub-menu-link-color:      $black !default;
$vertical-sub-menu-link-font-size:  $font-size-base  !default;
$vertical-sub-menu-link-font:       $font-family-base !default;
$vertical-sub-menu-heading-color:   $black !default;
$vertical-sub-menu-bg:              $white !default;
$vertical-sub-product-link:         $black !default;
$vertical-menu-link-hover:          $theme-color !default;
$vertical-sub-shadow:  				0px 0px 5px 0px rgba(0, 0, 0, 0.35) !default;
$vertical-font-size:                $font-size-base !default;
$vertical-line-height:              normal !default;
