 
// Button
// ========================================================================

$button-addtocart-bg:               $white!default;
$button-addtocart-color:            #010101 !default;
$button-addtocart-hover-color:      $white !default;
$button-addtocart-bg-hover:         $theme-color !default;
$button-addtocart-border:           rgba(0, 0, 0, 0.1) !default;
$button-addtocart-font-size:        $font-size-base -1 !default;
$button-addtocart-padding:          7px 8px !default;
$button-addtocart-icon-bg:          $theme-color-primary !default;
$button-addtocart-icon-color:       $white !default;
$button-addtocart-icon-bg-hover:    $white !default;
$button-addtocart-icon-border:      0 !default;
$button-addtocart-height:           33px !default;
$button-addtocart-icon-size:        14px !default;
$button-addtocart-font-family:      $font-family-base !default;
$button-bg-color: 					#f5f5f5 !default;
 
 

// product label
$product-label-border-color:          $black!default;
$product-label-color :                $black!default;
$product-label-font-size  :           $font-size-base - 3!default;
$product-label-font-family:           $font-family!default;
$product-label-font-weight:           600!default;

$product-label-new-bg:                $white !default;
$product-label-new-border-color:      $black !default;

$product-label-sale-bg:               $white!default;
$product-label-sale-border-color:     $red !default;
$product-label-sale-text-color:       $red !default;


// prodduct availability 
$product-warning-display:             0!default;	
$product-warning-avariable-now-bg:    #74B841 !default;
$product-warning-avariable-now-color: #74B841 !default;

$product-warning-outofstock-bg:       red !default;
$product-warning-outofstock-color:    red !default;


//---------- Product Elements

$price-color:						$theme-color !default;
$product-price-bg-color:			$black!default;
$product-price-color:				$white!default;
$product-price-size:                $font-size-base + 1!default;
$product-price-font-weight:         600!default;
$product-reduced-price:				$theme-color-secondary!default;

$product-new-price-bg-color:	    $red!default;
$product-new-price-color:		    $white!default;
$product-special-price-bg-color:	$red!default;
$product-special-price-color:		$white!default;
$product-special-price-size:		$font-size-base - 1 !default;
$product-old-price-color:			$black!default;
$product-old-price-size:			$font-size-base - 1 !default;
$product-old-price-font-weight:	    300 !default;


//Prduct Elements of Style2
$style2-product-price-size:                 18px!default;
$style2-product-price-color:				$theme-color!default;
$style2-product-new-price-color:		    $red!default;
$style2-product-old-price-color:			#999999!default;
$style2-product-old-price-size:			    $font-size-base + 1 !default;
$style2-product-price-font-weight:          600!default;


//Prduct Elements of Style3
$style3-product-price-size:                 14px!default;
$style3-product-price-color:				$black!default;
$style3-product-new-price-color:		    $white!default;
$style3-product-old-price-color:			$white!default;
$style3-product-old-price-size:			    $font-size-base - 1 !default;
$style3-product-price-specific-bg:          $red;
$style3-product-price-font-weight:          600!default;


//Prduct Elements of Style4

$style4-product-font-weight:                600!default;
$style4-product-price-font-weight:          600!default;
$style4-product-price-size:                 18px!default;
$style4-product-price-color:				$theme-color!default;
$style4-product-new-price-color:		    $red!default;
$style4-product-old-price-color:			#999999!default;
$style4-product-old-price-size:			    $font-size-base + 1 !default;



//Prduct Elements of Style5

$style5-product-font-size:                  14px!default;
$style5-product-font-weight:                400!default;
$style5-product-price-font-weight:          700!default;
$style5-product-price-size:                 14px!default;
$style5-product-price-color:				$black!default;
$style5-product-new-price-color:		    $red!default;
$style5-product-old-price-color:			#999999!default;
$style5-product-old-price-size:			    $font-size-base - 1!default;



// Product alert stock 

$product-stock-font-size :  11px!default; 
$product-instock-color   : 	$white !default;
$product-instock-bg  	 : 	#74B841 !default; 

$product-outofstock-color:  $white !default; 
$product-outofstock-bg      : $red !default; 


// Product Block
// ========================================================================
$product-size:                      $font-size-base!default;
$product-bg-color:                  $white !default;
$product-margin:                    35px;
$product-border-color : 			1px solid #eee !default;
$product-content-bg: 				$white !default;
$product-content-padding:			30px !default;
$product-container-border:			1px solid #eee !default;
$product-container-bg:              $white !default;


$product-link-color: 				$link-color !default;
$product-name-color: 				$black !default;
$product-name-hover-color:          $theme-color !default;
$product-name-line-height:          20px !default;
$product-name-font-family:          $font-family-base !default;
$product-name-font-size: 			$font-size-base + 2!default;
$product-name-font-weight: 			300!default;
$product-padding:                   0 0 $padding-small-horizontal * 2 0 !default;

$product-button-bg: 				$theme-color-tertiary !default;
$product-button-hover-color:		$white !default;


$product-filter-bg:                 $white !default;
$product-filter-font-size:          $font-size-base!default;
$product-filter-color:              $theme-color-secondary !default;
$product-filter-padding: 			7px !default;
$product-filter-margin:             20px !default;
$product-filter-border-color :		$border-box !default;


$product-deals-link-color:          $black !default;
$product-deals-link-hover-color:    $theme-color !default;
$product-image-border:              0px !default;
$product-image-radius:              0px !default;

$product-price-old-color: 			$black !default;
$product-price-new-color:           $product-price-color !default;
$product-price-font-family:         $font-family-senary !default;
$product-price-font-size:           $font-size-base !default;


$product-icon-font-size:             $font-size-base !default;
$product-icon-border:               1px solid #28313c !default;

$product-icon-color:                $white !default;
$product-icon-bg:                   $theme-color-secondary !default;
$product-icon-hover-color:          $theme-color !default;

$product-zoom-bg:                   $theme-color-secondary !default;
$product-zoom-color:                $white !default;
$product-list-padding:              20px 18px !default;

$product-item-border:               1px solid $border-color !default;

$product-gallery-border-color : 	darken( $border-color, 20%);

$product-rating-font-size:          12px !default;


// Product Info
// ========================================================================
$product-info-padding:              25px!default;
$product-info-margin:               10px !default;
$product-info-border:               1px solid $border-box !default;
$product-info-bg:                   $white !default;

$product-info-marging-cart:         0 30px !default;

$product-info-color:               $text-color !default;
$product-info-price-color:         $text-color !default;

$product-info-name-font-size: 		$font-size-h1 !default;
$product-info-price-font-size: 		30px !default;
$product-info-font-size:            $font-size-base !default;
$product-info-description-font-size:$font-size-base - 1  !default;
$product-info-extra-font-size:      $font-size-base + 2  !default;



