/*primary*/
$primary-bg-color:                       lighten($brand-primary, 55%)!default;
$primary-border-color:                   $brand-primary!default;
$primary-text-color:                     $black!default;
$primary-text-link-color:                $black!default;
$primary-text-link-color-hover:          $brand-primary!default;
$primary-heading-text-color:             $white!default;
$primary-heading-bg-color:               $brand-primary!default;
$primary-heading-border-color:           $panel-primary-border!default;

/*success*/
$success-bg-color:                       lighten($brand-success, 45%)!default;
$success-border-color:                   $brand-success!default;
$success-text-color:                     $black!default;
$success-text-link-color:                $black!default;
$success-text-link-color-hover:          $brand-success!default;
$success-heading-text-color:             $white!default;
$success-heading-bg-color:               $brand-success!default;
$success-heading-border-color:           $panel-success-border!default;

/*info*/
$info-bg-color:                       lighten($brand-info, 35%)!default;
$info-border-color:                   $brand-info!default;
$info-text-color:                     $black!default;
$info-text-link-color:                $black!default;
$info-text-link-color-hover:          $brand-info!default;
$info-heading-text-color:             $white!default;
$info-heading-bg-color:               $brand-info!default;
$info-heading-border-color:           $panel-info-border!default;

/*warning*/
$warning-bg-color:                          lighten($brand-warning, 30%)!default;
$warning-border-color:                      $brand-warning!default;
$warning-text-color:                        $black!default;
$warning-text-link-color:                   $black!default;
$warning-text-link-color-hover:             $brand-warning!default;
$warning-heading-text-color:                $white!default;
$warning-heading-bg-color:                  $brand-warning!default;
$warning-heading-border-color:              $panel-warning-border!default;

/*danger*/
$danger-bg-color:                        lighten($brand-danger, 35%)!default;
$danger-border-color:                    $brand-danger!default;
$danger-text-color:                      $black!default;
$danger-text-link-color:                 $black!default;
$danger-text-link-color-hover:           $brand-danger!default;
$danger-heading-text-color:              $white!default;
$danger-heading-bg-color:                $brand-danger!default;
$danger-heading-border-color:            $panel-danger-border!default;

/*highlighted*/
$highlighted-bg-color:                   $block-module-highlighted-bg!default;
$highlighted-border-color:               $block-module-highlighted-bg!default;
$highlighted-text-color:                 #909cad!default;
$highlighted-text-link-color:            #909cad!default;
$highlighted-text-link-color-hover:      $theme-color!default;
$highlighted-heading-text-color:         $white!default;
$highlighted-heading-bg-color:           $block-module-highlighted-heading-bg!default;
$highlighted-heading-border-color:       $block-module-highlighted-heading-bg!default;


/**/