@import "compass";
@import "theme_variables";
/**
 * Suffix classes for make owner style for row and column. this will load automatic in setting form.
 * format: .pts-col.YOUR_SUFFIX_CLASS , .pts-row.YOUR_SUFFIX_CLASS;
 */

 /* widget load prestashop module **/
/* column style */

.pts-col.default{
 clear: both;
}

.pts-col.primary{
 clear: both;
}

.pts-col.success{
 clear: both;
}

.pts-col.info{
 clear: both;
}

.pts-col.warning{
 clear: both;
}

.pts-col.danger{
  padding: 0;

}
/* row style */

.pts-row.default{
 clear: both;
}

.pts-row.primary{
 clear: both;
}

.pts-row.success{
 clear: both;
}

.pts-row.info{
 clear: both;
}

.pts-row.warning{
 clear: both;
}

.pts-row.danger{
 clear: both;
}
.widget.highlighted{
 clear: both;

}
.widget.nopadding{
 clear: both;
}

.widget.nomargin{
 clear: both;
}
/* widget*/
.widget.default{
 clear: both;
}
.widget.primary{
 clear: both;
}
.widget.danger{
 clear: both;
}
.widget.info{
 clear: both;

}
.widget.warning{
 clear: both;

}
.widget.highlighted{
 clear: both;

}
.widget.nopadding{
 clear: both;
}

.widget.nomargin{
 clear: both;
}


/**
 * Widget Styles
 */
 /* Separator style */
.widget-separator .w_text_separator {
  float: left;
  height: 2px;
  position: relative;
  width: 100%;
  background-color: #797C85;
}
.widget-separator .w_text_separator .text_separ {
	position: absolute;
	padding: 0 1px;
	width: 50px;
	top: -9px;
	margin: 0 auto;
	text-align: center;
	background-color: #ffffff;
	font-size: 15px;
	font-family: monospace;
}
.widget-separator .separator_align_center {
  left: 0;
  right: 0;
}
.widget-separator .separator_align_left {
  left: 0;
}
.widget-separator .separator_align_right {
  right: 0;
}