/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/

.socialsharing_product button[type="button"]{
	width: 40px;
	height: 40px;
	background-color: blue;
	border-radius: 20px;
  position: relative;
  bottom: 50px;
  right: 230px;
  margin-right: 13px;
  font-size: 1.4em;
  padding: 0px 10px;
}
@media screen and (max-width: 479px){
  .socialsharing_product button[type="button"]{
    top: 20px;
    bottom: 0;
    right: 0;
  }
}
@media screen and (max-width: 991px){
    .socialsharing_product button[type="button"]{
    bottom: 0;
    right: 0;
  }
}

.socialsharing_product .btn-twitter{
	background: #5ea9dd; /* Old browsers */
	background: -moz-linear-gradient(left, #5ea9dd 0%, #5ea9dd 49%, #3c599c 49%, #83b8db 49%, #83b8db 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5ea9dd), color-stop(49%,#5ea9dd), color-stop(49%,#3c599c), color-stop(49%,#83b8db), color-stop(100%,#83b8db)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #5ea9dd 0%,#5ea9dd 49%,#3c599c 49%,#83b8db 49%,#83b8db 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #5ea9dd 0%,#5ea9dd 49%,#3c599c 49%,#83b8db 49%,#83b8db 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #5ea9dd 0%,#5ea9dd 49%,#3c599c 49%,#83b8db 49%,#83b8db 100%); /* IE10+ */
	background: linear-gradient(to right, #5ea9dd 0%,#5ea9dd 49%,#3c599c 49%,#83b8db 49%,#83b8db 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ea9dd', endColorstr='#83b8db',GradientType=1 ); /* IE6-9 */ 
}
.socialsharing_product .btn-facebook{
  background: #3c599c; /* Old browsers */
  background: -moz-linear-gradient(left, #3c599c 0%, #3c599c 49%, #3c599c 49%, #47629b 49%, #47629b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3c599c), color-stop(49%,#3c599c), color-stop(49%,#3c599c), color-stop(49%,#47629b), color-stop(100%,#47629b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #3c599c 0%,#3c599c 49%,#3c599c 49%,#47629b 49%,#47629b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #3c599c 0%,#3c599c 49%,#3c599c 49%,#47629b 49%,#47629b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #3c599c 0%,#3c599c 49%,#3c599c 49%,#47629b 49%,#47629b 100%); /* IE10+ */
  background: linear-gradient(to right, #3c599c 0%,#3c599c 49%,#3c599c 49%,#47629b 49%,#47629b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c599c', endColorstr='#47629b',GradientType=1 ); /* IE6-9 */ 
}

.socialsharing_product .btn-instagram{
  background: #9c6d59; /* Old browsers */
  background: -moz-linear-gradient(left, #9c6d59 0%, #9c6d59 49%, #9b7668 49%, #9b7668 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9c6d59), color-stop(49%,#9c6d59), color-stop(49%,#9b7668), color-stop(100%,#9b7668)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #9c6d59 0%,#9c6d59 49%,#9b7668 49%,#9b7668 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #9c6d59 0%,#9c6d59 49%,#9b7668 49%,#9b7668 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #9c6d59 0%,#9c6d59 49%,#9b7668 49%,#9b7668 100%); /* IE10+ */
  background: linear-gradient(to right, #9c6d59 0%,#9c6d59 49%,#9b7668 49%,#9b7668 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c6d59', endColorstr='#9b7668',GradientType=1 ); /* IE6-9 */ 
}

.socialsharing_product .btn-pinterest{
background: #c61e24; /* Old browsers */
background: -moz-linear-gradient(left, #c61e24 0%, #c61e24 51%, #c4464a 51%, #c4464a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c61e24), color-stop(51%,#c61e24), color-stop(51%,#c4464a), color-stop(100%,#c4464a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #c61e24 0%,#c61e24 51%,#c4464a 51%,#c4464a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #c61e24 0%,#c61e24 51%,#c4464a 51%,#c4464a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #c61e24 0%,#c61e24 51%,#c4464a 51%,#c4464a 100%); /* IE10+ */
background: linear-gradient(to right, #c61e24 0%,#c61e24 51%,#c4464a 51%,#c4464a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c61e24', endColorstr='#c4464a',GradientType=1 ); /* IE6-9 */ }