@import "compass";
@import "theme_variables";
.colorpicker{
	z-index: 9999999!important;
}

.paneltool input, .paneltool select, .paneltool label{
	font-size: 11px;
 	padding: 3px 4px;
}
.paneltool input,
.paneltool select {
	width: 110px;
}
.paneltool .clear-bg span {
	font-size: 15px;
	@include rtl-margin-left(5px);
}
.buttons-group{
	padding: 6px 0
}
.pts-paneltool{
	position: fixed;
	top: 0px;
	transition:all 0.6s;

	border-right:solid 2px #CCC;
	-webkit-box-shadow: 1px -1px 3px #888888;
	box-shadow: 1px -1px 3px #888888;
	z-index: 9999;
	width: 350px;
	height: 100%;
	background: #FFF;
	left: -351px;
	font-size: 11px;

}
.pts-paneltool > .paneltool{
	position: relative;
	clear: both;
	height: 100%;
	overflow-y:auto;
	overflow-x:hidden;
}

.pts-paneltool .pts-panelbutton{
	border:solid 1px #CCC;
	 background: #FFF;
    padding: 16px 20px;
    position: absolute;
    right:-42px;
    top: 30px;
    border-left: none;
    cursor: hand; cursor: pointer;
     -webkit-box-shadow: 2px -1px 2px #888888;
      box-shadow: 2px -1px 2px #888888;

}

.themechanger .pts-panelbutton{
	top: 100px;
}
 .paneltool input{
 	border: solid 1px #CCC;
 }

 .paneltool label{
 	width: 110px;
 	font-size: 11px;
 }

.pts-paneltool.active{
	left: 0;
	z-index: 999999
}

.paneltool.active .panelbutton{
	color: red
}
.paneltool.themetool{

}
.paneltool .panelcontent{
	background: #FFF;

}



 .paneltool .panel-group .panel-heading{
 	padding: 4px 5px;
 }
 .paneltool .panel-title{
 	font-size: 11px;
 	padding: 2px 12px;
 	font-weight: bold;
 }

 .pts-customize{
 	height: 100%;
 	padding: 15px;
 }


 .pts-customize .bi-wrapper > div{
	float: left;
	width: 25px;
	height: 25px;
	margin: 5px 6px;
	border: solid 1px #999;
	cursor:hand; cursor:pointer;
}
 .pts-customize .bi-wrapper > div.active{
	border-color:red;
}

/***/

#customize-form .nav-tabs{
	 	padding-top: 12px;
}
#customize-form .nav-tabs li{
	margin: 0;
	padding: 0!important
}

#customize-form .nav-tabs > li > a{
	padding:5px 6px;
	font-size: 11px;
}
#custom-accordionelements .panel,
#custom-accordionselectors .panel{
	margin-bottom: 5px;
}
/***/

#panethemesettingfrm .pts-paneltitle {
	font-size: 16px;
	margin-bottom: 10px;
}

//theme skin
.themecollection > div{
	 max-height: 150px;
    overflow: hidden;
	border: solid 1px #CCC;
	float: left;
	@include rtl-margin-right(15px);
	margin-bottom: 10px;
	&:nth-child(even) {
	@include rtl-margin-right(0);
	}
	&.active{
		border-color: $theme-color;
	}
}

.themecollection{
	.theme-preview {
	    background-position: center 0;
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    display: block;
	    height: 150px;
	    width: 140px;
	     @include transition(all 5s ease-out 0s);
	     &:hover {
	        background-position: center 100%;
	        @include transition(all 5s ease-out 0s);
	    }
	}
  .theme-sport{
  	.theme-preview{
	    background-image: url('../../../../../img/theme-skin/theme-sport.jpg');
	}
  }
  .theme-fashion{
  	.theme-preview{
	    background-image: url('../../../../../img/theme-skin/theme-fashion.jpg');
	}
  }
  .theme-cd{
  	.theme-preview{
	    background-image: url('../../../../../img/theme-skin/theme-cd.jpg');
	}
  }
  .theme-gifts{
  	.theme-preview{
	    background-image: url('../../../../../img/theme-skin/theme-gifts.jpg');
	}
  }

  .theme-default{
  	.theme-preview{
	    background-image: url('../../../../../img/theme-skin/theme-default.jpg');
	}
  }
}