/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
#blockleoblogstabs .blog-viewmore {
  margin: 10px 0;
  overflow: hidden; }
  #blockleoblogstabs .blog-viewmore a {
    font-style: italic; }
    #blockleoblogstabs .blog-viewmore a:after {
      width: 20px;
      display: inline-block;
      float: right;
      content: "\f178";
      font: 12px/20px "FontAwesome";
      margin-left: 7px; }
#blockleoblogstabs .blog_container {
  position: relative;
  margin-bottom: 20px; }
  #blockleoblogstabs .blog_container .blog-image {
    position: relative; }
    #blockleoblogstabs .blog_container .blog-image img {
      border-color: #434a54; }
    #blockleoblogstabs .blog_container .blog-image > a:after {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #eb5454;
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .rtl #blockleoblogstabs .blog_container .blog-image > a:after {
        right: 0;
        left: auto; }
  #blockleoblogstabs .blog_container .blog-title {
    margin-top: 0;
    text-transform: none;
    max-height: 48px;
    overflow: hidden;
    font-size: 15px; }
    #blockleoblogstabs .blog_container .blog-title a {
      line-height: 24px;
      font-weight: 300; }
  #blockleoblogstabs .blog_container .blog-meta {
    font-size: 12px;
    color: #999;
    font-style: italic;
    margin-bottom: 10px; }
    #blockleoblogstabs .blog_container .blog-meta > span {
      margin-right: 8px; }
      .rtl #blockleoblogstabs .blog_container .blog-meta > span {
        margin-left: 8px;
        margin-right: inherit; }
  #blockleoblogstabs .blog_container .blog-shortinfo {
    margin-bottom: 10px; }
  #blockleoblogstabs .blog_container .created {
    text-transform: uppercase;
    font-size: 11px;
    color: #999;
    margin-bottom: 15px;
    padding-top: 10px; }
  #blockleoblogstabs .blog_container .readmore {
    padding-top: 10px; }
    #blockleoblogstabs .blog_container .readmore a {
      color: #49cae6;
      padding-right: 15px;
      position: relative; }
      .rtl #blockleoblogstabs .blog_container .readmore a {
        padding-left: 15px;
        padding-right: inherit; }
      #blockleoblogstabs .blog_container .readmore a:before {
        content: "\f178";
        font-family: FontAwesome;
        font-size: 12px;
        right: 0;
        position: absolute;
        top: 3px; }
        .rtl #blockleoblogstabs .blog_container .readmore a:before {
          left: 0;
          right: auto; }
      #blockleoblogstabs .blog_container .readmore a:hover {
        text-decoration: underline; }
