@import "compass";
@import '../../_theme_variables';

#blockleoblogstabs {
	.blog-viewmore {
		margin: 10px 0;
		overflow: hidden;
		a {
			font-style: italic;
			&:after {
				width: 20px;
				display: inline-block;
				float: right;
				content: "\f178";
				font: 12px/20px $font-icon;
				margin-left: 7px;
			}
		}
		}
	.blog_container {	
		position: relative;
		margin-bottom: 20px;
		.blog-image {
			position: relative;
			img {
				border-color: $theme-color-secondary;
			}
			> a:after {
					width: 100%;
					height: 100%;
					content: "";
					position: absolute;
					top: 0;
					@include rtl-left(0);
					background: $theme-bg-secondary;
					@include opacity(0);
					@include transition(all .3s ease 0s);
			}
		}
		.blog-title {
			margin-top: 0;
			text-transform: none;
			max-height: 48px;
			overflow: hidden;
			font-size:  15px;
			a {
				line-height: 24px;
				font-weight:300;
				&:hover {
				} 
			}
		}
		.blog-meta {
			font-size: $font-size-base - 1;
			color: #999;
			font-style: italic;
			margin-bottom: 10px;
			> span {
				@include rtl-margin-right(8px);
			}
		}
		.blog-shortinfo {
			margin-bottom: 10px;
		}
		
		.created{
			text-transform: uppercase;
			font-size: $font-size-base - 2;
			color: #999;
			margin-bottom: 15px;
			padding-top: 10px;  
		}

		.readmore {	
			padding-top: 10px; 
			a {
				 color: $theme-color;
				 @include rtl-padding-right(15px);
				 position: relative;
				 &:before {
				 	content: "\f178";
				    font-family: FontAwesome;
				    font-size: 12px;
				    @include rtl-right(0);
				    position: absolute;
				    top: 3px;
				 }
				 &:hover {
				 	text-decoration: underline;
				 }
			}
		}

	}

	
}