/**
 * BASE CSS STYLES
 */

body {
  background: url("#{$image-theme-base-path}gifts/bg_body.jpg") repeat top center $body-bg;
}
/*** PAGE HEADING **/
.page-heading {
    font: 600 18px / 30px $font-custom;
    padding: 10px 0;
    span.heading-counter {
      font: normal 12px / 22px $font-custom;
    }
}


.carousel-controls{  
    @include element-absolute(22px, inherit, 0, right);
}

ul.nav-theme {
    background-color: rgba(0 ,0 , 0, 0.1);
    @include border-top-radius(25px);
    @include border-bottom-radius(25px);
    display: inline-block;
    padding: 5px;
    li {
        &.active a {
            color: $black;
            background-color: $white;
            @include border-top-radius(25px);
            @include border-bottom-radius(25px);
        }
        a{
            padding: 5px 20px;
            font-weight: 600;
            color: $white;
            &:hover {
                color: $black;
            }
        }
    }
}
.tab-nav{
    position: relative;
    text-align: center;
}
#product_tab_content .tab-content {
     margin-top: 15px;
}

