 /* block */
.#{$block-selector} {
    .#{$block-heading-selector}{  
        font-size: $block-module-heading-font-size - 4; 
        padding: 20px 0; 
        background-color:$block-module-heading-bg;
        font-weight: $block-module-heading-font-weight;
        line-height:  20px;
        text-align: center;
        @include border-top-radius(4px); 
        margin: 20px 0 10px;
        > span {
            color: $black;

        }
    }
    .#{$block-content-selector} {
        background-color: $block-module-content-bg;
        @include border-bottom-radius(4px);
       
    }
    /* block styles */
    &.nopadding,
    &.block-nopadding{
        .#{$block-content-selector}{
            padding: 0;
         
            ul li {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    

}


// Contextual variations

.#{$block-prefix}-highlighted {
.#{$block-heading-selector}{
        background-color: $block-module-highlighted-heading-bg!important;
        @include border-top-radius(4px);
         > span {
            color: $theme-color;
         }
    }
    .#{$block-content-selector}{
        background-color: $block-module-highlighted-bg!important;
        @include border-bottom-radius(4px);
         border-width: 0;
        ul li {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            &:first-child {
                border: none;
            }
        }
    } 
}


/* block inline style */
.#{$block-prefix}-inline{
    .icon{
        font-size: 35px;
    }
    .explain{
        font-size:  11px;
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;                                                             
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
             
        font-size: $block-module-heading-font-size;
    }  
    .input-group{
        width: 98%
    }   
}

 


.sidebar {
    .#{$block-prefix} {
        background-color: $white;
        @include border-top-radius(4px); 
        @include border-bottom-radius(4px); 
        .#{$block-heading-selector}{
            @include border-top-radius(4px);  
            @include rtl-text-align-left();
            margin-bottom: 0;         
            font-size: $block-module-heading-font-size ;                                                    
            padding: $block-module-heading-padding; 
 
            > span {
                background-color: $nocolor;
                @include border-top-radius(0); 
                @include border-bottom-radius(0); 
                padding: 0;
                color: $block-module-heading-color;
            }
        }
        .#{$block-content-selector} {
            padding: 5px 20px 20px;
             ul li {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                &:first-child {
                    border: none;
                }
            }          
        }
            
    }

    .#{$block-prefix}-highlighted {
        .#{$block-heading-selector}{
            > span {  
                color: $theme-color;            
                @include border-top-radius(0); 
                @include border-bottom-radius(0); 
            }
        }
    }
    
    .#{$block-prefix}.#{$block-prefix}-primary,
    .#{$block-prefix}.#{$block-prefix}-success,
    .#{$block-prefix}.#{$block-prefix}-info,
    .#{$block-prefix}.#{$block-prefix}-warning,
    .#{$block-prefix}.#{$block-prefix}-danger,
    .#{$block-prefix}.#{$block-prefix}-highlighted{ 
        .#{$block-content-selector} {
            padding: 0 20px 20px;
        }
    }

}
/* block style in footer */
#footer{
    .#{$block-prefix} {
        .#{$block-heading-selector}{
            margin: 0;
            @include rtl-text-align-left();
            > span {
                background-color: transparent;
                @include rtl-padding-left(0);
                color: $white;
            }
        }
    }
}
