.btn {
    @include border-top-radius(25px);
    @include border-bottom-radius(25px);
}
.btn-highlighted{
   @include button-variant-outline($white, rgba(0 ,0, 0, 0.1), $nocolor, $white, $theme-color, $theme-color);
   border-width: 1px;
   font-weight: 300;
   text-transform: none;
} 

.btn-outline{
  @include button-variant-outline( $button-addtocart-color, $button-addtocart-bg , $button-addtocart-border , $white, $button-addtocart-bg-hover, $button-addtocart-bg-hover );
    border-width: 1px;
   display: inline-block;
    font-weight: 800;
    @include size(auto, 32px);
    @include button-size (0px, 15px, $button-addtocart-font-size, 30px, 25px);
}

.button.exclusive,
.btn-sm,
.button-exclusive,
.button-small,
.btn-outline-default{
   @include button-size (0px, 15px, 11px, 30px, 25px);
}
.btn-outline-inverse{
  @include button-variant-outline($white, $yellow-light , $yellow-light , #fff, $theme-color, $theme-color);
  @include border-top-radius(25px);
  @include border-bottom-radius(25px);
  @include box-shadow (0 3px 0 0 #dea945);
  line-height: 32px;
}
.compare-form .btn-outline.bt_compare{
  @include box-shadow (0 3px 0 0 #dea945); 
}
.style2 .btn-outline {
  &:hover{
    color: $white;
  }
}
