/******************************************************
 * $package Pav Opencart Theme Framework for Opencart 1.5.x
 * $version 1.1
 * $author http://www.ptsothemes.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:ptsothemes$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/

#page {
   max-width: 1330px;
   margin: 0 auto;
   background-color: #f8f8f8;
}

/*
* HEADER 
*/

#topbar  {
   
    .container-inner{
       > div {
        padding: 5px 0;
        margin: 0;
       }
       .btn-group {
            padding: 12px 10px;
       }
    }

    .quick-setting {
       margin-top: 0px;
        @include rtl-text-align-left();
    }  
    #header_user_info {
      padding: 12px 0;
      @include rtl-margin-right( 10px);
    }       
}

#index {
  #header-main{
      margin-bottom: 35px;
  }
}
#header-main {
  @media (max-width: $screen-md-max) {
    position: relative;
    &:before{
      position: absolute;
      top: 63px;
      content: "";
      @include size(100%, 1px);
      background-color: #ededed;
      z-index: 1;
    }
  }
}
#logo-theme{  
    margin: 13px 0;   
    background: $nocolor;
}

#header_logo {
  @media (min-width: $screen-md-max) {
    @include rtl-float-left();
  }

  @media (max-width: $screen-md-max) {
    text-align: center;
  }
  .logo-theme {
    a {
      background: url('#{$image-theme-base-path}/gifts/logo.png') no-repeat top center;
    }
  }
}
.header-right {
  > * {
    @include rtl-float-right();
  }
}
/*
* SLIDESHOW 
*/
##{$app-brand-prefix}-slideshow {
    padding-bottom: 18px;
    
}

/*top column*/

/*breadcrumb*/
#breadcrumb{
    position: relative;
    .breadcrumb {
        line-height: 28px;
        padding: 10px 0;
    }
}


/* FOOTER */
.footer-top{   
}  
.footer-bottom{
   background-image: url('#{$image-theme-base-path}bg-footerbottom.jpg');   

}      
