#pts-mainnav {
	 @media (max-width: $screen-md-max) {
	 	 @include rtl-float-left();
	 }
	 @media (max-width: $screen-sm-max) {
	 	float: none;
	 }
}
@media (max-width: $screen-sm-max) {
	.pts-megamenu{ 
		.navbar-header .navbar-toggle{
			margin: 12px;
			}
		#pts-top-menu {
			 background-color: $theme-color;
			 .navbar-nav > li > a {
			 	 color: #fff;
			 	 &:hover, &:focus{
			 	 	color: #fff;
			 	 }
			 }
		}
	}
}
.#{$app-brand-prefix}-megamenu {
    @include rtl-border-left (1px solid $megamenu-border-color);
	/* menu level 1 */
	.navbar-nav{
		> li {
			margin: 0;
   			padding: 0 15px;
			@include rtl-border-right (1px solid $megamenu-border-color);
		} 		
	}
}
