/* mini basket */
.header-cart {
    @include rtl-padding-left(15px);
    @media (max-width: $screen-md-max) {
        position: relative;
        z-index: 99;
     }
}
#cart {
    .heading  {       
        a { 
            padding: 23px 0 ;
        }
    }
    .title-cart {
        position: relative;
    }
}
/*Blocksearch*/
#search_block_top {
    @include rtl-margin(0, 0, 0, 0);
    border-right: 1px solid $search-border;
     @media (max-width: $screen-md-max) {
        border-left: 1px solid $search-border;

     }
    .search-focus {
        padding: 22px;
        @include size(70px,$search-height);
        text-align: center;
        cursor: pointer;
         @media (max-width: $screen-md-max) {
            position: relative;
            z-index: 10;
        }
    }
}
    .pts-search {
        background-color: white;
        @include box-shadow(0 1px 2px #ccc);
        height: 0;
        left: 9px;
        @include opacity(0);
        overflow: hidden;
        position: absolute;
        top: 100%;
        @include transition(all 0.35s ease-out 0s);
        width: 98.5%;
        z-index: 9999;
        &.open {
            @include opacity(1);
            height: 50px;
            top: 100%;
        }
        .input-group-addon {
            position: absolute;
            @include rtl-right(0);
            height: 50px;
            line-height: 50px;
            position: absolute;
            text-align: center;
            top: 0;
            width: 25px;
            padding: 0;
            cursor: pointer;
            background-color: rgba(0,0,0,0.05);
            &:hover{
                background-color: rgba(0,0,0,0.15);
            }
        }
        #searchbox .search_query {
            @include size(100%, 50px);
        }
    }

/** social block **/

#social_block {
  ul {
    li {
      a {
        &:hover {
            color: $white !important;
        }
      }
    }
  }
}

