//pagebuilder
.pagebuilder {
	.pts-container {
		padding-bottom: 20px;
	}
}
//footerbuilder
.footerbuilder {
  .pts-footer-top{
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.widget-latestblog {

  .blog_container { 
   
    .blog-title {
      font-size:  14px;
      a {
        font-weight: 700;
        }
      }
    }
}
.pts-tab {
  .carousel-controls{  
      @include element-absolute(13px, inherit, 0, right);
  }
}

