/*products sidebar */

.products .product-item {
    .product-block {
        @include box-shadow(none);
    }
}

.sidebar .block_content .layered_filter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    ul li {
         border-top: none;
    }
}
.sidebar{
    .block{
        &.products_block .block_content{
            padding-left: 0;
            padding-right: 0;
            .product-item {
                padding-left: 20px;
                padding-right: 20px;
            }

            .btn-sm {
                @include rtl-margin-left(20px); 
            }
        } 
        h3.name a {
            &:hover {
                color: $theme-color;
            }
        }
    }
}
/*products category*/
.product-block {
    .btn-highlighted {
        padding: 0;
        min-height: 28px;
        min-width:  28px;
        line-height: 28px;
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
    } 
}  
.content_scene_cat_bg {
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);

}
#subcategories {
    font-size: $font-size-base - 1;
    background-color: $white;
    @include border-top-radius(4px);
    border-bottom: 1px solid rgba(0, 0, 0 , 0.1);
    margin-bottom: 0;
    padding:  10px 15px;
    .subcategory-heading {
        font-size: $font-size-base - 1;
    }
}

.content_sortPagiBar {
        @include border-bottom-radius(4px);
     .display a {
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
    }
}
.bottom-pagination-content {
    background-color: $nocolor;

}
.pagination {
    > li {
        > a, > span {
            &, &:hover, &:focus {
                background-color: $nocolor;
            }
        }

    }
    > .active {
       > a, > span {
            &, &:hover, &:focus{
                background-color: #e0e0e0;
                color: $black;
                @include border-top-radius(50%);
                @include border-bottom-radius(50%);

            }
       }
    }
    .disabled {
        > span, > a {
            &, &:hover, &:focus{
                background-color: $nocolor;
            }
        }
    }
    .product-count {
         font-size: $font-size-base - 1;
    }
}

//product detail

.product-info {
    margin-bottom: 40px;
}

.buttons_bottom_block #wishlist_button {
    border: 1px solid #e5e5e5;
    line-height: 36px;   
    @include border-top-radius(25px);
    @include border-bottom-radius(25px);
    padding: 0 20px;
    font-family: $font-family;
    font-size: $font-size-base - 1;
    font-weight: 700;
    color: #aaaaaa;
    @include rtl-margin-left(10px);
    &:hover {
        border: 1px solid $theme-color;
        color: #fff;
    }
}

#usefull_link_block {
    li {
        &.print, &.sendtofriend{
            a{
                @include border-top-radius(4px);
                @include border-bottom-radius(4px);
            }
        }
    }
}
.product-label.product-label-special, .product-label.sale-box,
.product-label.product-label-new, .product-label.new-box {
     @include border-top-radius(24px);
    @include border-bottom-radius(24px);
}


.style3  {
    .product-block:hover {
         .product-meta .bottom:before {
            background-color: #e1e1e1;
         }
    }


}