/**
 * BASE CSS STYLES
 */
body { 
  background: $body-bg;
}

/*** PAGE HEADING **/
.page-heading-title {
    font: 300 18px / 22px $headings-font-family;
    padding: 0 0 10px;
    margin-top: 0;
    letter-spacing: 1px;
    span.heading-counter {
      font: 300 12px / 22px $headings-font-family;
      text-transform:  none;
      letter-spacing: 1px;
    }
}

.carousel-controls{  
    top: 20px;
}


/* links style */
ul{
  &.list-block{
    li{
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        font-size: $font-size-base;
        font-weight: 400;
        text-transform: none;
    }
  }
}

.page-header {
   display: none;
}