 

/* block */
.#{$block-selector} {
    .#{$block-heading-selector}{
        @include rtl-padding (18px, 0, 18px, 20px);  
        font-weight: $block-module-heading-font-weight;
        line-height:  20px;
        border-bottom: 1px solid #e1e1e1;
        @include border-top-radius(0); 
        margin: 0 0 18px;
        letter-spacing: 1px;
        &:before{
          position: absolute;
          @include rtl-border-left(1px solid $theme-color);
          content: "";
          @include skew(45deg, 0deg);
          @include size(20px, 20px);
          @include rtl-left(0);
          top: 0;
          margin: 20px 10px;
        }
        span span {
            font-weight: bold;
        }
    }
    /* block styles */
    &.nopadding,
    &.block-nopadding{
        .#{$block-content-selector}{
            padding: 0;
            ul li {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    
}

// Contextual variations
.#{$block-prefix}.#{$block-prefix}-primary,
.#{$block-prefix}.#{$block-prefix}-success,
.#{$block-prefix}.#{$block-prefix}-info,
.#{$block-prefix}.#{$block-prefix}-warning,
.#{$block-prefix}.#{$block-prefix}-danger,
.#{$block-prefix}.#{$block-prefix}-highlighted{
    .#{$block-heading-selector} {
        @include rtl-padding (18px, 0, 18px, 20px);  
        font-size: $block-module-highlighted-heading-font-size;
        font-weight: $block-module-highlighted-heading-font-weight;
        &:before {
            border: none;
            content: "";
        }
    }
    .#{$block-content-selector}{
       
    }  
}

/* block inline style */
.#{$block-prefix}-inline{
    .icon{
        font-size: 35px;
    }
    .explain{
        font-size:  11px;
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;                                                             
        text-transform: $block-module-heading-transform;
        font-family: $block-module-heading-font-family;    
             
        font-size: $block-module-heading-font-size;
    }  
    .input-group{
        width: 98%
    }   
}

 


.sidebar {
    .#{$block-prefix} {
        border: 1px solid $theme-color;
        .#{$block-heading-selector}{
            @include rtl-padding (18px, 10px, 18px,45px); 
             margin-bottom: 0;
            border-bottom: none;
            &:before{
                @include rtl-left(20px);
            }    

        }

        .#{$block-content-selector}{
            padding-top: 0;
        }

    }
    .#{$block-prefix}.#{$block-prefix}-primary,
    .#{$block-prefix}.#{$block-prefix}-success,
    .#{$block-prefix}.#{$block-prefix}-info,
    .#{$block-prefix}.#{$block-prefix}-warning,
    .#{$block-prefix}.#{$block-prefix}-danger,
    .#{$block-prefix}.#{$block-prefix}-highlighted{
        .#{$block-heading-selector} {
            @include rtl-padding (18px, 0, 18px, 20px);  
        }
    }

.carousel-controls{  
    @include rtl-right( 10px);
}

}
#footer{
    .#{$block-prefix} {
        .#{$block-heading-selector}{
           letter-spacing: 0;
        }
          ul{ 
            &.list-block{
                li{ 
                    a {
                        font-size: 11px;
                        text-transform: uppercase;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}