.btn {
    @include border-top-radius(3px);
    @include border-bottom-radius(3px);
}
.btn-highlighted{
   @include button-variant-outline(#999999, $white, #e2e2e2, $white, #3b424c, #3b424c);
   border-width: 1px;
   font-weight: 300;
   text-transform: none;
   padding: 0;
   width: 32px;
   height: 32px;
   line-height: 30px;
} 

.btn-outline{
  @include button-variant-outline( $button-addtocart-color, $button-addtocart-bg , $button-addtocart-border , $button-addtocart-hover-color, $button-addtocart-bg-hover, $button-addtocart-bg-hover );
   font-size: $button-addtocart-font-size;
   border-width: 1px;
   display: inline-block;
    font-weight: 700;
    height: 32px;
    line-height: 30px;
    width: auto;
}

.btn-outline-inverse{
  @include button-variant-outline($white, #222222 , #222222 , #fff, $theme-color,  darken($theme-color, 15%));
  border-width: 0;
  line-height: 38px;
}