/******************************************************
 * $package Pav Opencart Theme Framework for Opencart 1.5.x
 * $version 1.1
 * $author http://www.ptsothemes.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:ptsothemes$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *
/*
* HEADER 
*/
#topbar  {
   
    .container-inner{
       > div {
        padding: 5px 0;
       }
       .btn-group {
            padding: 12px 10px;
            @include rtl-float-right();
       }
    }

    .quick-setting {
       margin-top: 0px;
        @include rtl-text-align-left();
    }  
    #header_user_info {
      padding: 12px 0;
      @include rtl-margin-right( 10px);
    }       
}
#header-main{
    border-bottom: 1px solid #e2e2e2;
 
}
#logo-theme{  
    margin: 13px 0;
    background: $nocolor;
}

#header_logo {
  @include rtl-float-left();
   @media (max-width: $screen-sm-max) {
      @include rtl-float-right();
      position: relative;
      z-index: 10;
   }
  .logo-theme {
    a {
      background: url('#{$image-theme-base-path}/cd/logo.png') no-repeat top center;
    }
  }
}
.header-right {
  > * {
    @include rtl-float-right();
     @media (max-width: $screen-sm-max) {
      float: none;

     }
  }
}

/*top column*/
/*breadcrumb*/
#breadcrumb{
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
    .breadcrumb {
      color: #999;
        line-height: 28px;
        padding: 10px 0;
        a {
           color: #999;
           &:hover {
            color: $black;
           }
        }
       .navigation-pipe:before {
        color: #999;
       }
       .navigation_page {
          color: $black;
       }
    }
}
 @media (max-width: $screen-xs-max) {
#pts-mainnav {
 .container  {
    .header-cart, .block_verticalmenu, #pts_search_block_top {
       display:  block;
       width: 100%;
       text-align: center;
     }
    }
  }
}
/* FOOTER */

.footer-top{    
   border-top: 1px solid $footer-top-border;   
} 
.footer-bottom{
  background-image: url('#{$image-theme-base-path}bg-footerbottom.jpg');   

}      
