
.#{$app-brand-prefix}-megamenu {
	/* menu level 1 */
	.navbar-nav{
		> li {
		}
	}
}

@media (max-width: $screen-sm-max) {
	.pts-megamenu{ 
		.navbar-header .navbar-toggle{
			margin: 10px;
			}
		#pts-top-menu {
			 background-color: $theme-color;
			 position: relative;
			 z-index: 999;
			 .navbar-nav > li > a {
			 	 color: #fff;
			 	 &:hover, &:focus{
			 	 	color: #fff;
			 	 }
			 }
		}
	}
}