/* mini basket */
#cart {
    .heading  {       
        a {            
            min-height: 50px;
            padding: 15px 0;
        }
    }
    .title-cart {
      position: relative;
    }
}
/** social block **/
/*Blocksearch*/
form#searchbox {    
    padding: 7px 0;
      @media (max-width: $screen-xs-max) {
        display:  inline-block;
      }
    .search_query {
       @media (min-width: $screen-md-max) {
        width: 400px;
      }
       @media (max-width: $screen-md-max) {
        width: 280px;
      }
       @media (max-width: $screen-sm-max) {
        width:  130px;
       }
      @include rtl-float-left();          
      @include border-top-left-radius(4px);
      @include border-bottom-left-radius(4px);
    }

  .btn.button-search {
    color: $black;
    border: 1px solid #e1e1e1;
    background-color: $white;
    @include rtl-float-right();
    @include rtl-margin-left(0);
     &:hover,
        &:focus,
        &:active,
        &.active {
          background-color: rgba(0, 0, 0, 0.05);
          border: 1px solid rgba(0, 0, 0, 0.5);
        }
  }

  select {
    @include border-top-left-radius(0!important);
    @include border-bottom-left-radius(0!important);
  }
}

/** social block **/

#social_block {
  ul {
    li {
      a {
        color: $black;
        span {
          display: none;
        }
        &:hover {
            color: $white !important;
          &:before {
          }
        }
      }
      &.facebook {
        a {
          &:before {
              background-color: transparent; 
          }
        }
      }
      &.twitter {
        a {
          &:before {
              background-color: transparent; 
          }
        }
      }
      &.rss {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
      &.youtube {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
      &.google-plus {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
      &.pinterest {
        a {
          &:before {
            background-color: transparent;
          }
        }
      }
    }
  }
}

