.product_list1 .product-block,.product_list2 .product-block {
	margin: 0;
	padding: 15px 0;
    @include box-shadow(none);
    background-color:  transparent;
    &:hover {
        @include box-shadow(none);
    }
}

//widget latestblog
.widget-latestblog {
 
  .blog_container {
    .blog-title {
      max-height: 52px;
      height: 52px;
      font-size: 14px;
      font-family: $font-family;
      a {
        font-weight: 500;
      }
    }

  }

}

//footerbuilder
.footerbuilder {
  .pts-footer-top{
    border-top: 1px solid #e2e2e2;
    color: #000;
      padding-top: 20px;
      padding-bottom: 20px;
  }
}

