/*products sidebar */
.products .product-item {
    padding-top:  15px;
    .product-block {
        @include box-shadow(none);
    }
}

.sidebar .block_content .layered_filter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    ul li {
         border-top: none;
    }
}
.sidebar h3.name a {
    &:hover {
        color: $theme-color;
    }
}
.sidebar .product-block .price .product-price {
    font-weight: 700;
    line-height: 26px;
}
/*products category*/
.product-block {
    @include box-shadow (0 0 0 1px #e1e1e1);
    @include transition(all 0.2s ease 0s) ;
    &:hover{
        @include box-shadow (0 0 0 3px $theme-color);
        @include transition(all 0.2s ease 0s) ;
    }
}
.content_scene_cat_bg {
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);

}
#subcategories {
    font-size: $font-size-base - 1;
    background-color: $white;
    @include border-top-radius(4px);
    .subcategory-heading {
        font-size: $font-size-base - 1;
        font-family: $headings-font-family;
        font-weight: 300;
    }
}
 
.content_sortPagiBar {
     border: 1px solid #e5e5e5;
 }
.pagination {
    > .active {
        > a , > span {
            &, &:hover, &:focus {
                color: $black;
                font-weight: 700;
                background-color: $nocolor;
            }
        }
    }
} 
//product detail
.product-info {
     padding: 0 0 18px;
}
.buttons_bottom_block #wishlist_button {
    border: 1px solid #e5e5e5;
    line-height: 36px;   
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
    padding: 0 20px;
    font-family: $font-family;
    font-size: $font-size-base - 1;
    font-weight: 700;
    color: #aaaaaa;
    @include rtl-margin-left(10px);
    &:hover {
        border: 1px solid $theme-color;
        color: #fff;
    }
}

.tabs-info .tab-nav ul.nav-stacked li{ 
    a {
        font-family: $font-tab-family; 
        font-weight: 300;
    }
}

#usefull_link_block {
    li {
        &.print, &.sendtofriend{
            a{
                @include border-top-radius(3px);
                @include border-bottom-radius(3px);
            }
        }
    }
}
.style3  {
    .product-block:hover {
         .product-meta .bottom:before {
            background-color: #e1e1e1;
         }
    }


}