<div align="center" style="background-color:#FFFFFF"><center>
<table  cellpadding="0" cellspacing="0" border="0">
	<tbody>                            
		<tr>
			<td class="w640"  width="640" height="10"></td>
		</tr>

		<tr>
			<td align="center" class="w640"  width="640" height="20"></td>
		</tr>
		<tr>
			<td class="w640"  width="640" height="10"></td>
		</tr>


		<!-- entete -->
		<tr class="pagetoplogo">
			<td bgcolor="#F2F0F0">
				<table cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F0F0">
					<tbody>
						<tr>
							<td class="w30"  width="30"></td>
							<td  class="w580"  width="580" valign="middle" align="left">
								<div class="pagetoplogo-content">
									<center>%SHOP_LINK_OPEN%<img style="text-decoration: none; display: block; color:#476688; font-size:30px;" src="http://www.agsportdistribution.com/img/my-shop-1413469173.jpg" alt="%SHOP_NAME%"/>%SHOP_LINK_CLOSE%</center>
								</div>
							</td> 
							<td class="w30"  width="30"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<!-- separateur horizontal -->
		<tr>
			<td  class="w640"  width="640" height="1" bgcolor="#d7d6d6"></td>
		</tr>

		 <!-- contenu -->
		<tr class="content">
			<td class="w640" class="w640"  width="640" bgcolor="#FFFFFF">
				<table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr>
							<td  class="w30"  width="30"></td>
							<td  class="w580"  width="580">
								<!-- une zone de contenu -->
								<table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
									<tbody>                                                            
										<tr>
											<td class="w580"  width="580">
												<table class="w640" style="font-family: TrebuchetMS;" border="0" width="640" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w580" width="580">
<table class="w580" border="0" width="580" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w580" width="580">
<p style="margin: 0px 0px 12px; font-size: 12px; font-family: 'Trebuchet MS';"><br />Bonjour&nbsp;%GENDER%&nbsp;%LASTNAME%,</p>
<p style="margin: 0px 0px 12px; font-size: 12px; font-family: 'Trebuchet MS';">Vous avez mis r&eacute;cemment des articles dans votre panier AG Sport Bags. Peut &ecirc;tre n'avez vu pas eu le temps de finaliser votre commande ou l'avez vous oubli&eacute;e ?</p>
<p style="margin: 0px 0px 12px; font-size: 12px; font-family: 'Trebuchet MS';">Nous sommes &agrave; votre disposition pour r&eacute;pondre &agrave; toutes vos questions et vous conseiller dans votre achat.</p>
<p style="margin: 0px 0px 12px; font-size: 12px; font-family: 'Trebuchet MS';">Et n'oubliez pas la&nbsp;<strong>livraison est gratuite partout en France,</strong>&nbsp;alors profitez en !</p>
<p style="margin: 0px 0px 12px; font-size: 12px; font-family: 'Trebuchet MS';"><a href="http://www.agsportdistribution.com/admin3755/click%20&lt;b&gt;%CART_LINK_OPEN%&lt;/b&gt;here&lt;b&gt;%CART_LINK_CLOSE%&lt;/b&gt;">&gt;Finalisez ma commande</a></p>
<p style="margin: 0px 0px 12px; font-size: 12px; font-family: 'Trebuchet MS';">A&nbsp;tout de suite,</p>
<p style="margin: 0px 0px 12px; font-size: 12px; font-family: 'Trebuchet MS';">Service client<br />06 07 29 22 25<br /><span style="color: #4787ff;"><a href="mailto:contact@agsportbags.com">contact@agsportbags.com</a></span></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
											</td>
										</tr>
									</tbody>
								</table>
								<!-- fin zone -->                                                   
							</td>
							<td class="w30" class="w30"  width="30"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<!--  separateur horizontal de 15px de  haut-->
		<tr>
			<td class="w640"  width="640" height="1" bgcolor="#ffffff"></td>
		</tr>

		<!-- pied de page -->
		<tr class="pagebottom">
			<td class="w640"  width="640" bgcolor="#F2F0F0">
				<table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F0F0">
					<tbody>
						<tr>
							<td colspan="5" height="10"></td>
						</tr>
						<tr>
							<td class="w30"  width="30"></td>
							<td class="w580"  width="580" valign="top">
								<p>&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.agsportdistribution.com/modules/cartabandonmentpro/views/js/fileman/Uploads/LOGO-Agsbags.png" alt="" width="352" height="126" /></p>
<p style="margin: 0px 0px 12px; font-size: 12px; font-family: 'Trebuchet MS';"><span style="letter-spacing: 0.0px;">Conform&eacute;ment &agrave; la loi informatique et libert&eacute;s du 06/01/1978 (art. 27, 34) vous disposez d'un droit d'acc&egrave;s, de modification et de suppression des donn&eacute;es vous concernant.</span><br /> <span style="letter-spacing: 0.0px;">Cliquez sur <a href="http://www.agsportbags.com/modules/cartabandonmentpro/redirectShop.php?token=4902177265582c0fff3d397.67072658&amp;token_cart=960accffb02345debc19653e6939638b&amp;wichRemind=0&amp;id_cart=&amp;link=unsubscribe&amp;id_customer=2&amp;recover_cart=&amp;secure_key=6a9163570df760ed6173bd7d6b9b837e"><span style="letter-spacing: 0px; color: #4787ff;">ici</span></a> pour ne plus recevoir nos relances.</span></p>
							</td>

							<td class="w30"  width="30"></td>
						</tr>
						<tr>
							<td colspan="5" height="10"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="w640"  width="640" height="60"></td>
		</tr>
	</tbody>
</table></center></div>