<div align="center" style="background-color:#2A374E"><center>
<table  cellpadding="0" cellspacing="0" border="0">
	<tbody>                            
		<tr>
			<td class="w640"  width="640" height="10"></td>
		</tr>

		<tr>
			<td align="center" class="w640"  width="640" height="20"></td>
		</tr>
		<tr>
			<td class="w640"  width="640" height="10"></td>
		</tr>


		<!-- entete -->
		<tr class="pagetoplogo">
			<td bgcolor="#F2F0F0">
				<table cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F0F0">
					<tbody>
						<tr>
							<td class="w30"  width="30"></td>
							<td  class="w580"  width="580" valign="middle" align="left">
								<div class="pagetoplogo-content">
									<center>%SHOP_LINK_OPEN%<img style="text-decoration: none; display: block; color:#476688; font-size:30px;" src="http://www.agsportdistribution.com/img/my-shop-1413469173.jpg" alt="%SHOP_NAME%"/>%SHOP_LINK_CLOSE%</center>
								</div>
							</td> 
							<td class="w30"  width="30"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<!-- separateur horizontal -->
		<tr>
			<td  class="w640"  width="640" height="1" bgcolor="#d7d6d6"></td>
		</tr>

		 <!-- contenu -->
		<tr class="content">
			<td class="w640" class="w640"  width="640" bgcolor="#FFFFFF">
				<table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr>
							<td  class="w30"  width="30"></td>
							<td  class="w580"  width="580">
								<!-- une zone de contenu -->
								<table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
									<tbody>                                                            
										<tr>
											<td class="w580"  width="580">
												
											</td>
										</tr>
									</tbody>
								</table>
								<!-- fin zone -->                                                   
							</td>
							<td class="w30" class="w30"  width="30"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<!--  separateur horizontal de 15px de  haut-->
		<tr>
			<td class="w640"  width="640" height="1" bgcolor="#ffffff"></td>
		</tr>

		<!-- pied de page -->
		<tr class="pagebottom">
			<td class="w640"  width="640" bgcolor="#C7C7C7">
				<table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#C7C7C7">
					<tbody>
						<tr>
							<td colspan="5" height="10"></td>
						</tr>
						<tr>
							<td class="w30"  width="30"></td>
							<td class="w580"  width="580" valign="top">
								<table>
<tbody>
<tr>
<td colspan="8"><span style="font-size: small;"><strong>100% satisfaction guarantee: </strong></span></td>
</tr>
<tr>
<td><img src="http://www.agsportdistribution.com/modules/cartabandonmentpro/img/picto/Livraison.png" alt="" /></td>
<td><strong>Fast delivery</strong></td>
<td><img src="http://www.agsportdistribution.com/modules/cartabandonmentpro/img/picto/Secure_Paiement.png" alt="" /></td>
<td><strong>Secure paiement</strong></td>
<td><img src="http://www.agsportdistribution.com/modules/cartabandonmentpro/img/picto/Satisfied.png" alt="" /></td>
<td><strong>Satisfied or refunded</strong></td>
<td><img src="http://www.agsportdistribution.com/modules/cartabandonmentpro/img/picto/SAV.png" alt="" /></td>
<td><strong>After-sales service</strong></td>
</tr>
</tbody>
</table>
							</td>

							<td class="w30"  width="30"></td>
						</tr>
						<tr>
							<td colspan="5" height="10"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="w640"  width="640" height="60"></td>
		</tr>
	</tbody>
</table></center></div>