.wrapper {
    width: 80vw;
    margin: auto;
    padding: 10px 0;
}

/* Accordion */
#accordion * {
    outline: 0;
}
#accordion h3 {
    cursor: pointer;
    padding: 5px;
    border: 2px solid #000;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    margin-top: -2px;
    background-color: #fff!important;
}
#accordion h3 img {
    position: relative; 
    top: 5px; 
    padding-left: 7px; 
    padding-right: 7px;
}
#accordion p {
    margin: 0;
}
#accordion > div {
    margin: 20px 0 30px 0;
    padding: 0;
    border-bottom: 6px solid #D7172E;
}

/* Tablas de tallas */
#accordion div > table {
    width: 90%;
    font-size: 0.8em;
    border: 2px solid #000;
    margin: 10px auto;
}
#accordion tr {
    border: 1px solid #999;
}
#accordion .talla {
    font-size: 2.5em;
    font-weight: bold;
    color: #D7172E;
    text-align: center;
    padding: 3px 10px;
    border: 1px solid #999;
}
#accordion .talla-2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #D7172E;
    text-align: center;
    padding: 1px 10px;
    border: 1px solid #999;
}
#accordion .talla-3 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 1px 10px;
    border: 1px solid #999;
}
#accordion .atributo {
    font-weight: bold;
    padding: 3px 5px;
    text-align: center;
}
#accordion .valor {
    font-weight: bold;
    color: #D7172E;
    text-align: left;
    padding: 3px 5px;
}
#accordion .nota-jeans {
    width: 90%;
    margin: auto;
    font-size: 0.7em;
    font-weight: bold;
}
#accordion .nota-jeans span {
    color: #D7172E;
}
#accordion .tabla-zapatos th {
    text-align: center;
    border: 1px solid #999;
}
#accordion .tabla-zapatos td {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #D7172E;
    border: 1px solid #999;
}
#accordion .largos-jeans {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #333;
    margin: 2px 10px 4px 0;
}
#accordion .largos-jeans div {
    padding: 3px;
    display: inline-block;
    color: #D7172E;
    font-size: 1.1em;
}
#accordion .largos-jeans div:first-child {
    font-size: 1.5em;
    border-right: 1px solid #999;
    color: #333;
}