@import "compass";
@import "theme_variables";

/*******************************************************************
          ptsbttestimonials
********************************************************************/

.ptsbttestimonials {
	position: relative;
	.block_content {
	}
	.testimonial-item {
		@include rtl-padding-left(55px);
	}
	.test-info{
		font-size: $font-size-large;
		clear: both;
		margin-bottom: 15px;
		@include rtl-text-align-left();
		font-style: italic;

		blockquote {
		    border-left: none;
		    padding: 0;
		    &:before {
			    content: "\f10d"; 
			    font-family: FontAwesome;
			    position: absolute; 
			    @include rtl-left(0);
			    color: #e0e0e0;
			    font-size: 40px;
			}
		}
	}
	.t-avatar{
		clear: both;
		display: inline-block;
		position: relative; 
		padding: 2px;
		img{
			@include box-shadow(0 0 2px #000);
			@include size(55px,55px);
		}	
	    &:hover {
	      .btn {
	        @include scale(1);
	        opacity: 1;
	      }
	    }
		.btn {
			position: absolute;
			@include border-radius(50%);
			@include size(30px, 30px);
			line-height: 28px;
			padding: 0;
			text-align: center;
			@include rtl-left(50%);
			@include rtl-margin-left(-15px);
			top: 50%;
			margin-top: -15px;
			opacity: 0;
			@include scale(0);
			@include transition(all 0.4s ease 0s);
		}
	}

	.t-profile{
		padding: 13px 0;
		overflow: hidden;
		.name{
			font-size: $font-size-small;
			font-weight: 700; 	
			color: $theme-color;
			text-transform: uppercase;
		}
		.job{
			font-size: $font-size-small ;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
	.carousel-controls {
		display: none;
	}
	.carousel-linked-nav {
		height: 15px;
		min-height: 15px;
		line-height: 15px;
		@include rtl-padding-left(120px);
		> li {
			margin: 0;
			&.active a {
				background-color: $theme-color;
				border-color: transparent;
			}
			> a {
				background: #cecece;
				text-indent: -9999px;
				display: block;
				@include size(10px, 10px);
				min-width: 10px;
				margin: 0 3px;
				padding: 0;
				outline: 0;
				@include border-radius(5px);
				&:hover {
					background-color: $theme-color;
				    border-color: transparent;
				}
			}
		}
	}
}	

