@import "compass";
@import "theme_variables";
#header_user_info {
	@include rtl-padding-right(10px);
}
.header_user_info {
	 ul li {
	 	 line-height: 25px;
	 	 i {
	 	 	@include rtl-margin-right(6px);
	 	 }
	 	 a:hover{
	 	 	font-weight: bold;
	 	 }
	 }
}