/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*
 *
 * Vertical menu
 */
/* line 7, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu {
  z-index: 100;
}
/* line 9, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-collapse, div.verticalmenu .navbar-vertical {
  margin: 0;
  padding: 0;
}
/* line 13, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav {
  position: static;
}
/* line 15, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li {
  width: 100%;
  height: auto;
  position: static;
}
/* line 18, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li > a {
  display: block;
  color: black;
  font-size: 13px;
  padding: 16px 10px 15px 20px;
  border-bottom: 1px solid #e0e0e0;
}
/* line 24, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li > a .menu-icon {
  display: block;
  height: 20px;
}
/* line 27, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li > a .menu-icon span {
  display: block;
  margin-left: 35px;
  line-height: normal;
  font-size: 14px;
}
/* line 33, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li > a .menu-icon .menu-desc {
  display: none;
}
/* line 37, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li > a:hover, div.verticalmenu .navbar-nav > li > a:focus {
  color: white;
}
/* line 40, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li > a .caret {
  position: absolute;
  right: 18px;
  top: 50%;
  margin: -5px 0;
  border-left: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid red;
}
/* line 51, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li.last a, div.verticalmenu .navbar-nav > li:last-child a {
  border: 0;
}
/* line 57, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li:hover > a {
  color: #834453;
}
/* line 59, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li:hover > a .menu-icon {
  background-position: left bottom !important;
}
/* line 62, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li:hover > a .caret {
  border-left-color: dimgrey;
}
/* line 66, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li:hover > .dropdown-menu {
  left: 100%;
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 72, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li .parent {
  position: relative;
}
/* line 74, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li .parent > .dropdown-toggle {
  text-transform: none;
  font-weight: normal;
  color: black;
}
/* line 78, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li .parent > .dropdown-toggle:hover {
  color: dimgrey;
}
/* line 82, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li .parent > .dropdown-menu {
  min-height: 100px;
  height: 100px;
  height: auto !important;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.13);
}
/* line 89, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li .parent:hover > .dropdown-menu {
  left: 100%;
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 96, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .navbar-nav > li.parent:hover > a:after {
  position: absolute;
  content: "";
  right: -5px;
  top: 0;
  width: 0;
  height: 100%;
  border: 5px solid white;
  z-index: 9999;
}
/* line 111, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .verticalmenu li a:hover {
  color: #834453;
}
/* line 113, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .verticalmenu li a:hover .caret {
  border-right-color: white;
}
/* line 120, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .dropdown-menu {
  left: -9999px;
  top: -9999px;
  right: auto;
  border: 0;
  display: block;
  min-height: 100%;
  height: 100%;
  height: auto !important;
  min-width: 215px;
  padding: 20px 28px;
  background: white;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}
/* line 136, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .dropdown-menu ul li {
  border: 0;
  padding: 4px 0;
  line-height: normal;
  list-style: none;
}
/* line 141, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .dropdown-menu ul li a {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}
/* line 149, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .dropdown-menu p {
  line-height: 18px;
  font-size: 14px;
}
/* line 153, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .dropdown-menu .pts-menu-video {
  width: 100%;
}
/* line 155, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .dropdown-menu .pts-menu-video iframe {
  margin-bottom: 10px;
}
/* line 160, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .dropdown-menu .dropdown-toggle:hover {
  color: black;
}
/* line 164, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .dropdown-menu .dropdown-toggle {
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
  color: black;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
}
/* line 172, ../../../sass/modules/ptsverticalmenu/ptsverticalmenu1111.scss */
div.verticalmenu .dropdown-menu .action {
  display: none;
}
