/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
#header .block_verticalmenu {
  width: 280px;
  float: left; }
  .rtl #header .block_verticalmenu {
    float: right; }
  @media (max-width: 991px) {
    #header .block_verticalmenu {
      width: 240px; } }
#header #pts-verticalmenu {
  position: relative;
  text-align: left; }
  .rtl #header #pts-verticalmenu {
    text-align: right; }
  #header #pts-verticalmenu:hover .pts-verticalmenu {
    display: block; }
  #header #pts-verticalmenu .pts-verticalmenu {
    height: 100%;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 1000;
    display: none; }
    #header #pts-verticalmenu .pts-verticalmenu ul.verticalmenu {
      float: none;
      background-color: #FFFFFF;
      border: 1px solid #e7e7e7;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.07); }

#pts-verticalmenu .pts-verticalmenu {
  padding: 0; }
  @media (max-width: 991px) {
    #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li .dropdown-menu {
      width: 100% !important;
      background-color: #eee; }
    #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li.open {
      border-bottom: 1px dashed #e1e1e1; } }
  #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a {
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 15px;
    border-bottom: 1px dashed #e1e1e1;
    background: none; }
    #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a:focus, #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a:hover {
      background-color: transparent; }
      #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a:focus .caret, #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a:hover .caret {
        border-right-color: #FFFFFF; }
    #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a .caret {
      border: 0;
      position: absolute;
      right: 0px;
      top: 50%; }
      .rtl #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a .caret {
        left: 0px;
        right: auto; }
      #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a .caret:before {
        content: "\f105";
        font: 12px "FontAwesome";
        position: absolute;
        right: 15px;
        top: -9px; }
        .rtl #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a .caret:before {
          left: 15px;
          right: auto; }
    #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a .menu-icon {
      display: block;
      height: 20px;
      background-position: left top !important; }
      .rtl #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a .menu-icon {
        background-position: right top !important; }
      #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a .menu-icon span {
        display: block;
        margin-left: 35px;
        line-height: normal; }
        .rtl #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li > a .menu-icon span {
          margin-right: 35px;
          margin-left: inherit; }
  #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li.last a, #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li:last-child a {
    border: 0; }
  #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li:hover > a {
    color: #7bbd42; }
    #pts-verticalmenu .pts-verticalmenu ul.verticalmenu > li:hover > a .caret {
      border-left-color: #7bbd42; }
#pts-verticalmenu .vertical_title {
  cursor: pointer;
  color: #fff;
  background-color: #3b424c;
  font-size: 12px;
  padding: 0 20px;
  line-height: 50px;
  margin: 0; }
  #pts-verticalmenu .vertical_title i {
    top: 20px;
    position: relative; }
#pts-verticalmenu .navbar-nav > li {
  width: 100%;
  height: auto;
  position: static;
  padding: 0;
  /*position: static;*/ }
#pts-verticalmenu .navbar-nav > li:hover > .dropdown-menu {
  left: 100%;
  top: 0px;
  opacity: 1; }
  .rtl #pts-verticalmenu .navbar-nav > li:hover > .dropdown-menu {
    right: 100%;
    left: auto; }
#pts-verticalmenu .navbar-nav > li .parent {
  position: relative; }
#pts-verticalmenu .navbar-nav > li .parent > .dropdown-toggle {
  text-transform: none;
  font-weight: normal;
  color: #2e3a47; }
#pts-verticalmenu .navbar-nav > li .parent > .dropdown-toggle:hover {
  color: #7bbd42; }
#pts-verticalmenu .navbar-nav > li .parent > .dropdown-menu {
  min-height: 100px;
  height: 100px;
  height: auto !important;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.13); }
#pts-verticalmenu .navbar-nav > li .parent:hover > .dropdown-menu {
  left: 100%;
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100); }
  .rtl #pts-verticalmenu .navbar-nav > li .parent:hover > .dropdown-menu {
    right: 100%;
    left: auto; }
@media (min-width: 991px) {
  #pts-verticalmenu .navbar-nav > li.parent:hover > a:after {
    position: absolute;
    content: "";
    right: -5px;
    top: 0;
    width: 0;
    height: 100%;
    border: 5px solid #FFFFFF;
    z-index: 9999; }
    .rtl #pts-verticalmenu .navbar-nav > li.parent:hover > a:after {
      left: -5px;
      right: auto; } }
#pts-verticalmenu .pts-colorbox {
  display: none !important; }
@media (min-width: 991px) {
  #pts-verticalmenu .dropdown-menu {
    left: -9999px;
    top: -9999px;
    border: 0;
    display: block;
    min-height: 100%;
    height: auto !important;
    min-width: 215px;
    padding: 20px;
    background: #FFFFFF;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35); }
    .rtl #pts-verticalmenu .dropdown-menu {
      right: -9999px;
      left: auto; } }
#pts-verticalmenu .dropdown-menu ul li {
  line-height: 30px;
  padding-bottom: 3px;
  padding-top: 3px; }
#pts-verticalmenu .dropdown-menu .widget-inner {
  -webkit-box-shadow: none;
  box-shadow: none; }
  #pts-verticalmenu .dropdown-menu .widget-inner ul li {
    padding-left: 0;
    padding-right: 0;
    border-top: none; }

.pts-verticalmenu .mega-group .caret {
  display: none; }
.pts-verticalmenu .mega-group > .dropdown-toggle {
  display: block;
  font-weight: bold;
  padding: 6px 5px;
  text-transform: uppercase;
  border-bottom: solid 1px #E5E5E5; }
.pts-verticalmenu .mega-group .dropdown-mega .mega-col-inner > ul > li a {
  margin-left: 6px; }
.pts-verticalmenu .mega-col .mega-col-inner > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
.pts-verticalmenu .mega-col .mega-col-inner > ul > li {
  list-style: none;
  margin-left: 0; }
.pts-verticalmenu .mega-col .mega-col-inner > ul > li > a {
  clear: both;
  color: #555555;
  display: block;
  line-height: 20px; }
.pts-verticalmenu .dropdown-submenu:hover .dropdown-menu {
  display: block; }
.pts-verticalmenu .dropdown-submenu > .dropdown-menu {
  border-radius: 0 6px 6px 6px;
  left: 100%;
  margin-left: -6px;
  margin-top: -6px;
  top: 0; }
  .rtl .pts-verticalmenu .dropdown-submenu > .dropdown-menu {
    right: 100%;
    left: auto; }

@media (min-width: 991px) {
  #pts-vertical-menu.vertical-right .navbar-nav > li.parent:hover > a:after {
    left: -5px; }
    .rtl #pts-vertical-menu.vertical-right .navbar-nav > li.parent:hover > a:after {
      right: -5px;
      left: auto; } }
@media (min-width: 991px) {
  #pts-vertical-menu.vertical-right .dropdown-menu {
    right: -9999px; }
    .rtl #pts-vertical-menu.vertical-right .dropdown-menu {
      left: -9999px;
      right: auto; } }
#pts-vertical-menu.vertical-right .navbar-nav > li:hover > .dropdown-menu {
  right: 100%;
  left: inherit; }
  .rtl #pts-vertical-menu.vertical-right .navbar-nav > li:hover > .dropdown-menu {
    left: 100%;
    right: auto; }
