/******************************************************
 * @package Ves Theme Framework for Magento
 * @version 1.0
 * @author http://www.venustheme.com
 * @copyright Copyright (C) Augus 2013 Venustheme.com <@emai:venustheme@gmail.com>.All rights reserved.
 * @license   GNU General Public License version 2
*******************************************************/
/* RIGHT TO LEFT */
/* line 2, ../../sass/autoload/footable.core.scss */
.footable {
  width: 100%;
}
/* line 8, ../../sass/autoload/footable.core.scss */
.footable.breakpoint > tbody > tr.footable-detail-show > td {
  border-bottom: none;
}
/* line 11, ../../sass/autoload/footable.core.scss */
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  font-family: "FontAwesome";
  content: "";
}
/* line 17, ../../sass/autoload/footable.core.scss */
.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}
/* line 21, ../../sass/autoload/footable.core.scss */
.footable.breakpoint > tbody > tr > td.footable-cell-detail {
  background: #eee;
  border-top: none;
}
/* line 26, ../../sass/autoload/footable.core.scss */
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  display: inline-block;
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
  font-size: 14px;
}
/* line 38, ../../sass/autoload/footable.core.scss */
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  font-family: "FontAwesome";
  content: "";
}
/* line 45, ../../sass/autoload/footable.core.scss */
.footable.breakpoint.toggle-medium > tbody > tr > td > span.footable-toggle {
  font-size: 18px;
}
/* line 51, ../../sass/autoload/footable.core.scss */
.footable.breakpoint.toggle-large > tbody > tr > td > span.footable-toggle {
  font-size: 24px;
}
/* line 56, ../../sass/autoload/footable.core.scss */
.footable .footable-row-detail-inner {
  display: table;
}
/* line 60, ../../sass/autoload/footable.core.scss */
.footable .footable-row-detail-row {
  display: table-row;
  line-height: 1.5em;
}
/* line 65, ../../sass/autoload/footable.core.scss */
.footable .footable-row-detail-group {
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 72, ../../sass/autoload/footable.core.scss */
.footable .footable-row-detail-name {
  display: table-cell;
  font-weight: bold;
  padding-right: 0.5em;
}
/* line 78, ../../sass/autoload/footable.core.scss */
.footable .footable-row-detail-value {
  display: table-cell;
}
/* line 85, ../../sass/autoload/footable.core.scss */
.footable .footable-sortable .footable-sort-indicator:after {
  float: right;
  margin: 0px 0px 0 0;
  content: "";
  font-family: "FontAwesome";
  display: block;
}
/* line 98, ../../sass/autoload/footable.core.scss */
.footable .footable-sortable.footable-sorted .footable-sort-indicator:after {
  content: "";
}
/* line 106, ../../sass/autoload/footable.core.scss */
.footable .footable-sortable.footable-sorted-desc .footable-sort-indicator:after {
  content: "";
}
