{*
* Pts Prestashop Theme Framework for Prestashop 1.6.x
*
* @package   ptspagebuilder
* @version   5.0
* @author    http://www.prestabrain.com
* @copyright Copyright (C) October 2013 prestabrain.com <@emai:prestabrain@gmail.com>
*               <info@prestabrain.com>.All rights reserved.
* @license   GNU General Public License version 2
*}
{if $separ_title}
	<div class="widget-separator {$addition_cls}">
		<div class="w_text_separator {$el_class}"><div class="text_separ {$title_align}">{$separ_title}</div></div>
 	</div>
{/if}