@import "compass";
@import "theme_variables";

#pts-top-menu {
 padding: 0;
}
@media (max-width: $screen-sm-max) {
	.navbar-header .navbar-toggle{
		display: block;
		float: none;
		@include size(42px, 42px);
		line-height: 42px;
		margin: 6px;
		@include border-top-radius (0);
		@include border-bottom-radius (0);
		background-color: rgba(0, 0, 0, 0.3); 
		padding: 14px;
		border: none;
		color: #fff;
		&:hover {
		background-color: rgba(0, 0, 0, 0.5);
			.icon-bar{
				background-color: $white;
			}
		}
		.icon-bar {
		    background-color: $white;
		    width: 16px;
		}
	}
	#pts-top-menu {
		margin-bottom: 15px;
		padding: 0;
		background-color: $theme-color;
	}
	
	.pts-megamenu {
		.navbar-nav {
			margin: 0;
		    width: 100%;
			> li {
				position: relative;
				background-color: rgba(0, 0, 0, 0.3); 
				margin: 0 0 1px;
				> a {
					padding: 15px;
					&:before {
						width: 100%;
						height: 2px;
					}
				}
				> .dropdown-menu {
					width: 96% !important;
					margin:  0 15px;
					top: 0;
					position: relative;
					background-color:  #fff;
				}
			}
		}
		.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
			@include rtl-left(0);
    		top: 25px;
		}
		.mega-col {
			width: 100%;
			display: inline-block;
		}
	}
}

@media (max-width: $screen-xs) {
	.pts-megamenu {
		.product-block .product-container.w-product {
		    width: 100%;
		}
	}
}