@import "compass";
@import "theme_variables";

/*******************************************************************
					ptsblockmanufacturer
********************************************************************/
.ptsblockmanufacturer{
	@include rtl-padding-right(0);
	overflow: hidden;

	.carousel-inner {
		.block_manuf {
			a {
				display: block;
				text-align: center;
				&:hover {
				}
			}
		}
	}
	.block_content {
		background-color: $white;
		position: relative;
		padding: 35px;
	}
	.carousel-controls {
		width: 100%;
			top: 46%;
		.carousel-control {
		}
		.carousel-control.left {
			left: 20px;
		}
		.carousel-control.right {
			right: 20px;
		}

	}

}