/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/*  
 * LAYOUT VARIABLES 
 */
/*products sidebar */
.products .product-item {
  padding-top: 15px; }
  .products .product-item .product-block {
    -webkit-box-shadow: none;
    box-shadow: none; }

.sidebar .block_content .layered_filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .sidebar .block_content .layered_filter ul li {
    border-top: none; }

.sidebar h3.name a:hover {
  color: #6fd0de; }

.sidebar .product-block .price .product-price {
  font-weight: 700;
  line-height: 26px; }

/*products category*/
.product-block {
  -webkit-box-shadow: 0 0 0 1px #e1e1e1;
  box-shadow: 0 0 0 1px #e1e1e1;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
  .product-block:hover {
    -webkit-box-shadow: 0 0 0 3px #6fd0de;
    box-shadow: 0 0 0 3px #6fd0de;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s; }

.content_scene_cat_bg {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

#subcategories {
  font-size: 12px;
  background-color: #fff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }
  #subcategories .subcategory-heading {
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    font-weight: 300; }

.content_sortPagiBar {
  border: 1px solid #e5e5e5; }

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  color: #000;
  font-weight: 700;
  background-color: transparent; }

.product-info {
  padding: 0 0 18px; }

.buttons_bottom_block #wishlist_button {
  border: 1px solid #e5e5e5;
  line-height: 36px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #aaaaaa;
  margin-left: 10px; }
  .rtl .buttons_bottom_block #wishlist_button {
    margin-right: 10px;
    margin-left: inherit; }
  .buttons_bottom_block #wishlist_button:hover {
    border: 1px solid #6fd0de;
    color: #fff; }

.tabs-info .tab-nav ul.nav-stacked li a {
  font-family: "Oswald", sans-serif;
  font-weight: 300; }

#usefull_link_block li.print a, #usefull_link_block li.sendtofriend a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.style3 .product-block:hover .product-meta .bottom:before {
  background-color: #e1e1e1; }

#pts-verticalmenu .vertical_title {
  letter-spacing: 1px;
  font-weight: 400; }

div.star.star_on:after {
  color: #eb5454; }
