/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/*  
 * LAYOUT VARIABLES 
 */
/*products sidebar */
.products .product-item {
  padding-top: 15px; }
  .products .product-item .product-block {
    -webkit-box-shadow: none;
    box-shadow: none; }

.sidebar .block_content .layered_filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0); }
  .sidebar .block_content .layered_filter ul li {
    border-top: none; }

.sidebar h3.name a:hover {
  color: #D8262E; }

/*products category*/
.product-block .name a {
  text-transform: lowercase; }
.product-block .product-image-container {
  border-bottom: 1px solid rgba(0, 0, 0, 1); }


.content_sortPagiBar {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1); }

.product-info {
  padding: 0 0 18px; }

.buttons_bottom_block #wishlist_button {
  border: 1px solid #e5e5e5;
  line-height: 36px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #aaaaaa;
  margin-left: 10px; }
  .rtl .buttons_bottom_block #wishlist_button {
    margin-right: 10px;
    margin-left: inherit; }
  .buttons_bottom_block #wishlist_button:hover {
    border: 1px solid #D8262E;
    background-color: #D8262E;
    color: #fff; }

#usefull_link_block li.print a, #usefull_link_block li.sendtofriend a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }
  #usefull_link_block li.print a:hover, #usefull_link_block li.sendtofriend a:hover {
    background-color: #D8262E;
    border-color: rgba(0, 0, 0, 0.15); }

/*Blocksearch*/
div#pts_search_block_top {
  font-size: 12px; }
  div#pts_search_block_top form#searchbox .search_query {
    line-height: 42px;
    width: 280px;
    height: 42px; }
  div#pts_search_block_top select {
    height: 42px;
    line-height: 42px;
    background-color: #f6f6f6; }
  div#pts_search_block_top .btn.button-search {
    width: 42px;
    height: 42px;
    float: right; }
    .rtl div#pts_search_block_top .btn.button-search {
      float: left; }

.image-banner .item-img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

div.star.star_on:after {
  color: #000; }
