/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/*  
 * LAYOUT VARIABLES 
 */
/*products sidebar */
.products .product-item .product-block {
  -webkit-box-shadow: none;
  box-shadow: none; }

.sidebar .block_content .layered_filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .sidebar .block_content .layered_filter ul li {
    border-top: none; }

.sidebar .block.products_block .block_content {
  padding-left: 0;
  padding-right: 0; }
  .sidebar .block.products_block .block_content .product-item {
    padding-left: 20px;
    padding-right: 20px; }
  .sidebar .block.products_block .block_content .btn-sm {
    margin-left: 20px; }
    .rtl .sidebar .block.products_block .block_content .btn-sm {
      margin-right: 20px;
      margin-left: inherit; }
.sidebar .block h3.name a:hover {
  color: #7dd5c9; }

/*products category*/
.product-block .btn-highlighted {
  padding: 0;
  min-height: 28px;
  min-width: 28px;
  line-height: 28px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

.content_scene_cat_bg {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

#subcategories {
  font-size: 12px;
  background-color: #fff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  padding: 10px 15px; }
  #subcategories .subcategory-heading {
    font-size: 12px; }

.content_sortPagiBar {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }
  .content_sortPagiBar .display a {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; }

.bottom-pagination-content {
  background-color: transparent; }

.pagination > li > a, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span, .pagination > li > span:hover, .pagination > li > span:focus {
  background-color: transparent; }
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #e0e0e0;
  color: #000;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }
.pagination .disabled > span, .pagination .disabled > span:hover, .pagination .disabled > span:focus, .pagination .disabled > a, .pagination .disabled > a:hover, .pagination .disabled > a:focus {
  background-color: transparent; }
.pagination .product-count {
  font-size: 12px; }

.product-info {
  margin-bottom: 40px; }

.buttons_bottom_block #wishlist_button {
  border: 1px solid #e5e5e5;
  line-height: 36px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #aaaaaa;
  margin-left: 10px; }
  .rtl .buttons_bottom_block #wishlist_button {
    margin-right: 10px;
    margin-left: inherit; }
  .buttons_bottom_block #wishlist_button:hover {
    border: 1px solid #7dd5c9;
    color: #fff; }

#usefull_link_block li.print a, #usefull_link_block li.sendtofriend a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.product-label.product-label-special, .product-label.sale-box,
.product-label.product-label-new, .product-label.new-box {
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px; }

.style3 .product-block:hover .product-meta .bottom:before {
  background-color: #e1e1e1; }

.image-banner .item-img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

div.star.star_on:after {
  color: #f8c255; }
