/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/*  
 * LAYOUT VARIABLES 
 */
/*products sidebar */
.products .product-item {
  padding-top: 15px; }
  .products .product-item .product-block {
    -webkit-box-shadow: none;
    box-shadow: none; }

.sidebar .block_content .layered_filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .sidebar .block_content .layered_filter ul li {
    border-top: none; }

.sidebar .product-block h3.name a {
  font-weight: 600;
  text-transform: none; }
  .sidebar .product-block h3.name a:hover {
    color: #467fd5; }
.sidebar .product-block .price .product-price {
  color: #467fd5;
  font-weight: 400; }

/*products category*/
.product-block .name a {
  text-transform: uppercase; }
.product-block:hover .btn-outline {
  background-image: -webkit-linear-gradient(top, #5092db 0%, #3c6dcf 100%);
  background-image: linear-gradient(to bottom, #5092db 0%, #3c6dcf 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5092DB', endColorstr='#FF3C6DCF', GradientType=0);
  color: #fff;
  border-bottom: 1px solid #3c6dcf; }
  .product-block:hover .btn-outline:hover {
    background-image: -webkit-linear-gradient(top, #ee6161 0%, #e84848 100%);
    background-image: linear-gradient(to bottom, #ee6161 0%, #e84848 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE6161', endColorstr='#FFE84848', GradientType=0);
    border-bottom: 1px solid #e84848; }

.product-block,
.content_sortPagiBar {
  -webkit-box-shadow: 0 1px 2px #dadada;
  box-shadow: 0 1px 2px #dadada;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.product-info {
  background-color: transparent;
  padding: 0 0 18px; }

#usefull_link_block li.print a, #usefull_link_block li.sendtofriend a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.style3 .product-block:hover .product-meta .bottom:before {
  background-color: #e1e1e1; }

.image-banner .item-img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

html, .p-author .profile .p-name, .custom-timeline-owner-profile .p-name, .cards-base p, .cards-base p a, .timeline-header .custom-timeline-summary, .timeline-header .custom-timeline-summary a:link, .timeline-header .custom-timeline-summary a:visited, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited, .p-author a.profile:hover .p-name, .p-author a.profile:focus .p-name {
  color: #fff !important; }

.star {
  position: relative;
  top: -1px;
  float: left;
  width: 12px;
  height: 5px;
  overflow: hidden;
  cursor: pointer;
  font-size: 11px;
  font-weight: normal;
  line-height: 12px; }
  .rtl .star {
    float: right; }

.star {
  display: block; }
  .star a {
    display: block;
    position: absolute;
    text-indent: -5000px; }

div.star:after {
  content: "";
  display: block;
  background-color: #dbdbdb;
  position: absolute;
  width: 12px;
  height: 4px; }

div.star.star_on {
  display: block; }
  div.star.star_on:after {
    content: "";
    display: block;
    background-color: #efd528;
    position: absolute;
    width: 12px;
    height: 4px; }

div.star.star_hover:after {
  content: "";
  display: block;
  background-color: #dbdbdb;
  position: absolute;
  width: 12px;
  height: 4px; }
