@import "compass";
@import "theme_variables";
.ptsproductcountdown .product-block .product-desc {
	 display:  block;
}
.ptsproductcountdown{
	&.block .title_block:before {
		 content:"\f02c";
	}
	.image{
	    @include  rtl-float-left ();
	    width: 65%;
	    margin-bottom: 0;
	    @media (max-width: $screen-md-max) {
	    	width: auto;
	    	float: none;
	    }
	  }
	  .product-meta{
	    @include  rtl-float-left ();
	    width: 35%;
	    padding: 20px;
	    @media (max-width: $screen-md-max) {
	    	width: auto;
	    	float: none;
	    }
	  }
	.item-countdown{
	background-color:rgba(0, 0, 0, 0.8) ;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	width: 100%;

		> ul{
			display: block;
			width: 100%;
			white-space:nowrap;
			> li{
			@include rtl-float-left();
			padding:5px 0 ;
			width: 25%;
			@include rtl-border-right(1px solid #454545);
			font-size: $font-size-base - 4 ;
			font-weight: 300;
			color: $gray-darker;
				&:last-child{
				  @include rtl-border-right(0);
				}
			}
		}
	}

	.countdown_num{
		font-size: $font-size-base - 2 ;
		color: $yellow;
		font-weight: 700;
		line-height: 24px;
	}
	.product-block{
		border: none;
		&:hover .right {
			bottom: 48px;
		}
		.action-btn{
			bottom: -40px;
		 > div {
				margin-bottom:  5px;
	
			}
		}
	}
}