/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**grayscale-filter**/
/**parallax**/
/**absolute**/
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*primary*/
/*success*/
/*info*/
/*warning*/
/*danger*/
/*highlighted*/
/**/
#pts_search_block_top {
  float: left;
  margin: 0 10px;
  font-size: 10px; }
  .rtl #pts_search_block_top {
    float: right; }

#searchbox .search_query {
  display: inline;
  padding: 8px 10px 8px 10px;
  height: 36px;
  line-height: 36px;
  width: 315px;
  margin-right: -1px;
  border: 1px solid #e1e1e1; }
  .rtl #searchbox .search_query {
    padding: 8px 10px 8px 10px; }
  .rtl #searchbox .search_query {
    margin-left: -1px;
    margin-right: inherit; }
  @media (max-width: 570px) {
    #searchbox .search_query {
      padding: 0 5px 0 5px;
      width: 170px; }
      .rtl #searchbox .search_query {
        padding: 0 5px 0 5px; } }
  @media (max-width: 370px) {
    #searchbox .search_query {
      width: 120px; } }
#searchbox select {
  height: 36px;
  line-height: 30px;
  float: left;
  margin-right: -1px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #e1e1e1;
  padding: 8px;
  color: dimgray; }
  .rtl #searchbox select {
    float: right; }
  .rtl #searchbox select {
    margin-left: -1px;
    margin-right: inherit; }
  .rtl #searchbox select {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topleft: inherit;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit; }
  .rtl #searchbox select {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit; }
  @media (max-width: 570px) {
    #searchbox select {
      padding: 8px 3px; } }
  @media (max-width: 415px) {
    #searchbox select {
      width: 90px;
      font-size: 10px; } }
#searchbox .btn.button-search {
  width: 36px;
  height: 36px;
  line-height: 36px; }

.ac_results {
  border: 1px solid #e0e0e0; }
  .ac_results ul li {
    padding: 15px;
    background-color: #FFFFFF;
    border-top: 1px dashed #e0e0e0; }
    .ac_results ul li:first-child {
      border-top: none; }
    .ac_results ul li img {
      height: auto;
      width: 60px;
      margin-right: 20px; }
      .rtl .ac_results ul li img {
        margin-left: 20px;
        margin-right: inherit; }
    .ac_results ul li div.name {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .ac_results ul li .price {
      font-weight: normal;
      font-size: 14px; }
    .ac_results ul li.ac_over {
      background-color: #fafafa;
      color: #000; }
      .ac_results ul li.ac_over .name {
        color: #49cae6; }
