
/* ShortCode page 1 */

input[type=radio], input[type=checkbox] {

    margin: 4px 5px 0;

    margin-top: 1px \9;

    line-height: normal;
}
.shortcode_area {} .typography_grid {} blockquote {
    font-style: italic;
}
blockquote p {
    font-size: 13px;
}
blockquote footer, blockquote small, blockquote .small {
    display: block;
    font-size: 100%;
    line-height: 1.42857143;
    color: #252A2B;
    font-style: normal;
}
blockquote footer:before {
    content: "— ";
}
.blockquote-reverse, blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
    text-align: right;
}
.blockquote-reverse footer:after {
    content: " —";
}
.blockquote-reverse footer:before {
    content: "";
}
ul.fa-ul {
    padding-left: 0;
    margin-left: 2.142857142857143em;
    list-style-type: none;
}
ul.fa-ul > li {
    position: relative;
}
ul.fa-ul li:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: -2.142857142857143em;
    width: 2.142857142857143em;
    top: 0;
    text-align: center;
}
ul.i-caret-right li:before {
    content: "\f0da";
}
ul.i-angle-right li:before {
    content: "\f105";
}
ul.i-bullseye li:before {
    content: "\f140";
}
ul.i-circle li:before {
    content: "\f111";
}
/* ShortCode page 2 */

.sds-btn {
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #93B631;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    padding: 16px 30px;
    transition: all 0.5s ease 0s;
    border-radius: 3px;
    display: inline-block;
}
.sds-btn:hover {
    color: #fff;
    background-color: #84a42c;
}
.sds-btn-large {
    padding: 19px 47px;
}
.sds-btn-small {
    padding: 14px 20px;
    font-size: 12px;
}
.sds-btn-color-1 {
    background-color: #D84800;
}
.sds-btn-color-2 {
    background-color: #2F2F2F;
}
.sds-btn-color-3 {
    background-color: #1C8FD0;
}
.sds-btn-color-4 {
    background-color: #83C640;
}
.sds-btn-color-5 {
    background-color: #965DD3;
}
.sds-btn-color-6 {
    background-color: #00BD9B;
}
.sds-btn-color-7 {
    background-color: #E97E06;
}
.sds-btn-color-8 {
    background-color: #95A5A5;
}
.sds-btn-color-9 {
    background-color: #34495F;
}
.sds-btn-color-10 {
    background-color: #247FBC;
}
.sds-btn-color-1:hover {
    background-color: #b73d01;
}
.sds-btn-color-2:hover {
    background-color: #4b4a4a;
}
.sds-btn-color-3:hover {
    background-color: #1778af;
}
.sds-btn-color-4:hover {
    background-color: #6ea736;
}
.sds-btn-color-5:hover {
    background-color: #7e4eb2;
}
.sds-btn-color-6:hover {
    background-color: #00ae8f;
}
.sds-btn-color-7:hover {
    background-color: #da7605;
}
.sds-btn-color-8:hover {
    background-color: #889797;
}
.sds-btn-color-9:hover {
    background-color: #212f3e;
}
.sds-btn-color-10:hover {
    background-color: #1e699a;
}
.all_large_button a {
    margin-right: 22px;
    margin-bottom: 30px;
}
.all_medium_button a {
    margin-right: 22px;
    margin-bottom: 30px;
}
.all_small_button {} .all_small_button a {
    margin-right: 22px;
    margin-bottom: 30px;
}
.shortcodes_notification {} .alert_box {
    margin-bottom: 20px;
}
.alert_box_content {
    background-color: #A8A8A8;
    border: 1px solid #888888;
    width: 100%;
    min-height: 42px;
    position: relative;
    font-size: 13px;
    font-weight: 600;
}
.alert_box_content p {
    margin: 0px;
    padding: 10px 20px;
    line-height: 1.8;
}
.alert_box_content button.close {
    position: absolute;
    top: 9%;
    right: 0.4%;
    font-size: 13px;
    opacity: 0.3;
}
.alert_box_content button.close:hover {
    opacity: 1;
}
.alert_box_default {
    background-color: #A8A8A8;
    border: 1px solid #888888;
}
.alert_box_blue {
    background-color: #D9EDF8;
    border: 1px solid #BDDCED;
}
.alert_box_red {
    background-color: #F2DEDE;
    border: 1px solid #DFB9B9;
}
.alert_box_green {
    background-color: #DEF0D7;
    border: 1px solid #B9D5AF;
}
.alert_box_yellow {
    background-color: #FDF9E2;
    border: 1px solid #E1DBB8;
}
div.shortcode_tab_1 ul.nav-tab {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #CCD4D9;
}
div.shortcode_tab_1 ul.nav-tab:before, div.shortcode_tab_1 ul.nav-tab:after {
    content: " ";
    display: table;
}
div.shortcode_tab_1 ul.nav-tab:after {
    clear: both;
}
div.shortcode_tab_1 ul.nav-tab li {
    float: left;
    margin-right: 3px;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
div.shortcode_tab_1 ul.nav-tab li:hover {
    background-color: #EAEAEA;
}
div.shortcode_tab_1 ul.nav-tab li a {
    text-align: center;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #53585a;
    display: block;
    /*background: #DCDCDC;*/

	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
div.shortcode_tab_1 ul.nav-tab li.active a {
    background: #fff;
    border-top: 1px solid #CCD4D9;
    border-left: 1px solid #CCD4D9;
    border-right: 1px solid #CCD4D9;
    margin-bottom: -1px;
}
div.shortcode_tab_1 .tab-content {
    border-bottom: 1px solid #CCD4D9;
    border-left: 1px solid #CCD4D9;
    border-right: 1px solid #CCD4D9;
    /*border-top: 1px solid #CCD4D9;*/

margin: 0;
}
div.shortcode_tab_1 div.tab-content > .tab-pane {
    padding: 20px 20px;
    overflow: hidden;
}
div.shortcode_tab_1 div.tab-content > .tab-pane h4 {
    color: #3d4546;
}
div.shortcode_tab_1 div.tab-content > .tab-pane h6 {
    color: #3d4546;
}
div.shortcode_tab_1 div.tab-content > .tab-pane p {
    color: #8B9293;
}
div.shortcode_tab_2 {} div.shortcode_tab_2 ul.nav-tab {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    min-height: 198px;
    float: left;
    border-bottom: 0;
}
div.shortcode_tab_2 ul.nav-tab li {
    float: none;
    margin-bottom: 10px;
    margin-right: 0;
}
div.shortcode_tab_2 ul.nav-tab li a {
    text-align: center;
    padding: 7px 25px;
    font-size: 16px;
    font-weight: 500;
    color: #53585a;
    display: block;
}
div.shortcode_tab_2 ul.nav-tab li a:hover {
    background-color: #eaeaea;
}
div.shortcode_tab_2 ul.nav-tab li.active a {
    background-color: #fff;
    border-top: 1px solid #CCD4D9;
    border-left: 1px solid #CCD4D9;
    border-bottom: 1px solid #CCD4D9;
    border-right: 1px solid rgba(0, 0, 0, 0);
    display: block;
    margin-right: -1px;
}
div.shortcode_tab_2 .tab-content {
    border-bottom: 1px solid #CCD4D9;
    border-top: 1px solid #CCD4D9;
    border-right: 1px solid #CCD4D9;
    overflow: hidden;
    border-left: 1px solid #CCD4D9;
    margin: 0;
}
div.shortcode_tab_2 div.tab-content > .tab-pane {
    padding: 30px 30px;
}
div.shortcode_tab_2 div.tab-content > .tab-pane h4 {
    color: #3d4546;
}
div.shortcode_tab_2 div.tab-content > .tab-pane h6 {
    color: #3d4546;
}
div.shortcode_tab_2 div.tab-content > .tab-pane p {
    color: #8B9293;
}
div.shortcode_tab_3 {} div.shortcode_tab_3 ul.nav-tab {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    min-height: 198px;
    float: right;
    border-bottom: 0;
}
div.shortcode_tab_3 ul.nav-tab li {
    float: none;
    margin-bottom: 10px;
    margin-right: 0;
}
div.shortcode_tab_3 ul.nav-tab li a {
    text-align: center;
    padding: 7px 25px;
    font-size: 16px;
    font-weight: 500;
    color: #53585a;
    display: block;
}
div.shortcode_tab_3 ul.nav-tab li a:hover {
    background-color: #eaeaea;
}
div.shortcode_tab_3 ul.nav-tab li.active a {
    background-color: #fff;
    border-top: 1px solid #CCD4D9;
    border-right: 1px solid #CCD4D9;
    border-bottom: 1px solid #CCD4D9;
    border-left: 1px solid rgba(0, 0, 0, 0);
    display: block;
    margin-left: -1px;
}
div.shortcode_tab_3 .tab-content {
    border-bottom: 1px solid #CCD4D9;
    border-top: 1px solid #CCD4D9;
    border-left: 1px solid #CCD4D9;
    overflow: hidden;
    border-right: 1px solid #CCD4D9;
    margin: 0;
}
div.shortcode_tab_3 div.tab-content > .tab-pane {
    padding: 30px 30px;
}
div.shortcode_tab_3 div.tab-content > .tab-pane h4 {
    color: #3d4546;
}
div.shortcode_tab_3 div.tab-content > .tab-pane h6 {
    color: #3d4546;
}
div.shortcode_tab_3 div.tab-content > .tab-pane p {
    color: #8B9293;
}
.shortcode_according_toggles {} .according {
    margin-bottom: 30px;
}
/*.according_top_header{}

.according_top_header a{min-height: 40px; width: 100%; background-color: #F0F3F5; padding: 7px 20px; font-size: 16px; color: #53585A;margin-bottom: 1px;}
.according_top_header a p{font-size: 16px; color: #53585A; margin-bottom: 0px;}
.according_top_header a p:before{content: "\f067"; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; padding-right: 8px;}

.according_bottom_content{}
.according_bottom_content p{padding: 10px 15px;}
.according_bottom_content img{float: left; margin: 10px 15px 0px 0px;}*/

#accordion-container {
    font-size: 13px;
    background: #ffffff;
    padding: 5px 10px 10px 10px;
    border: 1px solid #cccccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 5px 15px #cccccc;
    -webkit-box-shadow: 0 5px 15px #cccccc;
    box-shadow: 0 5px 15px #cccccc;
}
.accordion-header {
    font-size: 16px;
    background: #EFF2F3;
    margin: 5px 0 0 0;
    padding: 10px 20px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #666666;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.accordion-header:before {
    content: "\f067";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    margin-right: 10px;
}
.active-header {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.active-header:before {
    content: "\f068";
}
.active-header:hover {} .inactive-header {} .inactive-header:hover {} .accordion-content {
    display: none;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-top: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 100% !important;
}
.shortcode_testimonial_1 {
    margin-bottom: 30px;
}
.shortcode_testimonial_1 p {
    color: #9ea6aa;
}
.shortcode_testimonial_1 span {
    color: #53585a;
}
.shortcode_testimonial_1 span:before {
    content: "— "
}
.shortcode_testimonial_2 {
    border: 1px solid #CCD4D9;
    padding: 20px 20px;
    margin-bottom: 30px;
}
.shortcode_testimonial_2 p {
    color: #9ea6aa;
}
.shortcode_testimonial_2 span {
    color: #53585a;
}
.shortcode_testimonial_2 span:before {
    content: "— "
}
.shortcode_testimonial_3 {
    border: 1px solid #CCD4D9;
    padding: 40px 25px;
    margin-bottom: 30px;
}
.shortcode_testimonial_3 img {
    float: left;
    margin: -15px 14px 0px -6px !important;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.shortcode_testimonial_3 p {
    color: #9ea6aa;
}
.shortcode_testimonial_3 span {
    color: #53585a;
}
.shortcode_testimonial_3 span:before {
    content: "— "
}
.testimonial_3_body_text {
    overflow: hidden;
}
.shortcode_testimonial_4 {
    margin-bottom: 30px;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    white-space: normal;
}
.popover.top>.arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    bottom: -11px;
}
.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover>.arrow {
    border-width: 11px;
}
.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover>.arrow:after {
    border-width: 10px;
    content: "";
}
.popover.top>.arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff;
}
.bs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    margin-bottom: 12px;
}
.popover {
    box-shadow: none;
    border-color: #CCD4D9;
    border-radius: 0;
    max-width: 100%;
}
.popover-content {
    padding: 20px 20px;
}
.popover-content p {
    color: #9ea6aa;
}
.popover.top {
    margin-top: 0px;
}
.popover.top>.arrow {
    left: 4%;
}
.shortcode_testimonial_4 img {
    width: 50px;
    height: auto;
    margin-left: 2% !important;
    margin-top: 1% !important;
}
.shortcode_testimonial_4 span {
    vertical-align: middle;
    padding-top: 30px;
    display: inline-block;
    padding-left: 14px;
}
.shortcode_testimonial_4 span:before {
    content: "— "
}
ul.smart_shortcode {
    /*margin-left: 0px;*/

list-style-type: none;
}
.smart_shortcode ul li {
    list-style: none;
}
/* very Small screen (phone) */

@media only screen and (max-width: 767px) {
    div.shortcode_tab_1 ul.nav-tab {
        overflow: hidden;
        padding-bottom: 0px;
        width: 100%;
   }
   div.shortcode_tab_1 ul.nav-tab li {
       width: 100%;
       margin-bottom: 2px;
  }
  div.shortcode_tab_1 ul.nav-tab li a {
      width: 100%;
 }
 div.shortcode_tab_2 ul.nav-tab {
     float: none;
     min-height: initial;
}
div.shortcode_tab_2 ul.nav-tab li a {
    width: 100%;
}
div.shortcode_tab_3 ul.nav-tab {
    float: none;
    min-height: initial;
}
div.shortcode_tab_3 ul.nav-tab li a {
    width: 100%;
}
}
.shortcode_tab_1 .tab-content, .shortcode_tab_2 .tab-content, .shortcode_tab_3 .tab-content {
    margin-bottom: 0px;
    margin-top: 0px;
}
.manufacturer_slider {
    display: block;
    position: relative;
}
.manufacturer_slider .bx-wrapper{
	position: relative;
}
.sds_gallery, .testimonial_slider {
    position: relative;
    display: inline-block;
}
.testimonial_slider .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    outline: 0;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    z-index: 999;
    border: 0px solid #a3a3a3;
    font-size: 0;
    display: block;
    background: none;
    background-color: transparent;
    
}
/*.testimonial_slider .bx-wrapper .bx-controls-direction a:before {
    background: none;
    content: ".";
    display: block;
    height: 48px;
    left: 0;
    opacity: 0.14;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 48px;
    z-index: 1;
}*/

.testimonial_slider .bx-wrapper .bx-controls-direction a:after {
    color: #a3a3a3;
    display: block;
    font-family: "FontAwesome";
    font-size: 30px;
    left: 0;
    padding: 8px 0 0px 8px;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 0;
    z-index: 2;
}
.testimonial_slider .bx-wrapper .bx-controls-direction .bx-prev {
    left: 0;
    background: none;
}
.testimonial_slider .bx-wrapper .bx-controls-direction .bx-prev:after {
    content: "\f104";
}
.testimonial_slider .bx-wrapper .bx-controls-direction .bx-next {
    right: 0;
    background: none;
}
.testimonial_slider .bx-wrapper .bx-controls-direction .bx-next:after {
    content: "\f105";
}
.quote_bottom_content {
    padding: 30px 35px 0px 35px;
}
.quote_bottom_content p {
    color: #9DACB3;
    font-size: 16px;
    line-height: 28px !important;
    font-style: italic;
    text-align: center;
}
.quote_bottom_content p:before {
    content: "\f10d";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    margin-right: 10px;
    color: #FFDE00;
}
.quote_bottom_content p:after {
    content: "\f10e";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    margin-left: 10px;
    vertical-align: middle;
    color: #FFDE00;
}
.quote_bottom_content p.quote_author {
    color: #FFDE00;
    font-style: normal;
    font-weight: bold;
}
.quote_bottom_content p.quote_author:after, .quote_bottom_content p.quote_author:before {
    display: none;
}
#cms #center_column .quote_bottom_content p {
    line-height: normal;
}
.panel-default > .panel-heading {
    position: relative;
}
.panel-default > .panel-heading > .panel-title{
	font-weight: normal;
}
.panel-title a:after {
    content: "\2212";
    display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-top: 8px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 36px;
    text-align: center;
    border-left: 1px solid #ddd;
}
.panel-title a.collapsed:after {
    content: "\2b";
}
.panel-group .panel {
    clear: both;
}
.sds_image_gallery_single {
    /*display: block;*/

padding: 0 !important;
    margin: 0 !important;
    /*float: left;*/
}
.sds_image_gallery_single img {
    display: block;
    float: left;
    margin: 15px !important;
    padding: 4px !important;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ie-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}
.sds_image_gallery_single:hover img {
    box-shadow: 3px 4px 5px #ccc;
    -webkit-box-shadow: 3px 4px 5px #ccc;
    -moz-box-shadow: 3px 4px 5px #ccc;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform-origin-y: 3px;
    -moz-transform-origin-y: 3px;
    transform-origin-y: 3px;
}
.sds_image_gallery_single .gallery_title{
	display: block;
	clear: both;
	margin: 15px;
}
.sds_gallery_group {
    display: block;
    overflow: hidden;
}
.sds_gallery_group a {} .sds_gallery_group img {
    display: block;
    float: left;
    margin: 15px !important;
    padding: 4px !important;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ie-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}
.sds_gallery_group img:hover {
    box-shadow: 3px 4px 5px #ccc;
    -webkit-box-shadow: 3px 4px 5px #ccc;
    -moz-box-shadow: 3px 4px 5px #ccc;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform-origin-y: 3px;
    -moz-transform-origin-y: 3px;
    transform-origin-y: 3px;
}
.manufacturer_slider ul li {
    border: 1px solid #ccc;
}
.manufacturer_slider .bx-wrapper .bx-controls-direction a:before {
    background: none;
    content: ".";
    display: block;
    height: 48px;
    left: 0;
    opacity: 0.14;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 48px;
    z-index: 1;
}
.manufacturer_slider .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    outline: 0;
    width: 28px;
    height: 52px;
    margin-top:-26px;
    text-indent: -9999px;
    z-index: 999;
    border: 1px solid #a3a3a3;
    font-size: 0;
    background: none;
    background-color: transparent;
}
.manufacturer_slider .bx-wrapper .bx-controls-direction a:after {
    color: #a3a3a3;
    display: block;
    font-family: "FontAwesome";
    font-size: 15px;
    height: 48px;
    left: 0;
    padding: 18px 0 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 0;
    width: 25px;
    z-index: 2;
    font-weight: normal;
}
.manufacturer_slider .bx-wrapper .bx-prev:after {
    content: "\f053";
}
.manufacturer_slider .bx-wrapper .bx-controls-direction .bx-prev {
    left: 10px;
    right: auto;
}
.manufacturer_slider .bx-wrapper .bx-next:after {
    content: "\f054";
}
.manufacturer_slider .bx-wrapper .bx-controls-direction .bx-next {
    right: 10px;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}
/*Image Slider*/

.sds_gallery .homeslider-container img {
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
}
.sds_gallery .homeslider-description {
    left: 7%;
    bottom: 20%;
    position: absolute;
    cursor: pointer;
}
.sds_gallery .homeslider-description h2 {
    color: #FFFFFF;
    margin: 0;
    padding: 8px 0px;
    text-transform: uppercase;
}
.sds_gallery .homeslider-description p {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    padding: 0px 0px 0px 5px;
    font-weight: normal
}
.sds_gallery .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    outline: 0;
    width: 52px;
    height: 52px;
    text-indent: -9999px;
    z-index: 999;
    border: 2px solid #f1f1f1;
    font-size: 0;
    border-radius: 50%;
    color: #fff;
    margin-top: -26px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    background: none;
    background-color: transparent;
}
.sds_gallery .bx-wrapper .bx-controls-direction a:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.sds_gallery .bx-wrapper .bx-controls-direction a:after {
    color: #fff;
    display: block;
    font-family: "FontAwesome";
    font-size: 21px;
    height: 48px;
    padding: 16px 0 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 0;
    width: 48px;
    z-index: 2;
}
.sds_gallery .bx-wrapper .bx-prev {
    left: -52px;
}
.sds_gallery .bx-wrapper .bx-prev:after {
    content: "\f053";
}
.sds_gallery .bx-wrapper .bx-next {
    right: -52px;
}
.sds_gallery .bx-wrapper .bx-next:after {
    content: "\f054";
}
.sds_gallery .bx-wrapper:hover .bx-prev {
    opacity: 1;
    left: 20px;
    visibility: visible;
}
.sds_gallery .bx-wrapper:hover .bx-next {
    opacity: 1;
    right: 20px;
    visibility: visible;
}
.sds_gallery .bx-wrapper .bx-pager {
    position: absolute;
    bottom: 4%;
    display: block;
    width: 100%;
    text-align: center;
}
.sds_gallery .bx-wrapper .bx-pager .bx-pager-item {
    display: inline-block;
}
.sds_gallery .bx-wrapper .bx-pager .bx-pager-item a.bx-pager-link {
    width: 14px;
    height: 14px;
    display: block;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    margin: 0px 3px;
    text-indent: -99999px;
}
.sds_gallery .bx-wrapper .bx-pager .bx-pager-item a.bx-pager-link.active {
    background-color: #fff;
}
#cmsinfo_block {
    border: none;
    background: none
}
.sds_service_col {
	margin-bottom: 30px;
} 
.sds_service_col span.sds_icon {
    padding: 3px;
    border: 1px solid #ccc;
    margin-right: 15px;
    float: left;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.sds_service_col span.sds_icon i{
	display: block;
	overflow: hidden;
	text-align: center;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background-color: #444;
	color: #fff;
	line-height: 63px;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.sds_service_col span.sds_icon:hover i{
	background-color: #fff;
	color: #444;
	-webkit-transform: rotateY(180deg) ;
	-moz-transform: rotateY(180deg) ;
	-ms-transform: rotateY(180deg) ;
	-o-transform: rotateY(180deg) ;
	transform: rotateY(180deg) ;
}

.sds_service_col span.sds_icon i:before{
	display: block;
	
}
.sds_service_col .sds_service_content {
	overflow: hidden;
}
.sds_service_col .sds_service_content h3{
	
}
.sds_service_col .sds_service_content > div{
	
}

.sds_features_wrap{}

.sds_feature_col{
	margin-bottom: 30px;
}
.sds_feature_col span.sds_icon{
	display: block;
	margin:0 auto;
	color: #999;
	margin-bottom: 15px;
	overflow: hidden;
	text-align: center;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.sds_feature_col:hover span.sds_icon{
	color: #000;
}

.sds_feature_col span.sds_icon i{
	display: block;
}
.sds_feature_col .sds_feature_content{
	display: block;
	overflow: hidden;
	text-align: center;
}
.sds_feature_col .sds_feature_content h3{
	font-weight: bold;
}
.sds_feature_col .sds_feature_content > div{
	text-align: center;

}
.icon-Adminsmartshortcode{
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
}
.icon-Adminsmartshortcode:before{
	content: "\f160";
	text-decoration: inherit;
	display: inline-block;
	speak: none;
}


#left_column div.shortcode_tab_1 div.tab-content > .tab-pane, #right_column div.shortcode_tab_1 div.tab-content > .tab-pane{
	padding: 10px 15px;
}

#left_column div.shortcode_tab_1 div.tab-content .tab-pane ul.smart_shortcode.product_list.grid, #right_column div.shortcode_tab_1 div.tab-content .tab-pane ul.smart_shortcode.product_list.grid{
	padding-bottom: 20px;
}

#left_column div.shortcode_tab_1 div.tab-content .tab-pane ul.smart_shortcode.product_list.grid li.ajax_block_product, #right_column div.shortcode_tab_1 div.tab-content .tab-pane ul.smart_shortcode.product_list.grid li.ajax_block_product{
	width: 100% !important;
	clear: both;
	display: block;
}

#left_column .sds_gallery_group, #right_column .sds_gallery_group{
	padding: 0;
}

.sds_feature_content > h3{
	margin-top:0;
}

#left_column .shortcode_testimonial_3, #right_column .shortcode_testimonial_3{
	padding:15px;
}

#left_column .shortcode_testimonial_3 img, #right_column .shortcode_testimonial_3 img{
	width: 60px;
	margin: 0px 14px 0px -6px !important;
}

.footer-block.block > h4{
    padding:0;
    background:none;
    text-transform: none;
}