	@import "compass";
	@import "theme_variables";
	@import "vars/cd";
	@import "cd/product";


//Verticalmenu Module
#pts-verticalmenu .vertical_title {
	letter-spacing: 1px;
	font-weight: 400;
}


div.star.star_on {
  &:after {
    color: #eb5454;
  }
}



