	@import "compass";
	@import "theme_variables";
	@import "vars/fashion";	
	@import "fashion/product";
	

/*Blocksearch*/

div#pts_search_block_top {
	font-size: $font-size-base - 1;
	form#searchbox {
		
		.search_query {
			line-height: 42px;
			@include size(280px, 42px);
		}
	}
	select {
		height: 42px;
		line-height: 42px;
		background-color: #f6f6f6;
	}
	.btn.button-search {
		@include size(42px, 42px);
		@include rtl-float-right();
	}
}
.image-banner .item-img {
	@include border-top-radius(4px);
	@include border-bottom-radius(4px);
}




div.star.star_on {
  &:after {
    color: #000;
  }
}

