	@import "compass";
	@import "theme_variables";
	@import "vars/gifts";
	@import "gifts/product";

.image-banner .item-img {
	@include border-top-radius(4px);
	@include border-bottom-radius(4px);
}


div.star.star_on {
  &:after {
    color:#f8c255;
  }
}


