	@import "compass";
	@import "theme_variables";
	@import "vars/sport";	
	@import "sport/product";


.image-banner .item-img {
	@include border-top-radius(4px);
	@include border-bottom-radius(4px);
}

html, .p-author .profile .p-name, .custom-timeline-owner-profile .p-name, .cards-base p, .cards-base p a, .timeline-header .custom-timeline-summary, .timeline-header .custom-timeline-summary a:link, .timeline-header .custom-timeline-summary a:visited, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited, .p-author a.profile:hover .p-name, .p-author a.profile:focus .p-name {
	color: #fff!important;
}


.star {
  position: relative;
  top: -1px;
  @include rtl-float-left();
  width: 12px;
  height: 5px;
  overflow: hidden;
  cursor: pointer;
  font-size: 11px;
  font-weight: normal;
  line-height: 12px;
}

.star {
  display: block;
  a {
    display: block;
    position: absolute;
    text-indent: -5000px;
  }
}

div.star {
  &:after {
    content: "";
    display: block;
    background-color: #dbdbdb;
    position: absolute;
    @include size(12px, 4px);
  }
}

div.star.star_on {
  display: block;
  &:after {
    content: "";
    display: block;   
    background-color: #efd528;
    position: absolute;
     @include size(12px, 4px);
  }
}

div.star.star_hover {
  &:after {
    content: "";
    display: block;   
    background-color: #dbdbdb;
    position: absolute;
    @include size(12px, 4px);
  }
}




