@import "compass";
@import "theme_variables";
#header{
  .block_verticalmenu {
    width: 280px;
    @include rtl-float-left();
     @media (max-width: $screen-sm-max) {
      width:  240px;
     }
  }
   #pts-verticalmenu {
    position: relative;
    @include rtl-text-align-left();
      &:hover{
        .pts-verticalmenu{
              display: block;
            }
      }
      .pts-verticalmenu {
        height: 100%;
        overflow: visible;
        position: absolute;
        width: 100%;
        z-index: 1000;
        display: none;
         ul.verticalmenu {
          float: none;
          background-color: $vertical-menu-content-bg;
          border: $vertical-menu-content-border;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.07);
        }
      }
  }
}
  #pts-verticalmenu {
      
      .pts-verticalmenu {
         padding: 0;
        ul.verticalmenu {
          > li {
             @media (max-width: $screen-sm-max) {
              .dropdown-menu {
                width: 100% !important;
                 background-color: #eee;
              }
              &.open {
                border-bottom:1px dashed #e1e1e1
              }
            }
            > a {
              display: block;
              font-size: 12px;
              font-weight: normal;
              padding: 15px;
              border-bottom: 1px dashed $border-color;
              background: none;
              &:focus,
              &:hover {
                background-color: $nocolor;
                .caret {
                  border-right-color: #FFFFFF;
                }
              }
              .caret {
                border: 0;
                position: absolute;
                @include rtl-right(0px);
                top: 50%;
                &:before{
                  content: "\f105";
                  font: 12px $font-icon;
                  position: absolute;
                  @include rtl-right(15px);
                  top: -9px;
                }
              }
              .menu-icon {
                display: block;
                height: 20px;
                @include rtl-background-position-left(top !important);
                span {
                  display: block;
                  @include rtl-margin-left(35px);
                  line-height: normal;
                }
              }
            }

            &.last,
            &:last-child{
              a {
                border: 0;
              }
            }
            &:hover {
              > a {
                color: #7bbd42;
                .caret {
                  border-left-color: #7bbd42;
                }
              }
            }
          }
        }
      }
      .vertical_title {
        cursor: pointer;
        color: #fff;
         background-color: #3b424c;
         font-size: $font-size-base - 1;
         padding: 0 20px;
         line-height: 50px;
         margin: 0;
         i {
          top: 20px;
          position: relative;
         }
      }
    .navbar-nav > li {
      width: 100%;
      height: auto;
      position: static;
      padding: 0;
      /*position: static;*/
    }
    .navbar-nav > li:hover > .dropdown-menu {
      @include rtl-left(100%);
      top: 0px;
      opacity: 1;
    }
    .navbar-nav > li .parent {
      position: relative;
    }
    .navbar-nav > li .parent > .dropdown-toggle {
      text-transform: none;
      font-weight: normal;
      color: #2e3a47;
    }
    .navbar-nav > li .parent > .dropdown-toggle:hover {
      color: #7bbd42;
    }
    .navbar-nav > li .parent > .dropdown-menu {
      min-height: 100px;
      height: 100px;
      height: auto !important;
      -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.13);
      box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.13);
    }
    .navbar-nav > li .parent:hover > .dropdown-menu {
       @include rtl-left(100%);
      top: 0px;
      opacity: 1;
      filter: alpha(opacity=100);
    }

      @media (min-width: $screen-sm-max) {
        .navbar-nav > li.parent:hover > a:after {
          position: absolute;
          content: "";
          @include rtl-right(-5px);
          top: 0;
          @include size(0,100%);
          border: 5px solid #FFFFFF;
          z-index: 9999;
        }
      }
    .pts-colorbox {
      display: none !important;
    }
    .dropdown-menu {
      @media (min-width: $screen-sm-max) {
          @include rtl-left (-9999px);
          top: -9999px;
          border: 0;
          display: block;
          min-height: 100%;
          height: auto !important;
          min-width: 215px;
          padding: 20px;
          background: #FFFFFF;
          @include opacity(0);
          @include border-radius(0);
          @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.35));
      }
      ul li {
        line-height: 30px;
        padding-bottom: 3px;
        padding-top: 3px;

      }
      .widget-inner {
        @include box-shadow(none);
         ul li {
           padding-left: 0;
           padding-right: 0;
           border-top: none;
         }
      }
    }
  }

.pts-verticalmenu{
  .mega-group .caret {
    display: none;
  }
  .mega-group > .dropdown-toggle {
    display: block;
    font-weight: bold;
    padding: 6px 5px;
    text-transform: uppercase;
    border-bottom: solid 1px #E5E5E5;
  }
  .mega-group .dropdown-mega .mega-col-inner > ul > li a {
    margin-left: 6px;
  }
  .mega-col .mega-col-inner > ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  .mega-col .mega-col-inner > ul > li {
    list-style: none;
    margin-left: 0;
  }
  .mega-col .mega-col-inner > ul > li > a {
    clear: both;
    color: #555555;
    display: block;
    line-height: 20px;
  }
  .dropdown-submenu:hover .dropdown-menu {
    display: block;
  }
  .dropdown-submenu > .dropdown-menu {
    border-radius: 0 6px 6px 6px;
    @include rtl-left (100%);
    margin-left: -6px;
    margin-top: -6px;
    top: 0;
  }
}
#pts-vertical-menu.vertical-right {
   @media (min-width: $screen-sm-max) {
        .navbar-nav > li.parent:hover > a:after {
          @include rtl-left(-5px);
        }
      }
   .dropdown-menu {
    @media (min-width: $screen-sm-max) {
      @include rtl-right(-9999px);
      }
    }
    .navbar-nav > li:hover > .dropdown-menu {
      @include rtl-right (100%);
      left: inherit;
    }
}